01---swipe-títulos-JNkY1D20bJU5xB7S.json
{"createdAt":"2025-06-06T00:34:03.311Z","updatedAt":"2025-06-27T13:08:21.897Z","id":"JNkY1D20bJU5xB7S","name":"01 - SWIPE TÍTULOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,960],"id":"a2233aa8-66fa-4698-ae37-0be4a6ae025b","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=01 - SWIPE TÍTULOS 3.0","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,960],"id":"8ee5e529-11b4-4a5e-98af-054516bf3846","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,700],"id":"bc8a5b4b-b4d4-4c91-95cc-256181a9c8b1","name":"Limpeza Periódica DB"},{"parameters":{"operation":"delete","tableId":"Milionário","matchType":"allFilters","filters":{"conditions":[{"keyName":"pt","condition":"is","keyValue":"true"},{"keyName":"en","condition":"is","keyValue":"true"},{"keyName":"es","condition":"is","keyValue":"true"},{"keyName":"fr","condition":"is","keyValue":"true"},{"keyName":"it","condition":"is","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,700],"id":"e1914670-281f-482c-80e1-99dda9cd877a","name":"Limpar Registros Marcados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,340],"id":"cbde792d-89f0-4d5e-a697-dea410c217af","name":"Iniciar Coleta a Cada 3 Dias1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"19fb97f7-6ecb-445d-a26e-0e1d6b725842","name":"Finalizar Execução1"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,260],"id":"feac1e17-032e-4141-94cf-04a9df13c71c","name":"Filtrar Vídeos Populares Recentes1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,200],"id":"782a7c56-5711-42e9-aeb6-c4c5e45a6d91","name":"Ordenar por Visualizações1"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,200],"id":"dd93200a-82df-4da9-b326-b6860a9b91cb","name":"Extrair Lista de Vídeos1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,200],"id":"16577dde-7dc9-4018-8ca3-95ea6ba2cae2","name":"Processar Cada Vídeo1"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCBEwv2GeTfSbKrsSCyTcGlA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,340],"id":"dcc9bf3d-b7ad-4c79-b12d-d799392b20c0","name":"Configurar ID do Canal YouTube1"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,260],"id":"04fc3eee-8bd8-4355-a1e5-2a1e4a5f0043","name":"Buscar Vídeos do Canal1","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,440],"id":"6a042d30-cfb8-45d2-a1c2-ba5036c55970","name":"Aguardar e Reiniciar Processo1","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,200],"id":"2c6b4de6-41c7-4fee-9d20-01f80c2d14ea","name":"HTTP Request","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,200],"id":"d5a9a78d-f9fb-43d2-8a84-41436d649316","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,200],"id":"fde24bba-e6f8-4d63-8472-6be2b171ec18","name":"Aggregate"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,200],"id":"0a48fc6b-2537-4c56-947d-33d0725fbe6e","name":"Code"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,200],"id":"b1507ae8-ae91-40ff-93f7-c747f3c998b7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,420],"id":"d26e9ebd-bc7a-4468-8476-1e456d30f531","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,420],"id":"dc699f7a-29d6-4d56-a1e2-85a7a866433b","name":"Structured Output Parser"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,200],"id":"90a6ee23-05f1-4978-80b7-39e10285f616","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,200],"id":"5e335497-7f46-405c-a49a-2df71dc88a06","name":"Wait","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo1').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,200],"id":"2b0470a6-dcf6-4f5f-9045-be681fc3f251","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code1').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,200],"id":"cae52e89-715f-4b25-8948-5ca991768067","name":"Edit Fields"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,200],"id":"901fa7ab-ab1c-42e2-91ed-1643cfe860b0","name":"Salvar Título no Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,-280],"id":"becfb322-f1cf-489a-93d3-f7956062c7c7","name":"Iniciar Coleta a Cada 3 Dias"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,-620],"id":"e8868eb1-2260-4f0a-a763-5b0a7ca9fd77","name":"Finalizar Execução"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,-360],"id":"db93b2e8-86a0-4a92-b019-6ed467ff0f82","name":"Filtrar Vídeos Populares Recentes","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,-420],"id":"b6ce6691-2d3a-468b-8c13-f0f975cd4e21","name":"Ordenar por Visualizações"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,-420],"id":"d0c7d06c-4d03-42c7-9f6e-4c45a6940e7d","name":"Extrair Lista de Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,-420],"id":"8f0c7497-535c-484e-bc96-51e46d31a59f","name":"Processar Cada Vídeo"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCaHAdeFGiWZWz_UA_wq4Qew","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-280],"id":"8bd91b7f-2708-48c6-9aa4-8fa9c6a289c4","name":"Configurar ID do Canal YouTube"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,-360],"id":"48983976-3075-4c26-b6a3-6a0f6e9d4ec2","name":"Buscar Vídeos do Canal","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,-180],"id":"3aaf545b-c9fc-4ad2-a28a-da4b2d4dd5a8","name":"Aguardar e Reiniciar Processo","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,-420],"id":"243997f2-5c23-4f17-9737-4819134bd3c8","name":"HTTP Request1","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,-420],"id":"fd83666a-5f33-41cb-a216-290072e3be1e","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,-420],"id":"8ebd7a04-9f89-45a0-99d4-a2e5ea8fc80b","name":"Aggregate1"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-420],"id":"cd113ace-330d-4e1d-8d82-b5103f7e1048","name":"Code2"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,-420],"id":"7f3662d6-b824-4540-9193-97bfd07b1bd4","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,-200],"id":"8df4fd16-8dc2-4936-84c4-36ef046f1f64","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,-200],"id":"58237fb7-bfd7-4157-8763-895b5943e298","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent2\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,-420],"id":"01948c78-c843-4c91-b8ca-19b025da6b96","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,-420],"id":"926bb2a0-d425-4b38-a21f-daabcda4a831","name":"Wait1","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,-420],"id":"e6e6d65b-4026-44fc-b20e-68a1cea1104a","name":"AI Agent3"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code3').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,-420],"id":"567d4d4b-9b9e-44de-8f0f-8608f549e49c","name":"Edit Fields1"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,-420],"id":"ac38bafc-14c5-47f9-bb8f-38c372a39d69","name":"Salvar Título no Banco de Dados1","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,-940],"id":"e2c635e4-67e4-4d9d-b433-43acbf03444a","name":"Iniciar Coleta a Cada 3 Dias2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,-1280],"id":"ae568d57-83f7-444f-8872-604564c25990","name":"Finalizar Execução2"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,-1020],"id":"2bcaf938-a6ca-4ef2-82af-b8729ddd9eef","name":"Filtrar Vídeos Populares Recentes2","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,-1080],"id":"776f33ff-7383-42de-86ed-88f0b0ab8324","name":"Ordenar por Visualizações2"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,-1080],"id":"4eee1edc-941a-44bf-bd9b-da0f1fe42845","name":"Extrair Lista de Vídeos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,-1080],"id":"626cca13-1e35-47fa-b2fd-4ea75f84ea92","name":"Processar Cada Vídeo2"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UC9Ik8JEjAxqpC7zqHGRaliA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-940],"id":"bf3d6864-5241-489c-9ba5-d2f7d21b5487","name":"Configurar ID do Canal YouTube2"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,-1020],"id":"4772b2a2-8cec-49b7-b52f-82ae8aa26819","name":"Buscar Vídeos do Canal2","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,-840],"id":"572c1512-fbb8-4d4f-984d-b0f19a6cf373","name":"Aguardar e Reiniciar Processo2","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-1020],"id":"0c17322d-21c5-439b-bf49-2ace804ad39e","name":"HTTP Request2","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,-1080],"id":"34c98e44-d974-4380-8fee-3165d76a8907","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,-1080],"id":"3f11e102-1551-406f-b140-3a49c5e5d528","name":"Aggregate2"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-1080],"id":"e62d4d41-e9c6-491e-95f9-58cd4467797f","name":"Code4"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,-1080],"id":"30b7a454-a22c-4cd6-a279-a2b4dc3e7202","name":"AI Agent4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,-860],"id":"af90783a-f2c5-48d9-8383-4cbcf5634184","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,-860],"id":"10020094-7b57-4f4c-b7d7-1208e325ce1e","name":"Structured Output Parser2"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent4\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,-1080],"id":"8eafdf13-d781-4fd7-badd-16a7d05be559","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,-1080],"id":"16bd11f8-be90-48db-b9f5-269bb2628e37","name":"Wait2","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo2').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,-1080],"id":"54dd54c7-5839-47ba-9039-4276a7f1b01b","name":"AI Agent5"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code5').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,-1080],"id":"79f81b8b-63b9-471e-af67-0a16d824444c","name":"Edit Fields2"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,-1080],"id":"67a9881f-0984-46b2-8f4d-b16edcd1643a","name":"Salvar Título no Banco de Dados2","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,-1580],"id":"d89ae80d-85f0-496b-badb-2eef12061eef","name":"Iniciar Coleta a Cada 3 Dias3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,-1920],"id":"885e290c-8bbb-49c3-b39c-29d3a2b8a668","name":"Finalizar Execução3"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-1660],"id":"edf9dd51-0c1f-4657-a363-ea122f61193c","name":"Filtrar Vídeos Populares Recentes3","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,-1720],"id":"e224f76b-632b-4a02-bc1f-d0d4676be3ff","name":"Ordenar por Visualizações3"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,-1720],"id":"efa466f1-0e05-402d-8137-aac96e42af52","name":"Extrair Lista de Vídeos3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,-1720],"id":"db5b9ecc-5cd8-40ba-a6ba-c592f3a979d9","name":"Processar Cada Vídeo3"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UC1CECTOVYDDHP8Iisqx_AUQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,-1580],"id":"13afd57e-b073-42c6-80c5-ad44da29711d","name":"Configurar ID do Canal YouTube3"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,-1660],"id":"0400c67a-00f1-4b87-9ac8-250c5d563666","name":"Buscar Vídeos do Canal3","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,-1480],"id":"cdc34575-dfa5-4002-9884-eb1d179b1567","name":"Aguardar e Reiniciar Processo3","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,-1660],"id":"7e529c7c-02f2-4dd1-826b-e4a4257e477c","name":"HTTP Request3","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,-1720],"id":"ff157dce-09f0-4e03-ab04-c994671ca270","name":"Split Out3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,-1720],"id":"3e75d28a-e88e-44f2-991d-2494e0e61b9d","name":"Aggregate3"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-1720],"id":"d5594959-ecd9-4cbf-b26b-596894ff5707","name":"Code6"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,-1720],"id":"9bfbe8d3-8d7d-4e6b-912b-46de94da3f31","name":"AI Agent6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,-1500],"id":"990db660-fd1d-4477-a8eb-f0127e28ad0a","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,-1500],"id":"143f358d-cf45-4ebe-a8dd-8fab8c6dae55","name":"Structured Output Parser3"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent6\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,-1720],"id":"8c8cb997-c789-4cdb-82d4-c1cfdb8c17da","name":"Code7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,-1720],"id":"f386b730-cd11-4380-8954-cc9f826fb39a","name":"Wait3","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo3').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,-1720],"id":"42ad1347-6238-4b7f-9e63-18daf8fb9ba8","name":"AI Agent7"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code7').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,-1720],"id":"590ad3b6-ba50-491f-bddb-5b970808dc6c","name":"Edit Fields3"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,-1720],"id":"6bbfe4e5-f1d6-451b-8f00-d8ada86798cd","name":"Salvar Título no Banco de Dados3","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}}],"connections":{"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Limpeza Periódica DB":{"main":[[{"node":"Limpar Registros Marcados","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes1":{"main":[[{"node":"Ordenar por Visualizações1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Ordenar por Visualizações1":{"main":[[{"node":"Extrair Lista de Vídeos1","type":"main","index":0}]]},"Extrair Lista de Vídeos1":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"Processar Cada Vídeo1":{"main":[[{"node":"Finalizar Execução1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Configurar ID do Canal YouTube1":{"main":[[{"node":"Buscar Vídeos do Canal1","type":"main","index":0}]]},"Buscar Vídeos do Canal1":{"main":[[{"node":"Filtrar Vídeos Populares Recentes1","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0},{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Salvar Título no Banco de Dados","type":"main","index":0}]]},"Salvar Título no Banco de Dados":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes":{"main":[[{"node":"Ordenar por Visualizações","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Ordenar por Visualizações":{"main":[[{"node":"Extrair Lista de Vídeos","type":"main","index":0}]]},"Extrair Lista de Vídeos":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Finalizar Execução","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Configurar ID do Canal YouTube":{"main":[[{"node":"Buscar Vídeos do Canal","type":"main","index":0}]]},"Buscar Vídeos do Canal":{"main":[[{"node":"Filtrar Vídeos Populares Recentes","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0},{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Code3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Salvar Título no Banco de Dados1","type":"main","index":0}]]},"Salvar Título no Banco de Dados1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes2":{"main":[[{"node":"Ordenar por Visualizações2","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo2","type":"main","index":0}]]},"Ordenar por Visualizações2":{"main":[[{"node":"Extrair Lista de Vídeos2","type":"main","index":0}]]},"Extrair Lista de Vídeos2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"Processar Cada Vídeo2":{"main":[[{"node":"Finalizar Execução2","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Configurar ID do Canal YouTube2":{"main":[[{"node":"Buscar Vídeos do Canal2","type":"main","index":0}]]},"Buscar Vídeos do Canal2":{"main":[[{"node":"Filtrar Vídeos Populares Recentes2","type":"main","index":0}]]},"Aguardar e Reiniciar Processo2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent4","type":"ai_outputParser","index":0},{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Code5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Salvar Título no Banco de Dados2","type":"main","index":0}]]},"Salvar Título no Banco de Dados2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes3":{"main":[[{"node":"Ordenar por Visualizações3","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo3","type":"main","index":0}]]},"Ordenar por Visualizações3":{"main":[[{"node":"Extrair Lista de Vídeos3","type":"main","index":0}]]},"Extrair Lista de Vídeos3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"Processar Cada Vídeo3":{"main":[[{"node":"Finalizar Execução3","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Configurar ID do Canal YouTube3":{"main":[[{"node":"Buscar Vídeos do Canal3","type":"main","index":0}]]},"Buscar Vídeos do Canal3":{"main":[[{"node":"Filtrar Vídeos Populares Recentes3","type":"main","index":0}]]},"Aguardar e Reiniciar Processo3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent6","type":"ai_outputParser","index":0},{"node":"AI Agent7","type":"ai_outputParser","index":0}]]},"Code7":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Salvar Título no Banco de Dados3","type":"main","index":0}]]},"Salvar Título no Banco de Dados3":{"main":[[{"node":"Wait3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Limpeza Periódica DB":{"recurrenceRules":[]},"node:Iniciar Coleta a Cada 3 Dias1":{"recurrenceRules":[203]},"node:Iniciar Coleta a Cada 3 Dias":{"recurrenceRules":[203]},"node:Iniciar Coleta a Cada 3 Dias2":{"recurrenceRules":[203]},"node:Iniciar Coleta a Cada 3 Dias3":{"recurrenceRules":[203]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a43f6cd-ab48-4980-8adf-e2df8fdb81a2","triggerCount":5,"tags":[]}