01---swipe-títulos---terror-IjNVTrWqBABfp4TI.json
{"createdAt":"2025-08-10T01:17:25.459Z","updatedAt":"2025-08-10T01:19:21.068Z","id":"IjNVTrWqBABfp4TI","name":"01 - SWIPE TÍTULOS - TERROR","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,2880],"id":"eecc39e6-e294-42f7-9741-38005d5520e0","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=01 - SWIPE TÍTULOS 3.0","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,2880],"id":"c9a7568e-1b4f-47f3-9969-20c9fa46bfbb","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,2620],"id":"46c5978f-590c-4639-9a26-9ffe33086e46","name":"Limpeza Periódica DB"},{"parameters":{"operation":"delete","tableId":"Milionário","matchType":"allFilters","filters":{"conditions":[{"keyName":"pt","condition":"is","keyValue":"true"},{"keyName":"en","condition":"is","keyValue":"true"},{"keyName":"es","condition":"is","keyValue":"true"},{"keyName":"fr","condition":"is","keyValue":"true"},{"keyName":"it","condition":"is","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,2620],"id":"ceb9f143-1e2c-4f99-9edd-1b2bb1ae4455","name":"Limpar Registros Marcados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,2260],"id":"ba62b64c-ed78-420d-a5c0-6f961d53c466","name":"Iniciar Coleta a Cada 3 Dias1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,1920],"id":"607fd36c-1ee3-493c-ae98-dacab72a7887","name":"Finalizar Execução1"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,2180],"id":"5f218f98-f20c-4f93-bd16-8fd43276ce9e","name":"Filtrar Vídeos Populares Recentes1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,2120],"id":"c7d2d448-993f-4d2f-90de-f0a48162bec2","name":"Ordenar por Visualizações1"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,2120],"id":"77109949-1550-45d2-bef6-a0c9c9cdcaa9","name":"Extrair Lista de Vídeos1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,2120],"id":"d687b167-6820-4d25-b45c-5947f9ba848a","name":"Processar Cada Vídeo1"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCeChOGYUYobTdy4wb6ZZzfA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,2260],"id":"9c5ee163-6099-4e9f-96d2-8f7e0387aed6","name":"Configurar ID do Canal YouTube1"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,2180],"id":"9d9de5a5-a0c0-4915-9f38-8a665681cf1e","name":"Buscar Vídeos do Canal1","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,2360],"id":"f698e3c1-4985-47d9-8575-71d4d387b046","name":"Aguardar e Reiniciar Processo1","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,2120],"id":"d4264b87-c15c-417a-9599-585fc07a1cd4","name":"HTTP Request","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,2120],"id":"a57527c1-2b39-4973-8dfe-5fcf6c83e47d","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,2120],"id":"439f79e6-7ac0-48d1-87eb-1b8d987c6865","name":"Aggregate"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,2120],"id":"54b99f48-ee68-40b9-94a4-9f8d29272cb0","name":"Code"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,2120],"id":"e0074f0e-8148-42cd-846a-2430b278d8f6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,2340],"id":"94511ade-40dd-4db6-bd60-4f1f0d765a60","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,2340],"id":"74f30fd5-bba8-45cc-b69f-d0566cc08b6d","name":"Structured Output Parser"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,2120],"id":"317e16cb-0c68-43c8-97bb-e239d62c91ca","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,2120],"id":"56585bca-2f11-402b-843b-27a769093496","name":"Wait","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo1').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,2120],"id":"178372ad-f1b3-4103-b3a6-c0f760b12868","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code1').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,2120],"id":"30a31bdc-9ccf-47ae-a743-d089951a3d65","name":"Edit Fields"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,2120],"id":"3c4c0dee-537a-46b2-8749-eafa858d72a9","name":"Salvar Título no Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,1640],"id":"da5a0ee5-5cd5-403c-8043-e54d2d830334","name":"Iniciar Coleta a Cada 3 Dias"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,1300],"id":"2a6a595a-4c2f-458d-8d62-762dc15f8a07","name":"Finalizar Execução"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,1560],"id":"4c8a81a0-ffa7-4cf8-bca1-bc1276020310","name":"Filtrar Vídeos Populares Recentes","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,1500],"id":"1c08f901-44d1-496e-badc-921dd74f4f36","name":"Ordenar por Visualizações"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,1500],"id":"64e013af-894e-42cf-a061-169ca7554c1b","name":"Extrair Lista de Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,1500],"id":"686dcb3b-472e-403f-8299-7b5d4bed0346","name":"Processar Cada Vídeo"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCa35iWjMUgTgRri1Hv65tUA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,1640],"id":"8d97f715-1016-4ec2-a68c-a4ed3cf541b0","name":"Configurar ID do Canal YouTube"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,1560],"id":"6b2a4d80-23c0-4447-a325-eb60d90734aa","name":"Buscar Vídeos do Canal","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,1740],"id":"21115669-bb30-48e9-a31b-b10726e197e1","name":"Aguardar e Reiniciar Processo","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,1500],"id":"5a0152b9-4422-4fbe-b527-e113b6ea9cc1","name":"HTTP Request1","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,1500],"id":"64100850-960d-40fe-b881-f3f7db3b6818","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,1500],"id":"a3c7b1eb-7ed0-49f1-8661-e3b45ccfb9de","name":"Aggregate1"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1500],"id":"d86d1c68-b2a0-41d3-b9a7-0e0cdfcc2b0d","name":"Code2"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,1500],"id":"4ae9eb5f-0576-4480-9bfc-236fdb09de26","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1720],"id":"30b56f10-f44e-4dee-a8bc-f1f08b9c5e82","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,1720],"id":"b745bc59-3a6a-4fd1-8481-deec827eb97d","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent2\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1500],"id":"3e335b0d-263d-4cae-8b7f-e4e9abc0ded4","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,1500],"id":"207c867e-0c82-4695-8587-491b5ca14b65","name":"Wait1","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,1500],"id":"6a7435f2-d980-4369-af20-71ea4c8a3a73","name":"AI Agent3"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code3').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,1500],"id":"41226934-eca3-4a4a-ac7d-5e3e713b8130","name":"Edit Fields1"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,1500],"id":"0e3635c7-0079-4c10-9957-19ee633bff15","name":"Salvar Título no Banco de Dados1","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,980],"id":"08e83319-f963-4b87-abb0-5aa41263a5c7","name":"Iniciar Coleta a Cada 3 Dias2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,640],"id":"91d455f4-51c5-41cd-a9b3-b4a92e1d218f","name":"Finalizar Execução2"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,900],"id":"21dc25f0-081d-4fb7-b823-a54f3f9c8ade","name":"Filtrar Vídeos Populares Recentes2","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,840],"id":"7a9372d8-db69-49d4-a455-9a002e281b76","name":"Ordenar por Visualizações2"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,840],"id":"66733326-0e47-474f-acc6-b0e94f5f62d4","name":"Extrair Lista de Vídeos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,840],"id":"d97e7c23-5303-4de4-b3fe-1307632ed55b","name":"Processar Cada Vídeo2"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCTI6YtnONPkwv_BYXK1AJwQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,980],"id":"86243bfa-d992-43b7-8d34-51ad5e51f510","name":"Configurar ID do Canal YouTube2"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,900],"id":"1c7de5db-46fd-4439-a73e-c1e4d48a2ba3","name":"Buscar Vídeos do Canal2","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,1080],"id":"863af564-2a82-4a7c-8cbd-4162ace0dc2c","name":"Aguardar e Reiniciar Processo2","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,900],"id":"c88e76e7-44bb-4788-a870-f7e1aa26e5e6","name":"HTTP Request2","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,840],"id":"9a025f87-60f0-4eff-97fa-f5b7807d5bad","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,840],"id":"fb0848fc-c8c5-402a-97de-cc811fa525b3","name":"Aggregate2"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,840],"id":"f4218ada-5af2-46fa-8d4d-75907869afaa","name":"Code4"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,840],"id":"1b8704c9-6049-431e-9e3e-80fba5b96a52","name":"AI Agent4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1060],"id":"24eb8e75-2c65-4555-abc8-7cc203fb0c73","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,1060],"id":"eeae1229-f46e-4e48-9534-57740c04ca8d","name":"Structured Output Parser2"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent4\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,840],"id":"1e5b30ea-98c2-4922-b82d-742de902b81e","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,840],"id":"eb9cea9f-c9ef-4d26-bd89-2e1fc16d09aa","name":"Wait2","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo2').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,840],"id":"d37009d2-167f-4fa3-a026-6a966d09e54e","name":"AI Agent5"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code5').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,840],"id":"dca23bb8-79e3-49f5-a80e-5e88ee9d089f","name":"Edit Fields2"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,840],"id":"bbfd1c8d-1e92-4839-94cd-9df5ddb1b9c6","name":"Salvar Título no Banco de Dados2","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,340],"id":"d9453b09-a754-4d23-a78b-7e5da6334d3f","name":"Iniciar Coleta a Cada 3 Dias3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"a99a6063-d265-4c19-bcb1-d85c79e9cbe7","name":"Finalizar Execução3"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,260],"id":"c722c4dd-b066-4b5a-bcff-4f5d97c84b71","name":"Filtrar Vídeos Populares Recentes3","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,200],"id":"54afe932-44d3-49ea-b1ad-f8f07cc888f4","name":"Ordenar por Visualizações3"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,200],"id":"a1d992cd-9f91-43b2-bf3a-68c9e6b136db","name":"Extrair Lista de Vídeos3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,200],"id":"28324857-d421-43f2-b511-0c46fd72d2a0","name":"Processar Cada Vídeo3"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCRyNPae7YBEfsgNlGHTw3ow","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,340],"id":"645dd0ea-5d6a-4472-9f7a-148a45659a07","name":"Configurar ID do Canal YouTube3"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,260],"id":"c22ec027-6e2b-4940-a541-539dccd55b71","name":"Buscar Vídeos do Canal3","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,440],"id":"8d0ee2df-886f-4369-ade4-4f95724902d2","name":"Aguardar e Reiniciar Processo3","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,260],"id":"3b1806ed-1923-4b86-a23f-e7cc60d5dbf3","name":"HTTP Request3","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,200],"id":"1d44f688-1875-4f69-afa8-f32c013922e6","name":"Split Out3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,200],"id":"6bad67bf-0eff-4470-8af9-459e34669c2d","name":"Aggregate3"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,200],"id":"edee37ab-9072-44fe-9aab-075febb867c9","name":"Code6"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,200],"id":"91d1ea12-9be0-4614-bff6-563a9a5aa8df","name":"AI Agent6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,420],"id":"d182b9f4-f3e2-49a4-91b0-d527c8e3c0d4","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,420],"id":"6ea3fb03-f32a-4a4f-9cd9-5dd08aa76159","name":"Structured Output Parser3"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent6\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,200],"id":"30e48c59-cda8-49cb-9ce1-6a69a26c116f","name":"Code7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,200],"id":"b79b6948-5585-4277-bb2d-e4746a6d653c","name":"Wait3","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo3').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,200],"id":"f1a51e30-4da5-47f1-8493-712407331f66","name":"AI Agent7"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code7').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,200],"id":"0bcafb49-1fbc-48a4-8187-294685fcce4d","name":"Edit Fields3"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,200],"id":"d604c142-ca0c-4a95-b515-c9237716bc18","name":"Salvar Título no Banco de Dados3","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}}],"connections":{"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Limpeza Periódica DB":{"main":[[{"node":"Limpar Registros Marcados","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes1":{"main":[[{"node":"Ordenar por Visualizações1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Ordenar por Visualizações1":{"main":[[{"node":"Extrair Lista de Vídeos1","type":"main","index":0}]]},"Extrair Lista de Vídeos1":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"Processar Cada Vídeo1":{"main":[[{"node":"Finalizar Execução1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Configurar ID do Canal YouTube1":{"main":[[{"node":"Buscar Vídeos do Canal1","type":"main","index":0}]]},"Buscar Vídeos do Canal1":{"main":[[{"node":"Filtrar Vídeos Populares Recentes1","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0},{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Salvar Título no Banco de Dados","type":"main","index":0}]]},"Salvar Título no Banco de Dados":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes":{"main":[[{"node":"Ordenar por Visualizações","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Ordenar por Visualizações":{"main":[[{"node":"Extrair Lista de Vídeos","type":"main","index":0}]]},"Extrair Lista de Vídeos":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Finalizar Execução","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Configurar ID do Canal YouTube":{"main":[[{"node":"Buscar Vídeos do Canal","type":"main","index":0}]]},"Buscar Vídeos do Canal":{"main":[[{"node":"Filtrar Vídeos Populares Recentes","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0},{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Code3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Salvar Título no Banco de Dados1","type":"main","index":0}]]},"Salvar Título no Banco de Dados1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes2":{"main":[[{"node":"Ordenar por Visualizações2","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo2","type":"main","index":0}]]},"Ordenar por Visualizações2":{"main":[[{"node":"Extrair Lista de Vídeos2","type":"main","index":0}]]},"Extrair Lista de Vídeos2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"Processar Cada Vídeo2":{"main":[[{"node":"Finalizar Execução2","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Configurar ID do Canal YouTube2":{"main":[[{"node":"Buscar Vídeos do Canal2","type":"main","index":0}]]},"Buscar Vídeos do Canal2":{"main":[[{"node":"Filtrar Vídeos Populares Recentes2","type":"main","index":0}]]},"Aguardar e Reiniciar Processo2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent4","type":"ai_outputParser","index":0},{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Code5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Salvar Título no Banco de Dados2","type":"main","index":0}]]},"Salvar Título no Banco de Dados2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes3":{"main":[[{"node":"Ordenar por Visualizações3","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo3","type":"main","index":0}]]},"Ordenar por Visualizações3":{"main":[[{"node":"Extrair Lista de Vídeos3","type":"main","index":0}]]},"Extrair Lista de Vídeos3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"Processar Cada Vídeo3":{"main":[[{"node":"Finalizar Execução3","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Configurar ID do Canal YouTube3":{"main":[[{"node":"Buscar Vídeos do Canal3","type":"main","index":0}]]},"Buscar Vídeos do Canal3":{"main":[[{"node":"Filtrar Vídeos Populares Recentes3","type":"main","index":0}]]},"Aguardar e Reiniciar Processo3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent6","type":"ai_outputParser","index":0},{"node":"AI Agent7","type":"ai_outputParser","index":0}]]},"Code7":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Salvar Título no Banco de Dados3","type":"main","index":0}]]},"Salvar Título no Banco de Dados3":{"main":[[{"node":"Wait3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"82690fd1-bcac-4709-980f-7376df8eb1c7","triggerCount":0,"tags":[]}