01---swipe-títulos---vovó-4jC8CAqnN5sxeFve.json
{"createdAt":"2025-08-05T23:35:09.901Z","updatedAt":"2025-08-06T01:19:51.074Z","id":"4jC8CAqnN5sxeFve","name":"01 - SWIPE TÍTULOS - VOVÓ","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,2880],"id":"4b3879fb-5535-4a94-a32a-b00bc6f362ec","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=01 - SWIPE TÍTULOS 3.0","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,2880],"id":"7076d683-a725-42c9-9fb0-cc650b5e4ae4","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,2620],"id":"69f206cc-2500-4983-a5d8-769732d007cb","name":"Limpeza Periódica DB"},{"parameters":{"operation":"delete","tableId":"Milionário","matchType":"allFilters","filters":{"conditions":[{"keyName":"pt","condition":"is","keyValue":"true"},{"keyName":"en","condition":"is","keyValue":"true"},{"keyName":"es","condition":"is","keyValue":"true"},{"keyName":"fr","condition":"is","keyValue":"true"},{"keyName":"it","condition":"is","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,2620],"id":"039735b4-2f43-4345-87c0-5ef79250a39c","name":"Limpar Registros Marcados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,2260],"id":"60fe5443-ca75-4502-9718-921274ab44c7","name":"Iniciar Coleta a Cada 3 Dias1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,1920],"id":"02ccb16c-0ee3-4ee3-b8ef-6221bfb5bb0c","name":"Finalizar Execução1"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,2180],"id":"7f34d309-4ff0-4a9b-912c-60a8fb035397","name":"Filtrar Vídeos Populares Recentes1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,2120],"id":"f836b0db-a7b8-4945-9588-012b93e036c6","name":"Ordenar por Visualizações1"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,2120],"id":"a52a4244-6d11-4983-8d1a-b206b507da1a","name":"Extrair Lista de Vídeos1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,2120],"id":"4a865d2c-ea88-4550-9e08-69c7a1fdadfd","name":"Processar Cada Vídeo1"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCeChOGYUYobTdy4wb6ZZzfA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,2260],"id":"c5c91ec9-0580-45b9-ae75-4ac7e50df537","name":"Configurar ID do Canal YouTube1"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,2180],"id":"8b6ee47c-b54e-4c94-88d0-3e6623d2001f","name":"Buscar Vídeos do Canal1","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,2360],"id":"8b0bacf0-92e8-47d3-945d-ccc917fd54b5","name":"Aguardar e Reiniciar Processo1","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube1\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,2120],"id":"f0fc44cf-7474-4696-80ba-411172439faf","name":"HTTP Request","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,2120],"id":"e0ff9618-2c90-4ff5-a990-e417e35ec870","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,2120],"id":"2dee18ae-a7aa-44de-8b86-602a70eb9526","name":"Aggregate"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,2120],"id":"7c1a708a-4dc3-4135-b5b3-cbcacf1a4d4e","name":"Code"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,2120],"id":"450cf072-df1b-40c6-a9d4-83de29b979ca","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,2340],"id":"b5399554-d848-4813-82bb-5fba15006d39","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,2340],"id":"ee449065-25dd-4039-9aa7-b0a2a18f88ab","name":"Structured Output Parser"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,2120],"id":"f009af6a-765a-45e9-86ce-eeea0ee6a7f2","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,2120],"id":"f67cea2e-9a79-4c25-9ac9-723fd0428fda","name":"Wait","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo1').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,2120],"id":"ea511210-699f-4e72-95b4-83f6a7313930","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code1').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,2120],"id":"3024ec9d-bc5d-4ed7-b555-21cafaf1eb09","name":"Edit Fields"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,2120],"id":"01737c5c-c776-47e9-90a5-76e06ecd90ef","name":"Salvar Título no Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,1640],"id":"9da3bb81-a3e1-4afa-9997-c26f26715564","name":"Iniciar Coleta a Cada 3 Dias"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,1300],"id":"dfac1a69-efe9-41db-8c48-d1c97f15b8e6","name":"Finalizar Execução"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,1560],"id":"757b921e-3f3e-4832-8d62-02103708983d","name":"Filtrar Vídeos Populares Recentes","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,1500],"id":"0c6e7e3e-f50b-4678-95e6-af2be5849574","name":"Ordenar por Visualizações"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,1500],"id":"347f879e-c3e7-47cf-884e-dbce9d350a69","name":"Extrair Lista de Vídeos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,1500],"id":"7dae12ea-ad0e-4729-a359-1818aebb3f7f","name":"Processar Cada Vídeo"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCa35iWjMUgTgRri1Hv65tUA","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,1640],"id":"6c1542bd-fb80-4988-806e-27029fb492f7","name":"Configurar ID do Canal YouTube"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,1560],"id":"1e4b29f3-2891-41be-a5e4-dcebe572f21e","name":"Buscar Vídeos do Canal","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,1740],"id":"970e8b1a-3ada-4ddb-8909-ea63eafa99c3","name":"Aguardar e Reiniciar Processo","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,1500],"id":"3dcef662-d6d8-47e3-b5ba-74f94e8de453","name":"HTTP Request1","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,1500],"id":"ac1ce29b-57b9-4ae9-9e4d-3156815fa712","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,1500],"id":"310df172-bbf2-4e2e-9f1f-825c97f28a7f","name":"Aggregate1"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1500],"id":"dfb191e3-de8b-4c00-8802-31b95710d35b","name":"Code2"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,1500],"id":"c1cd7195-491d-4763-bdf8-d6101711db9b","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1720],"id":"35ad8917-d98c-47bb-981a-2a25dcdb8e7c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,1720],"id":"a341fd69-4192-4cb3-b006-b958df46cddb","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent2\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,1500],"id":"9d58c6e8-5f5b-4e98-aaf9-ae85de1814d9","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,1500],"id":"da73c590-c159-4a45-87ae-c73b77164b66","name":"Wait1","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,1500],"id":"7a3f474c-bcef-4a72-a7d0-20943e661656","name":"AI Agent3"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code3').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,1500],"id":"f1ad42b7-5602-4cdb-9539-ff82ef2771a1","name":"Edit Fields1"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,1500],"id":"3abde2ad-c5b8-4862-a961-32c3461e37ff","name":"Salvar Título no Banco de Dados1","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1580,980],"id":"d6573db6-4ad0-43b6-a839-cfdc17156633","name":"Iniciar Coleta a Cada 3 Dias2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,640],"id":"29a5d7f4-2825-42e0-9765-40ae36f21857","name":"Finalizar Execução2"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,900],"id":"e8c8bdf9-d31b-4293-b22f-2fd43b0d3c36","name":"Filtrar Vídeos Populares Recentes2","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,840],"id":"e8a05a11-a63c-48c2-a5e9-bd84f8696f91","name":"Ordenar por Visualizações2"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,840],"id":"95a663f1-184e-4cb0-8d4d-353fabab1c20","name":"Extrair Lista de Vídeos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,840],"id":"fd5adc90-d358-417d-b8d0-b4d5782e7a78","name":"Processar Cada Vídeo2"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCTI6YtnONPkwv_BYXK1AJwQ","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,980],"id":"17bcac3e-1b9c-4723-9f1c-a3261d81bf8d","name":"Configurar ID do Canal YouTube2"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,900],"id":"ae726fee-6318-416a-99f2-f9be8a70dac3","name":"Buscar Vídeos do Canal2","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,1080],"id":"a54a774f-7314-4345-82aa-f30bf33aa6c3","name":"Aguardar e Reiniciar Processo2","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube2\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,900],"id":"5d46788c-1be6-4178-8c1f-a4963bcbc613","name":"HTTP Request2","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,840],"id":"87fb2b84-10c0-4616-82bc-0dcf020eb96d","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,840],"id":"2d20ec9d-6a7c-49e1-857d-4f4ace2a937e","name":"Aggregate2"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,840],"id":"f5276f2e-0913-4694-8022-09c0037df987","name":"Code4"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,840],"id":"54811a56-1192-4ccc-ab23-80b2543eaf20","name":"AI Agent4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1060],"id":"d08094c5-d878-499e-b37d-64f4421d4fc7","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,1060],"id":"143df915-70a3-491b-8310-1cbae2d13272","name":"Structured Output Parser2"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent4\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,840],"id":"e31f730d-37fe-45f9-b616-e9347786fcc5","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,840],"id":"033a9050-267f-4516-9284-3cb144623970","name":"Wait2","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo2').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1440,840],"id":"f78ba2c7-30f5-4d5b-b6fa-07258e842fc9","name":"AI Agent5"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code5').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,840],"id":"3998f086-f106-4b52-b827-9d138aac83f4","name":"Edit Fields2"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2040,840],"id":"8c46a316-6d11-45d9-b991-393d9f7ee2d6","name":"Salvar Título no Banco de Dados2","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,340],"id":"74bb57c8-286e-4019-bb55-c21a546d65e6","name":"Iniciar Coleta a Cada 3 Dias3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"33d5eab5-9ae9-41d0-a383-634a7baa657d","name":"Finalizar Execução3"},{"parameters":{"jsCode":"// Este código deve ser usado no nó Function do n8n após o nó HTTP Request\n\n// Array para armazenar os resultados filtrados\nconst filteredVideos = [];\n\n// Pegar os dados do HTTP Request (assumindo que está no primeiro item)\nconst videos = $input.all()[0].json.videos;\n\n// Função para converter o tempo publicado para horas\nfunction getHoursFromPublishedTime(publishedTime) {\n  if (publishedTime.includes('hours ago') || publishedTime.includes('hour ago')) {\n    return parseInt(publishedTime.split(' ')[0]);\n  } else if (publishedTime.includes('days ago') || publishedTime.includes('day ago')) {\n    return parseInt(publishedTime.split(' ')[0]) * 24;\n  } else if (publishedTime.includes('minutes ago') || publishedTime.includes('minute ago')) {\n    return 0; // Menos de uma hora\n  } else {\n    return 999; // Não determinável\n  }\n}\n\n// Percorrer cada vídeo e aplicar os filtros\nfor (const video of videos) {\n  const views = video.number_of_views;\n  if (views >= 1000) {\n    const hoursAgo = getHoursFromPublishedTime(video.published_time);\n    if (hoursAgo <= 72) {\n      filteredVideos.push({\n        video_id:     video.video_id,\n        title:        video.title,\n        views:        views,\n        published_time: video.published_time\n      });\n    }\n  }\n}\n\n// Retornar os resultados filtrados\nreturn {\n  json: {\n    filtered_videos: filteredVideos,\n    count: filteredVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,260],"id":"467d650e-39fb-4c0d-92f5-f9efa77c7a49","name":"Filtrar Vídeos Populares Recentes3","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Este código deve ser usado em um nó Function no n8n\n// para ordenar vídeos do mais visualizado para o menos visualizado\n\n// Obter os dados do nó anterior\nconst inputData = $input.all()[0].json.filtered_videos || $input.all()[0].json;\n\n// Verificar se os dados são um array\nlet videosToSort = Array.isArray(inputData) ? inputData : [];\n\n// Se os dados vierem em outro formato, tentar extrair\nif (!Array.isArray(inputData) && inputData.filtered_videos) {\n  videosToSort = inputData.filtered_videos;\n}\n\n// Ordenar os vídeos por número de visualizações (do maior para o menor)\nconst sortedVideos = videosToSort.sort((a, b) => {\n  // Garantir que estamos comparando números\n  const viewsA = typeof a.views === 'number' ? a.views : parseInt(a.views);\n  const viewsB = typeof b.views === 'number' ? b.views : parseInt(b.views);\n  \n  // Ordenação decrescente (maior para menor)\n  return viewsB - viewsA;\n});\n\n// Retornar os dados ordenados\nreturn {\n  json: {\n    sorted_videos: sortedVideos,\n    count: sortedVideos.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,200],"id":"b6a1cda2-d2d9-4956-b0dd-3f5593130c5d","name":"Ordenar por Visualizações3"},{"parameters":{"fieldToSplitOut":"sorted_videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-440,200],"id":"ad9d1316-0d09-4cbc-9a66-eaf9a8331fab","name":"Extrair Lista de Vídeos3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,200],"id":"5afab9ec-fb54-4ad0-a4ba-045767e6f48b","name":"Processar Cada Vídeo3"},{"parameters":{"assignments":{"assignments":[{"id":"70ebc5bf-aaa9-4c21-8d43-02d1d33b0645","name":"channel_id","value":"UCRyNPae7YBEfsgNlGHTw3ow","type":"string"},{"id":"63b7fae7-1c76-4654-9295-a5fe82775a80","name":"x-rapidapi-key","value":"98e3ca4660mshed815da53726934p112be1jsnebeed9cafce4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,340],"id":"a3215251-201f-4b67-a34f-195fe4a437cd","name":"Configurar ID do Canal YouTube3"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/channel/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,260],"id":"9f718e8c-ef72-4594-90bd-f82eaa0cbd4e","name":"Buscar Vídeos do Canal3","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-660,440],"id":"16565a14-a623-415f-8f25-8a0ca16f6675","name":"Aguardar e Reiniciar Processo3","webhookId":"375ad00f-0316-4c8a-9bc0-b6ff0e6fe52a"},{"parameters":{"url":"https://youtube-v2.p.rapidapi.com/video/subtitles","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-v2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $item(\"0\").$node[\"Configurar ID do Canal YouTube3\"].json[\"x-rapidapi-key\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,260],"id":"b55e5589-18e2-432b-88d8-58ad9dfdc412","name":"HTTP Request3","retryOnFail":true},{"parameters":{"fieldToSplitOut":"subtitles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,200],"id":"5907becf-543b-414a-8257-3eacca0229e2","name":"Split Out3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,200],"id":"93822c0c-502b-4146-8890-e72f57881cdf","name":"Aggregate3"},{"parameters":{"jsCode":"// Acessa o campo 'text' do JSON\nconst texts = items[0].json.text;\n\n// Concatena os textos em um único bloco\nconst concatenatedText = texts.join(' ');\n\n// Retorna o texto concatenado\nreturn [{ json: { text: concatenatedText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,200],"id":"b59b84d4-13ed-498c-b24e-25941b1dac65","name":"Code6"},{"parameters":{"promptType":"define","text":"=\"{{ $json.text }}\"\n\nPor favor, forneça um resumo com extensão entre 1.000 e 2.000 caracteres, sobre o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[880,200],"id":"ba7b9600-c09b-46c3-aadc-3f77d4cc0607","name":"AI Agent6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,420],"id":"8a33d194-cf3b-4452-92f8-0d430b721924","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"text\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1040,420],"id":"d9094f68-faff-41b0-ac2d-1007c673a378","name":"Structured Output Parser3"},{"parameters":{"jsCode":"const data = $item(0).$node[\"AI Agent6\"].json;\ndata.output.text = data.output.text.replace(/[\\r\\n]+/g, ' ');\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,200],"id":"20186884-6781-418b-ba84-2203ef123862","name":"Code7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2300,200],"id":"034416bf-631d-4140-af43-197e513295da","name":"Wait3","webhookId":"e0a4bad9-ee1f-43fd-a53e-9b2e0a45a55e"},{"parameters":{"promptType":"define","text":"='{{ $('Processar Cada Vídeo3').item.json.title }}'\n\nPor favor, forneça o texto acima em Português do Brasil.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,200],"id":"e95d3f32-c29a-402f-906d-7283324bfab7","name":"AI Agent7"},{"parameters":{"assignments":{"assignments":[{"id":"0ca78208-43f4-41e4-8480-e5aef07a080a","name":"título","value":"={{ $json.output.text }}","type":"string"},{"id":"ff2af784-60ce-45be-baa4-8a0c4036bb8c","name":"resumo","value":"={{ $('Code7').item.json.output.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,200],"id":"88e57294-ade9-4e29-805b-3ccfdce6b6ac","name":"Edit Fields3"},{"parameters":{"tableId":"Milionário","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json['título'] }}"},{"fieldId":"resume","fieldValue":"={{ $json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,200],"id":"d166ffa3-3d59-45b8-a098-f21065d99c54","name":"Salvar Título no Banco de Dados3","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}}],"connections":{"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Limpeza Periódica DB":{"main":[[{"node":"Limpar Registros Marcados","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes1":{"main":[[{"node":"Ordenar por Visualizações1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Ordenar por Visualizações1":{"main":[[{"node":"Extrair Lista de Vídeos1","type":"main","index":0}]]},"Extrair Lista de Vídeos1":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"Processar Cada Vídeo1":{"main":[[{"node":"Finalizar Execução1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Configurar ID do Canal YouTube1":{"main":[[{"node":"Buscar Vídeos do Canal1","type":"main","index":0}]]},"Buscar Vídeos do Canal1":{"main":[[{"node":"Filtrar Vídeos Populares Recentes1","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Configurar ID do Canal YouTube1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0},{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Cada Vídeo1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Salvar Título no Banco de Dados","type":"main","index":0}]]},"Salvar Título no Banco de Dados":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes":{"main":[[{"node":"Ordenar por Visualizações","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Ordenar por Visualizações":{"main":[[{"node":"Extrair Lista de Vídeos","type":"main","index":0}]]},"Extrair Lista de Vídeos":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"Processar Cada Vídeo":{"main":[[{"node":"Finalizar Execução","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Configurar ID do Canal YouTube":{"main":[[{"node":"Buscar Vídeos do Canal","type":"main","index":0}]]},"Buscar Vídeos do Canal":{"main":[[{"node":"Filtrar Vídeos Populares Recentes","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Configurar ID do Canal YouTube","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0},{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Code3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Processar Cada Vídeo","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Salvar Título no Banco de Dados1","type":"main","index":0}]]},"Salvar Título no Banco de Dados1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes2":{"main":[[{"node":"Ordenar por Visualizações2","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo2","type":"main","index":0}]]},"Ordenar por Visualizações2":{"main":[[{"node":"Extrair Lista de Vídeos2","type":"main","index":0}]]},"Extrair Lista de Vídeos2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"Processar Cada Vídeo2":{"main":[[{"node":"Finalizar Execução2","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Configurar ID do Canal YouTube2":{"main":[[{"node":"Buscar Vídeos do Canal2","type":"main","index":0}]]},"Buscar Vídeos do Canal2":{"main":[[{"node":"Filtrar Vídeos Populares Recentes2","type":"main","index":0}]]},"Aguardar e Reiniciar Processo2":{"main":[[{"node":"Configurar ID do Canal YouTube2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent4","type":"ai_outputParser","index":0},{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Code5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Processar Cada Vídeo2","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Salvar Título no Banco de Dados2","type":"main","index":0}]]},"Salvar Título no Banco de Dados2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Iniciar Coleta a Cada 3 Dias3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"Filtrar Vídeos Populares Recentes3":{"main":[[{"node":"Ordenar por Visualizações3","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo3","type":"main","index":0}]]},"Ordenar por Visualizações3":{"main":[[{"node":"Extrair Lista de Vídeos3","type":"main","index":0}]]},"Extrair Lista de Vídeos3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"Processar Cada Vídeo3":{"main":[[{"node":"Finalizar Execução3","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Configurar ID do Canal YouTube3":{"main":[[{"node":"Buscar Vídeos do Canal3","type":"main","index":0}]]},"Buscar Vídeos do Canal3":{"main":[[{"node":"Filtrar Vídeos Populares Recentes3","type":"main","index":0}]]},"Aguardar e Reiniciar Processo3":{"main":[[{"node":"Configurar ID do Canal YouTube3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent6","type":"ai_outputParser","index":0},{"node":"AI Agent7","type":"ai_outputParser","index":0}]]},"Code7":{"main":[[{"node":"AI Agent7","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Processar Cada Vídeo3","type":"main","index":0}]]},"AI Agent7":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Salvar Título no Banco de Dados3","type":"main","index":0}]]},"Salvar Título no Banco de Dados3":{"main":[[{"node":"Wait3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Coleta a Cada 3 Dias1":{"recurrenceRules":[218]},"node:Iniciar Coleta a Cada 3 Dias":{"recurrenceRules":[218]},"node:Iniciar Coleta a Cada 3 Dias2":{"recurrenceRules":[218]},"node:Iniciar Coleta a Cada 3 Dias3":{"recurrenceRules":[218]},"node:Limpeza Periódica DB":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"d76b75d1-47b2-44e8-9e14-0693c39a84f9","triggerCount":5,"tags":[]}