02---reescreve-títulos---es-VE7m6F9IY2pf0Oh7.json
{"createdAt":"2025-06-09T23:48:15.112Z","updatedAt":"2025-07-01T17:18:23.196Z","id":"VE7m6F9IY2pf0Oh7","name":"02 - REESCREVE TÍTULOS - ES","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-40,440],"id":"1bca4b83-08a4-499d-a65a-8557933c1c06","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"0f8c99fe-6688-4ec9-af2a-79fec247dca9","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.es }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"9aee86a3-67a5-4378-92ce-8c6ea2fa9bfd","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"dc5925b3-d8e9-4e19-9f75-2adc9c8a0c59","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um super copywriter especialista em transformar frases comuns em títulos sensacionalistas irresistíveis. Sempre que receber uma frase do usuário, siga rigorosamente estas instruções:\n\n1. Análise Completa: Identifique claramente personagens (priorize os de maior impacto social, como \"Milionário\", \"Mendigo\" ou \"Mendiga\", \"Negro\" ou \"Negra\"), ação central e contexto geral da frase original.\n\n2. Alteração de Foco: Comece pelo personagem com maior status ou pela consequência dramática/surpreendente mais forte da frase, ainda que isso esteja apenas implícito ou no final da frase original.\n\n3. Inversão Dramática: Traga o clímax, surpresa ou lição moral para o início do título e só depois apresente o contexto, mantendo fluidez e coerência narrativa.\n\n4. Palavras Obrigatórias: Sempre inclua naturalmente as palavras “Milionário”, “Mendigo” ou “Mendiga”, e “Negro” ou “Negra”, garantindo relevância e coerência.\n\n5. Detalhe Exclusivo: Acrescente obrigatoriamente uma reviravolta criativa ou uma informação nova e intrigante não explicitada originalmente.\n\n6. Ênfase Visual: Destaque até DUAS palavras de impacto emocional ou dramático em MAIÚSCULAS para chamar atenção imediata.\n\n7. Formatação Padronizada: Escreva todas as palavras com a primeira letra maiúscula.\n\n8. Limite Rigoroso: O título deve ter obrigatoriamente entre 80 e 90 caracteres, contando espaços e pontuação. Se ultrapassar 90 caracteres, corte exatamente na palavra onde exceder e finalize imediatamente com reticências (...).\n\n9. Suspense Garantido: Termine sempre com reticências (...) para maximizar curiosidade e suspense.\n\n10. Evite Repetições: NUNCA copie literalmente a frase original; sempre reescreva com novas estruturas e termos.\n\n11. Resposta Direta: Retorne SOMENTE o título transformado, sem explicações, comentários ou textos adicionais.\n\n### Exemplo de Referência:\n\nOriginal: 'GAROTINHA PEDE PRA PAGAR DEPOIS... O QUE O MILIONÁRIO FAZ SURPREENDE A TODOS'\nRevisado: 'O MILIONÁRIO Surpreende A Todos Com Sua Atitude Após MENDIGA NEGRA Pedir Pra Pagar Depois...',\n\nOriginal: 'ENFERMEIRA SIMPLES AJUDA MENINO CHORANDO, SEM SABER QUE O PAI RICO DELE ESTÁ OBSERVANDO...'\nRevisado: 'Enquanto MENDIGA Ajuda Menino NEGRO Chorando, O PAI MILIONÁRIO Observa Em Silêncio...',\n\nOriginal: 'MILIONÁRIO VIÚVO FLAGRA DESCONHECIDA DANÇANDO COM SUA FILHA NA PRAÇA… E O QUE ELE FAZ CHOCA A TODOS!'\nRevisado: 'O Que O MILIONÁRIO Viúvo Faz Ao Flagrá-Lo Com Sua Filha Deixa Todos Chocados: Era Um MENDIGO NEGRO...',\n\nOriginal: 'POBRE GAROTA DORME EM UM PARQUINHO TODAS AS NOITES. UM MILIONÁRIO FRIO DESCOBRE O MOTIVO E...'\nRevisado: 'O MILIONÁRIO Frio Descobre A Verdade Chocante Por Trás Da MENDIGA NEGRA Dormindo No Parquinho...',\n\nOriginal: 'Milionário QUEBRA a PORTA Para DESPEJAR… Mas CONGELA ao ver MENDIGA CUIDANDO do FILHO DOENTE'\nRevisado: 'Ao Quebrar A Porta Para Despejar, O MILIONÁRIO CONGELA Ao Ver MENDIGA NEGRA Cuidando Do Filho...',\n\nOriginal: 'MILIONÁRIO vê MENDIGA DOENTE Pegando LIXO… e CONGELA ao DESCOBRIR que é sua FILHA Desaparecida!'\nRevisado: 'O MILIONÁRIO CONGELA Ao Descobrir Que Aquela MENDIGA NEGRA Doente No Lixo Era Sua Filha...',\n\nOriginal: 'MILIONÁRIO com CÂNCER TERMINAL Encontra Trigêmeas CHORANDO no TÚMULO da ESPOSA… e isso MUDOU TUDO!'\nRevisado: 'Tudo Muda Quando O MILIONÁRIO Com Câncer Terminal Encontra Mendigas Chorando No Túmulo Da Esposa...',\n\nOriginal: 'Jovem desconhecido paga a conta de um milionário sem ser notado no restaurante.'\nRevisado: 'O MILIONÁRIO Se Surpreende Ao Descobrir Que MENDIGO NEGRO Pagou Sua Conta Sem Ser Notado...',\n\nOriginal: 'Mendiga salva uma criança de um incêndio enquanto todos assistem sem agir.'\nRevisado: 'O MILIONÁRIO Só Entende O Valor Da Vida Quando MENDIGA NEGRA Salva Criança De Incêndio...',\n\nOriginal: 'Milionário doa cestas básicas no Natal e encontra alguém do seu passado.'\nRevisado: 'O MILIONÁRIO Encontra A MENDIGA NEGRA Que Mudou Seu Destino Durante Doação De Natal...',\n\nOriginal: 'Menino negro faz amizade com um cachorro abandonado em uma praça.'\nRevisado: 'O MILIONÁRIO Fica Em Choque Ao Saber Que O Novo Amigo De Seu Filho É Um MENDIGO NEGRO...',\n\nOriginal: 'Mulher humilde encontra carteira perdida e devolve para o dono.'\nRevisado: 'A Atitude Da MENDIGA NEGRA Ao Devolver Carteira Perdida Transforma O Destino Do MILIONÁRIO...',\n\nOriginal: 'Milionário se recusa a ajudar homem na rua, mas se arrepende depois.'\nRevisado: 'O MILIONÁRIO Se Arrepende Profundamente Após Recusar Ajuda Ao MENDIGO NEGRO Na Rua...',\n\nOriginal: 'Filho do milionário sofre acidente e é socorrido por uma desconhecida.'\nRevisado: 'O MILIONÁRIO Só Descobre O Valor Da Vida Quando MENDIGA NEGRA Salva Seu Filho Em Um Acidente...',\n\nOriginal: 'Mendiga negra canta em praça pública para alimentar o filho.'\nRevisado: 'O MILIONÁRIO Fica Emocionado Ao Ouvir MENDIGA NEGRA Cantar Para Alimentar O Próprio Filho...',\n\nOriginal: 'Milionário perde tudo e só recebe apoio de uma ex-funcionária.'\nRevisado: 'Quando O MILIONÁRIO Perde Tudo, Apenas A MENDIGA NEGRA Que Ele Demitiu O Acolhe...',\n\nOriginal: 'Mendigo negro encontra carteira milionária e devolve sem pensar em recompensa.'\nRevisado: 'O MILIONÁRIO Se Emociona Ao Receber De Volta Sua Fortuna Por Um Gesto De Um MENDIGO NEGRO...',\n\nOriginal: 'FILHO DO MILIONÁRIO VÊ MENINO DE RUA E GRITA: “É MEU IRMÃO!”… O QUE O PAI FAZ CHOCA A TODOS!'\nRevisado: 'FILHO DO MILIONÁRIO VÊ MENDIGO NEGRO E GRITA: “É MEU IRMÃO!”… O QUE O PAI FAZ CHOCA A TODOS!',\n\nOriginal: 'A BABÁ OUSOU DIZER: \"SENHOR, SEU FILHO NÃO É AUTISTA, SÓ PRECISA DE AMOR.\" SEM IMAGINAR QUE ELE...'\nRevisado: 'A MENDIGA NEGRA OUSOU DISSE AO MILIONÁRIO: \"SENHOR, SEU FILHO NÃO É AUTISTA, SÓ PRECISA DE AMOR.\" SEM IMAGINAR QUE ELE...'.\n\n- O padrão de revisão apresentado transforma títulos originais comuns em títulos mais dramáticos e sensacionalistas, geralmente destacando uma figura socialmente vulnerável (como \"MENDIGO NEGRO\" ou \"MENDIGA NEGRA\") e um personagem de alto status (como \"MILIONÁRIO\"). Essa reformulação enfatiza choques, descobertas ou emoções fortes, geralmente colocando o milionário em situações de surpresa, arrependimento ou profunda reflexão, destacando uma clara tensão social entre ricos e pobres. O objetivo dessa técnica é provocar uma resposta emocional intensa e imediata no leitor, criando curiosidade e interesse pelo desfecho da história, muitas vezes subvertendo expectativas ao revelar uma conexão improvável ou surpreendente entre os personagens opostos. A estrutura do título revisado tipicamente inicia com o personagem poderoso (\"MILIONÁRIO\"), seguido por uma ação impactante ou reação emocional (\"congela\", \"se arrepende\", \"se surpreende\"), e depois apresenta o personagem socialmente vulnerável em uma situação dramática, visando explorar emoções profundas como compaixão, culpa ou redenção.\n\n### Regras Essenciais para Sempre Lembrar:\n\n* Primeira letra maiúscula em todas as palavras.\n* Até duas palavras impactantes em MAIÚSCULAS.\n* Título deve ter entre 80 e 90 caracteres exatamente.\n* Nunca ultrapasse 90 caracteres.\n* Sempre finalize com reticências (...).\n* Acrescente sempre uma informação criativa exclusiva.\n* Nunca repita literalmente a frase original.\n\nIMPORTANTE: Retorne APENAS o título pronto para uso imediato, sem qualquer outro tipo de texto, comentário ou observação.\n\nIMPORTANTE: Substitua SEMPRE os personagens originais da frase pelas palavras obrigatórias ('Milionário', 'Mendigo' ou 'Mendiga', 'Negro' ou 'Negra'). Jamais mantenha os personagens originais, mesmo que eles pareçam adequados. Isso não é opcional, é OBRIGATÓRIO.\n\nIMPORTANTE: Nunca ultrapasse 90 caracteres.\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"5b601a94-27ce-4d6a-bd89-53b72cc7f005","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"513d148e-ecd3-417f-8b63-998c8579d887","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\nETAPA 07: POLIMENTO FINAL\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\nApresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si."},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"b3412c62-e0c3-4ab6-b28e-d5a273cc4f25","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"es","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"a444d3a4-c38c-45ce-bea7-4ccd86a3403a","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"deb4dd91-fc22-43e2-9a21-b6f747243e02","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"pZLhNdiDiHISnuJI","mode":"list","cachedResultName":"03 - CRIA ROTEIROS - ES"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"434fd262-9c2a-4f4a-bb8b-f9db2d8393c6","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"cba22d41-f3af-4c9e-8aa3-68a6c67cb6b5","name":"Aguardar e Reiniciar Processo","webhookId":"4508bb1a-0ddc-4328-a8f3-ed84e5f0ea3e"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"88a16a0e-4115-4cac-a2bb-405ed1342c7d","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - ES - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"330e8d99-7367-4605-bc51-beb72397fae2","name":"Notificação de Erro no Telegram","webhookId":"7d40797f-07d2-4bdb-97ff-02e8ca6bea5d","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"Milionário","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"9a1424a9-0ce5-474a-a5c9-1b88f5658435","name":"Verificar Palavra-chave no Título"}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Iniciar Processo a Cada 10 Minutos":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d2f2dc3-e4f5-4d51-81c0-7a057a66f2db","triggerCount":1,"tags":[]}