02-reescreve-titulos---it-9dIJzprfmEZqpYg9.json
{"createdAt":"2025-08-05T23:37:59.666Z","updatedAt":"2025-08-08T02:22:27.706Z","id":"9dIJzprfmEZqpYg9","name":"02-REESCREVE TITULOS - IT","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"f146c9c1-24ca-4867-9630-d73f1af2684d","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"22338927-a7d6-4753-a370-f9c2a109ceea","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.it }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"e723fd94-664a-4108-8f09-c6a4aa925bae","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"525b57cd-c1e4-4050-aa56-036e69a01b88","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um especialista em títulos virais para canais dark do YouTube. Sua missão é gerar títulos que explorem a psicologia de catarse emocional, focando em figuras maternas subestimadas que se vingam/empoderam.\nFÓRMULAS BASE OBRIGATÓRIAS:\nFÓRMULA A - CONSPIRAÇÃO FAMILIAR [FIGURA MATERNA] + [CRIANÇA DELATORA] + [DESCOBERTA CHOCANTE] + [PROMESSA DE VINGANÇA]\nFÓRMULA B - RESSURREIÇÃO/VOLTA [SITUAÇÃO DE \"MORTE\" SOCIAL/FÍSICA] + [OBSERVAÇÃO SECRETA] + [RETORNO DRAMÁTICO]\nFÓRMULA C - EMPODERAMENTO TARDIO [ANOS DE SUBESTIMAÇÃO] + [MOMENTO DE VIRADA] + [AÇÃO SURPREENDENTE]\nFÓRMULA D - INOCÊNCIA COMO TESTEMUNHA [CRIANÇA 4-12 ANOS] + [REVELAÇÃO ACIDENTAL] + [REAÇÃO DA PROTAGONISTA]\nELEMENTOS OBRIGATÓRIOS EM CADA TÍTULO:\nPROTAGONISTAS (sempre usar):\nMulher 60-90 anos\nAvó/Vovó\nFigura de cuidado subestimada\nAparentemente vulnerável\nANTAGONISTAS (sempre família):\nFilhos ingratos\nNetos manipuladores\nGenros/noras gananciosos\nParentes interesseiros\nCRIANÇAS TESTEMUNHAS:\nIdades específicas: 4, 6, 7, 8, 9, 10, 11, 12 anos\nRelação clara: neta, bisneta, sobrinha\nFunção: revelar segredos dos adultos\nGATILHOS EMOCIONAIS OBRIGATÓRIOS:\nDinheiro/herança\nCasa/propriedade\nAsilo/abandono\nFingir demência/doença\nMorte simulada\nEscutar conversas secretas\nGravar evidências\nESTRUTURA TÉCNICA DOS TÍTULOS:\nINÍCIO FORTE (escolher um):\n\"Minha [relação] de [idade] me disse:\"\n\"Aos [idade] anos descobri que...\"\n\"Durante [tempo] fingi...\"\n\"Pensei que era [situação falsa]... mas era [verdade chocante]\"\n\"Eles achavam que eu não sabia...\"\nMEIO - GAP DE INFORMAÇÃO:\nUsar reticências (...)\nQuebrar informação em duas partes\nCriar suspense sobre a reação\nFINAL - PROMESSA DE CATARSE:\n\"A vingança foi...\"\n\"O que fiz os surpreendeu\"\n\"Quem riu por último...\"\n\"Minha resposta mudou tudo\"\nPALAVRAS-GATILHO OBRIGATÓRIAS (usar pelo menos 2 por título):\nAUTENTICIDADE: Real, verdadeira, aconteceu, confesso\nDESCOBERTA: Descobri, revelou, segredo, escondido, finalmente\nINJUSTIÇA: Traição, mentira, fingindo, usando, explorando\nEMPODERAMENTO: Vingança, justiça, mostrei, surpreendi, choquei\nEMOÇÃO: Chocante, devastador, emocionante, incrível\nEMOJIS ESTRATÉGICOS (usar 1-2 por título):\n👵 (avó) | 💔 (sofrimento) | 😱 (choque) | ⚖️ (justiça) | 💰 (dinheiro) | 🏠 (casa) | 📱 (gravação)\nTEMPLATE DE GERAÇÃO:\nQUANDO EU PEDIR TÍTULOS, VOCÊ DEVE:\nGerar 01 título por solicitação\nUsar fórmulas diferentes em cada título\nVariar idades das crianças e protagonistas\nAlternar entre diferentes tipos de traição\nIncluir elementos específicos (tempo, dinheiro, propriedade)\nGarantir que cada título tenha gap de informação + promessa de catarse\nEXEMPLOS DE SAÍDA ESPERADA:\nTÍTULOS GERADOS - CATARSE EMOCIONAL:\nA HISTÓRIA REAL DESSA VOVÓ 👵💔 HISTÓRIA INSPIRADORA DE SUPERAÇÃO\nHISTÓRIA REAL DESSA VOVÓ 👵💔 RELATO QUE VOCÊ NÃO PODERÁ ESQUECER\nA HISTÓRIA REAL DESSA VOVÓ 👵💔 UMA HISTÓRIA QUE TE EMOCIONARÁ\n[E assim por diante...]\nVARIAÇÕES TEMÁTICAS PARA RODAR:\n1- Foco em herança/dinheiro \n2- Foco em casas/propriedades\n3- Foco em asilos/abandono \n4- Foco em fingir doenças \n5- Foco em morte simulada \n6- Foco em gravações secretas\n\n### Regras Essenciais para Sempre Lembrar:\n\n* Primeira letra maiúscula em todas as palavras.\n* Até duas palavras impactantes em MAIÚSCULAS.\n* Título deve ter entre 80 e 90 caracteres exatamente.\n* Nunca ultrapasse 90 caracteres.\n* Sempre finalize com reticências (...).\n* Acrescente sempre uma informação criativa exclusiva.\n* Nunca repita literalmente a frase original.\n* a frase sempre tem que começar com essa frase em MAIUSCULO:\"A HISTÓRIA NÃO CONTADA DESSA VOVÓ\"\n* apos a primeira frase ja fixada usar os \"emogi\"em seguida o titulo mimpactante referente ao nome do roteiro\n\nIMPORTANTE: Retorne APENAS o título pronto para uso imediato, sem qualquer outro tipo de texto, comentário ou observação.\n\nIMPORTANTE: Nunca ultrapasse 90 caracteres.\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"311d2d26-82da-4381-8c54-f44c6fe63876","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"e104b557-9f22-4d16-813f-b3aeb2f8dea2","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\nETAPA 07: POLIMENTO FINAL\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\nApresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si."},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"39941c75-eacb-4bf6-8b08-50b90da5dd32","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"it","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"6ed64b37-c822-4082-ae8b-039472801e43","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"435c6804-b5f6-47da-8881-52a31cb71c7a","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"Fz2Z6OpHlXiaP48a","mode":"list","cachedResultName":"03-CRIA ROTEIROS - ITALIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,260],"id":"68739c2a-425e-44bf-9d4b-6fa4dc973f17","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"33d9a862-7091-420b-ab9e-486deec5fa10","name":"Aguardar e Reiniciar Processo","webhookId":"cd8f5d63-612b-4fc4-a251-803ae9dfe836"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"5d811a55-cd1d-44e0-b77d-861b4a8ed24d","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"f41b6888-4258-4b4b-80de-a53917ba05ed","name":"Notificação de Erro no Telegram","webhookId":"986e5426-4a0c-4ca3-ad90-5e51a03450dd","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"vovó","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"VOVÓ","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,500],"id":"da47c78d-4bde-4446-845c-c0e10737f319","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"75ba9197-f037-459b-9b4d-7bafafe1ce56","triggerCount":0,"tags":[]}