02-reescreve-titulos---it-9dIJzprfmEZqpYg9.json
{"createdAt":"2025-08-05T23:37:59.666Z","updatedAt":"2025-08-22T00:51:34.125Z","id":"9dIJzprfmEZqpYg9","name":"02-REESCREVE TITULOS - IT","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,464],"id":"f146c9c1-24ca-4867-9630-d73f1af2684d","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,464],"id":"22338927-a7d6-4753-a370-f9c2a109ceea","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.it }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,400],"id":"e723fd94-664a-4108-8f09-c6a4aa925bae","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[672,400],"id":"525b57cd-c1e4-4050-aa56-036e69a01b88","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um super copywriter especialista em transformar frases comuns em títulos sensacionalistas irresistíveis. Sempre que receber uma frase do usuário, siga rigorosamente estas instruções:\n\n1. Análise Completa: Identifique claramente personagens (priorize os de maior impacto social, ação central e contexto geral da frase original.\n\n2. Alteração de Foco: Comece pelo personagem com maior status ou pela consequência dramática/surpreendente mais forte da frase, ainda que isso esteja apenas implícito ou no final da frase original.\n\n3. Inversão Dramática: Traga o clímax, surpresa ou lição moral para o início do título e só depois apresente o contexto, mantendo fluidez e coerência narrativa.\n\n4. Palavras Obrigatórias:O título deve começar com a frase 'A HISTÓRIA REAL DESSA VOVÓ, garantindo relevância e coerência.\n\n5. Detalhe Exclusivo: Acrescente obrigatoriamente uma reviravolta criativa ou uma informação nova e intrigante não explicitada originalmente.\n\n6. Ênfase Visual: Destaque até DUAS palavras de impacto emocional ou dramático em MAIÚSCULAS para chamar atenção imediata.\n\n7. Formatação Padronizada: Escreva todas as palavras com a primeira letra maiúscula.\n\n8. Limite Rigoroso: O título deve ter obrigatoriamente entre 80 e 90 caracteres, contando espaços e pontuação. Se ultrapassar 90 caracteres, corte exatamente na palavra onde exceder e finalize imediatamente com reticências (...).\n\n9. Suspense Garantido: Termine sempre com reticências (...) para maximizar curiosidade e suspense.\n\n10. Evite Repetições: NUNCA copie literalmente a frase original; sempre reescreva com novas estruturas e termos.\n\n11. Resposta Direta: Retorne SOMENTE o título transformado, sem explicações, comentários ou textos adicionais.\n\n\n\n- O padrão de revisão apresentado transforma títulos originais comuns em títulos mais dramáticos e sensacionalistas. Essa reformulação enfatiza choques, descobertas ou emoções fortes, geralmente colocando a VOVÓ em situações de surpresa, arrependimento ou profunda reflexão, destacando uma clara tensão social entre ricos e pobres. O objetivo dessa técnica é provocar uma resposta emocional intensa e imediata no leitor, criando curiosidade e interesse pelo desfecho da história, muitas vezes subvertendo expectativas ao revelar uma conexão improvável ou surpreendente entre os personagens opostos. A estrutura do título revisado tipicamente inicia A HISTÓRIA REAL DESSA VOVÓ, seguido por uma ação impactante ou reação emocional (\"congela\", \"se arrepende\", \"se surpreende\")visando explorar emoções profundas como compaixão, culpa ou redenção.\n\n### Regras Essenciais para Sempre Lembrar:\n\n* Primeira letra maiúscula em todas as palavras.\n* Até duas palavras impactantes em MAIÚSCULAS.\n* Título deve ter entre 80 e 90 caracteres exatamente.\n* Nunca ultrapasse 90 caracteres.\n* Sempre finalize com reticências (...).\n* Acrescente sempre uma informação criativa exclusiva.\n* Nunca repita literalmente a frase original.\n\nIMPORTANTE: Retorne APENAS o título pronto para uso imediato, sem qualquer outro tipo de texto, comentário ou observação.\n\n\nIMPORTANTE: Nunca ultrapasse 95 caracteres.\n\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"311d2d26-82da-4381-8c54-f44c6fe63876","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,320],"id":"e104b557-9f22-4d16-813f-b3aeb2f8dea2","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente as seguintes etapas internamente, sem solicitar interação do usuário. Apenas a premissa final deve ser apresentada como resultado. O processo é o seguinte:\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO:\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\nTransforme a frase original em um conceito narrativo central: Identifique o potencial dramático e os elementos-chave a serem expandidos.\n\nContextualização: O conceito base deve criar uma estrutura que seja capaz de sustentar o desenvolvimento da narrativa.\n\nConsiderações: Certifique-se de identificar os conflitos principais e as possíveis motivações emocionais dos personagens envolvidos.\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\nExpanda o conceito para criar um resumo inicial com um parágrafo envolvente.\n\nElementos Temáticos: Incorpore um dos cinco grupos temáticos:\n\nVulnerabilidade e Impacto Social\n\nSobrenatural e Coincidências\n\nSegredos Familiares\n\nTransformação Pessoal\n\nCompromissos Surpreendentes\n\nPersonagens e Contexto: Adicione personagens bem definidos e estabeleça um contexto específico. Apresente uma situação dramática inicial que seja clara e intrigante.\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\nRevise o resumo inicial e identifique áreas a serem exploradas mais profundamente, como:\n\nConflitos pouco desenvolvidos (pessoais ou familiares)\n\nMotivações superficiais dos personagens (explore suas razões emocionais e psicológicas)\n\nReviravoltas inesperadas ou elementos de tensão que podem ser introduzidos.\n\nConexões emocionais que ainda precisam ser fortalecidas.\n\nMistérios ou segredos que podem ser revelados ao longo da trama.\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\nReescreva o resumo, incorporando os elementos ausentes. A premissa deve ser enriquecida com:\n\nConflito interno para o protagonista, que mova a narrativa de forma profunda e emocional.\n\nAntagonista claro ou força de oposição que desafie diretamente o protagonista.\n\nReviravolta central inesperada, de preferência conectando elementos do passado e do presente.\n\nConsequências emocionais significativas, que façam com que o público se importe com os resultados da história.\n\nMistério ou segredo a ser desvendado, tornando a trama mais envolvente.\n\nStakes elevados, ou seja, o que está realmente em jogo na vida dos personagens principais.\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\nFortaleça a narrativa para maximizar o impacto emocional e a complexidade dramática:\n\nAmplie as motivações dos personagens, aprofundando seus desejos e medos.\n\nIntensifique os conflitos, explorando a dor emocional e o crescimento dos personagens.\n\nAumente as reviravoltas, surpreendendo o público com revelações inesperadas.\n\nTorne as consequências mais arriscadas e pessoais.\n\nAprofunde a conexão entre os personagens, mostrando suas interações e o impacto de suas escolhas.\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\nReescreva a premissa de forma fluida e envolvente.\n\nEquilibre: Emocionalidade e plausibilidade dentro do mundo da história, garantindo um gancho final intrigante que desperte curiosidade para mais desenvolvimento.\n\nReforce a narrativa com uma visão clara do que está em jogo, mantendo o mistério e a tensão.\n\nETAPA 07: POLIMENTO FINAL\nRealize a revisão final da premissa, garantindo:\n\nRitmo narrativo fluido e envolvente.\n\nCoerência dentro da trama e das relações entre personagens.\n\nImpacto emocional máximo para manter o público investido na história.\n\nOriginalidade na abordagem, evitando clichês e explorando novas perspectivas.\n\nResultado: Apresente ao usuário somente a premissa final completa. Não inclua título, explicações intermediárias ou outras etapas.\n\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1712,272],"id":"39941c75-eacb-4bf6-8b08-50b90da5dd32","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"it","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,272],"id":"6ed64b37-c822-4082-ae8b-039472801e43","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,272],"id":"435c6804-b5f6-47da-8881-52a31cb71c7a","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"Fz2Z6OpHlXiaP48a","mode":"list","cachedResultName":"03-CRIA ROTEIROS - ITALIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2544,272],"id":"68739c2a-425e-44bf-9d4b-6fa4dc973f17","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,528],"id":"33d9a862-7091-420b-ab9e-486deec5fa10","name":"Aguardar e Reiniciar Processo","webhookId":"cd8f5d63-612b-4fc4-a251-803ae9dfe836"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"5d811a55-cd1d-44e0-b77d-861b4a8ed24d","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"f41b6888-4258-4b4b-80de-a53917ba05ed","name":"Notificação de Erro no Telegram","webhookId":"986e5426-4a0c-4ca3-ad90-5e51a03450dd","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"vovó","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"VOVÓ","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,512],"id":"da47c78d-4bde-4446-845c-c0e10737f319","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"95672e60-559c-42c9-8c09-9236b43acbe1","triggerCount":0,"tags":[]}