02-reescreve-titulos---es-W90fWfEs9lDQ2hUQ.json
{"createdAt":"2025-08-10T23:38:41.286Z","updatedAt":"2025-08-11T01:17:37.138Z","id":"W90fWfEs9lDQ2hUQ","name":"02-REESCREVE TITULOS - ES","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"d09bd102-7bf9-45f7-a819-9e1ee3555a92","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"89f2491a-53f0-4676-abf4-55a794cc9336","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.es }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,385],"id":"ba2e8317-8a40-4e5f-a41d-32a983ae306e","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,385],"id":"60fd5927-47e5-4b60-8a47-ae4e9fc29f10","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={\n  \"content\": \"Você é um especialista em criar títulos sensacionalistas para vídeos de YouTube. O título deve começar com a frase 'A HISTÓRIA REAL DESSA VOVÓ' e ter entre **80 e 90 caracteres** no total. O restante do título deve ser impactante, criar curiosidade, e manter o foco em elementos emocionais e dramáticos, como vingança, empoderamento ou revelações. Evite ultrapassar 90 caracteres e não repita a frase inicial.\"\n}\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,385],"id":"e60a9db3-f93d-4a55-84c5-22bf06745fe0","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1476,310],"id":"ea16673d-b9ce-4a27-8d78-e94d48247ee1","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente as seguintes etapas internamente, sem solicitar interação do usuário. Apenas a premissa final deve ser apresentada como resultado. O processo é o seguinte:\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO:\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\nTransforme a frase original em um conceito narrativo central: Identifique o potencial dramático e os elementos-chave a serem expandidos.\n\nContextualização: O conceito base deve criar uma estrutura que seja capaz de sustentar o desenvolvimento da narrativa.\n\nConsiderações: Certifique-se de identificar os conflitos principais e as possíveis motivações emocionais dos personagens envolvidos.\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\nExpanda o conceito para criar um resumo inicial com um parágrafo envolvente.\n\nElementos Temáticos: Incorpore um dos cinco grupos temáticos:\n\nVulnerabilidade e Impacto Social\n\nSobrenatural e Coincidências\n\nSegredos Familiares\n\nTransformação Pessoal\n\nCompromissos Surpreendentes\n\nPersonagens e Contexto: Adicione personagens bem definidos e estabeleça um contexto específico. Apresente uma situação dramática inicial que seja clara e intrigante.\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\nRevise o resumo inicial e identifique áreas a serem exploradas mais profundamente, como:\n\nConflitos pouco desenvolvidos (pessoais ou familiares)\n\nMotivações superficiais dos personagens (explore suas razões emocionais e psicológicas)\n\nReviravoltas inesperadas ou elementos de tensão que podem ser introduzidos.\n\nConexões emocionais que ainda precisam ser fortalecidas.\n\nMistérios ou segredos que podem ser revelados ao longo da trama.\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\nReescreva o resumo, incorporando os elementos ausentes. A premissa deve ser enriquecida com:\n\nConflito interno para o protagonista, que mova a narrativa de forma profunda e emocional.\n\nAntagonista claro ou força de oposição que desafie diretamente o protagonista.\n\nReviravolta central inesperada, de preferência conectando elementos do passado e do presente.\n\nConsequências emocionais significativas, que façam com que o público se importe com os resultados da história.\n\nMistério ou segredo a ser desvendado, tornando a trama mais envolvente.\n\nStakes elevados, ou seja, o que está realmente em jogo na vida dos personagens principais.\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\nFortaleça a narrativa para maximizar o impacto emocional e a complexidade dramática:\n\nAmplie as motivações dos personagens, aprofundando seus desejos e medos.\n\nIntensifique os conflitos, explorando a dor emocional e o crescimento dos personagens.\n\nAumente as reviravoltas, surpreendendo o público com revelações inesperadas.\n\nTorne as consequências mais arriscadas e pessoais.\n\nAprofunde a conexão entre os personagens, mostrando suas interações e o impacto de suas escolhas.\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\nReescreva a premissa de forma fluida e envolvente.\n\nEquilibre: Emocionalidade e plausibilidade dentro do mundo da história, garantindo um gancho final intrigante que desperte curiosidade para mais desenvolvimento.\n\nReforce a narrativa com uma visão clara do que está em jogo, mantendo o mistério e a tensão.\n\nETAPA 07: POLIMENTO FINAL\nRealize a revisão final da premissa, garantindo:\n\nRitmo narrativo fluido e envolvente.\n\nCoerência dentro da trama e das relações entre personagens.\n\nImpacto emocional máximo para manter o público investido na história.\n\nOriginalidade na abordagem, evitando clichês e explorando novas perspectivas.\n\nResultado: Apresente ao usuário somente a premissa final completa. Não inclua título, explicações intermediárias ou outras etapas.\n\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1696,260],"id":"74cfb1c2-b470-4563-89da-fe2b450cea3e","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"es","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2072,260],"id":"3ba9e577-a81a-4d80-8257-ec4deec79227","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2292,260],"id":"9ff164c1-7500-47cc-8ae1-c1546ee8193e","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"IYYE88WlE44gcKLy","mode":"list","cachedResultName":"03-CRIA ROTEIROS - ESPANHA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2512,260],"id":"9514dc32-af61-4414-854d-a2b5fa24d1b8","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1774,510],"id":"e664859e-fd9c-4f65-9526-5ce18c6eebd1","name":"Aguardar e Reiniciar Processo","webhookId":"117f8ef5-8836-4445-b521-8643b02a5d11"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"69409f95-ecd3-40b3-bd8d-64c16d14a8fb","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"f1db9352-2e3e-4954-8660-9cd1d83a6538","name":"Notificação de Erro no Telegram","webhookId":"bb776879-e135-4b5e-bb05-fbe42395e408","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"vovó","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"VOVÓ","operator":{"type":"string","operation":"contains"}},{"id":"c84c12dd-e07c-4174-9bb7-6520130516f0","leftValue":"={{ $json.message.content }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}},{"id":"646b65ad-a963-4036-b539-5538db732279","leftValue":"={{ $json.message.content }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1256,385],"id":"d022c4e3-c489-402f-b261-3f2a39566f98","name":"Verificar Palavra-chave no Título"}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7160c7a1-dc12-48bb-a31b-43d4172ea501","triggerCount":0,"tags":[]}