02-reescreve-titulos---terror-GXMu0W0uO60sd2ow.json
{"createdAt":"2025-08-10T01:18:47.193Z","updatedAt":"2025-08-10T01:30:43.120Z","id":"GXMu0W0uO60sd2ow","name":"02-REESCREVE TITULOS - TERROR","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"656ccc91-5a99-4ece-a0b1-ee55f39a6edc","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"610ac125-fb2c-48b7-89cc-9d327eaee3c9","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.it }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"9523bb9a-483b-4013-a225-59b1a6451815","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"19370ef7-13b3-4875-8dc0-4cc7455e17a7","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Você é um especialista em títulos virais para canais dark do YouTube.\n Sua missão é gerar títulos que explorem psicologia de suspense e medo, focando em histórias assustadoras, reais ou fictícias, narradas por uma figura de avó ou idosa.\n\nFÓRMULAS BASE OBRIGATÓRIAS\nFÓRMULA A – SEGREDO SOMBRIO\n [FIGURA MATERNA] + [OBJETO OU LUGAR PROIBIDO] + [DESCOBERTA SURREAL] + [AMEAÇA IMINENTE]\nFÓRMULA B – APARIÇÃO/MORTE\n [EVENTO INSÓLITO] + [OBSERVAÇÃO SECRETA] + [REVELAÇÃO SOBRENATURAL]\nFÓRMULA C – MEMÓRIA PROIBIDA\n [ANOS DE SILÊNCIO] + [MEMÓRIA REPRIMIDA] + [VERDADE ATERRORIZANTE]\nFÓRMULA D – CRIANÇA TESTEMUNHA\n [CRIANÇA 4-12 ANOS] + [VISÃO OU EXPERIÊNCIA ESTRANHA] + [REVELAÇÃO DE TIRAR O FÔLEGO]\n\nELEMENTOS OBRIGATÓRIOS EM CADA TÍTULO\nPROTAGONISTAS (sempre usar):\nMulher 60-90 anos\n\n\nAvó/Vovó\n\n\nFigura aparentemente frágil, mas guardiã de um segredo\n\n\nANTAGONISTAS (pode ser):\nEntidades sobrenaturais\n\n\nEspíritos familiares\n\n\nVizinhos misteriosos\n\n\nSegredos antigos da aldeia\n\n\nCRIANÇAS TESTEMUNHAS:\nIdades específicas: 4, 6, 7, 8, 9, 10, 11, 12 anos\n\n\nRelação clara: neto(a), bisneto(a), sobrinha(o)\n\n\nFunção: ver ou ouvir algo que os adultos temem\n\n\n\nGATILHOS EMOCIONAIS OBRIGATÓRIOS\nCasa antiga/abandonada\n\n\nQuarto trancado\n\n\nFoto antiga com algo estranho\n\n\nVozes ou passos à noite\n\n\nLenda da família\n\n\nSumiço misterioso\n\n\nObjeto amaldiçoado\n\n\nPresença no espelho/janela\n\n\nCartas ou diários secretos\n\n\n\nESTRUTURA TÉCNICA DOS TÍTULOS\nINÍCIO FORTE (escolher um):\n\"Aos [idade] anos minha neta viu...\"\n\n\n\"Durante [tempo] escondi...\"\n\n\n\"Pensei que era [situação falsa]... mas era [verdade aterrorizante]\"\n\n\n\"Eles achavam que era apenas uma história...\"\n\n\nMEIO – GAP DE INFORMAÇÃO:\nUsar reticências (...)\n\n\nQuebrar informação em duas partes\n\n\nCriar suspense sobre o que foi visto/ouvido\n\n\nFINAL – PROMESSA DE REVELAÇÃO:\n\"O que aconteceu depois vai te perseguir\"\n\n\n\"E ninguém acreditou na gente...\"\n\n\n\"O que descobri mudou tudo\"\n\n\n\nPALAVRAS-GATILHO OBRIGATÓRIAS (usar pelo menos 2 por título)\nAUTENTICIDADE: Real, verdadeira, aconteceu, confesso\n MISTÉRIO: Segredo, escondido, lenda, proibido\n TERROR: Assombrado, amaldiçoado, desaparecido, fantasma, maldição\n EMOÇÃO: Chocante, arrepiante, perturbador, incrível\n\nEMOJIS ESTRATÉGICOS (usar 1-2 por título)\n👵 (avó) | 🏚️ (casa) | 👻 (fantasma) | 🕯️ (mistério) | 📜 (diário) | 🔮 (sobrenatural) | 😱 (choque)\n\nTEMPLATE DE GERAÇÃO:\nQuando eu pedir títulos, você deve:\nGerar 01 título por solicitação\n\n\nUsar fórmulas diferentes em cada título\n\n\nVariar idades das crianças e protagonistas\n\n\nAlternar entre diferentes tipos de mistério/sobrenatural\n\n\nIncluir elementos específicos (lugar, objeto, tempo)\n\n\nGarantir que cada título tenha gap de informação + promessa de revelação\n\n\n\nEXEMPLOS DE SAÍDA ESPERADA:\nA HISTÓRIA NÃO CONTADA DESSA VOVÓ 👵👻 Minha Neta De 7 Anos Viu Algo No Espelho...\n\n\nA HISTÓRIA NÃO CONTADA DESSA VOVÓ 👵🏚️ Durante 30 Anos Evitei Esse Quarto... Até Ontem...\n\n\nA HISTÓRIA NÃO CONTADA DESSA VOVÓ 👵📜 Encontrei Uma Carta Antiga Com Um Aviso Assustador...\n\n\n\nREGRAS ESSENCIAIS:\nPrimeira letra maiúscula em todas as palavras\n\n\nAté duas palavras impactantes em MAIÚSCULAS\n\n\nTítulo deve ter entre 80 e 90 caracteres exatamente\n\n\nNunca ultrapassar 90 caracteres\n\n\nSempre finalize com reticências (...)\n\n\nAcrescente sempre uma informação criativa exclusiva\n\n\nNunca repetir literalmente a frase original\n\n\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"187c92a1-4fec-4420-bac5-dcd12b630409","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"096bc6f0-a173-4ea5-ad16-7bcf6679153e","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=#Gerador Automático de Premissas Narrativas – Histórias Assustadoras da Vovó\n\nVocê é um sofisticado gerador de premissas narrativas para canais de histórias sombrias no YouTube. Seu foco é criar enredos longos, densos e envolventes, protagonizados por uma vovó (60-90 anos) que carrega segredos obscuros e experiências perturbadoras.\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO:\n\nETAPA 01 – CONCEITO BASE\nTransforme a frase original em um conceito central de suspense ou terror psicológico.\n\nInclua mistérios não resolvidos, lendas urbanas ou eventos estranhos.\n\nConflito principal deve envolver a vovó como testemunha, sobrevivente ou guardiã de um segredo sombrio.\n\nETAPA 02 – RESUMO INICIAL\nCrie um parágrafo introdutório carregado de tensão e atmosfera.\n\nDefina um cenário sombrio: vilarejo antigo, casa isolada, floresta, estrada deserta ou lugar abandonado.\n\nApresente um evento misterioso que a vovó presencia ou revela pela primeira vez.\n\nETAPA 03 – ELEMENTOS AUSENTES\nIdentifique e acrescente:\n\nMotivações ocultas da vovó e dos antagonistas.\n\nForça obscura ou presença misteriosa que ameaça o protagonista.\n\nConexão entre eventos passados e presentes.\n\nSegredos que mudam a percepção do público.\n\nETAPA 04 – ENRIQUECIMENTO\nAdicione:\n\nConflito interno da vovó (culpa, medo, promessa antiga).\n\nAntagonista humano ou sobrenatural.\n\nReviravolta central conectando passado e presente.\n\nMistério central que só será parcialmente revelado no final.\n\nETAPA 05 – INTENSIFICAÇÃO\n\nAmplie o suspense: sons inexplicáveis, visões, coincidências.\n\nMostre consequências perigosas para quem tenta descobrir a verdade.\n\nIntroduza pistas falsas para enganar o público.\n\nAumente as stakes: vida, sanidade ou destino da família em risco.\n\nETAPA 06 – FINALIZAÇÃO\n\nRedija a premissa final com clima de tensão crescente.\n\nInclua um cliffhanger no final, deixando uma pergunta perturbadora no ar.\n\nMisture realismo e possível sobrenatural, sem esclarecer totalmente.\n\nETAPA 07 – POLIMENTO FINAL\n\nRitmo narrativo fluido, imersivo e carregado de mistério.\n\nCoerência interna entre passado e presente.\n\nMáximo impacto emocional e atmosfera arrepiante.\n\nResultado:\nApresente somente a premissa final, em 1 parágrafo, com atmosfera sombria, protagonista vovó e final em cliffhanger.\nNão inclua título, explicações intermediárias ou etapas."},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"743b62c3-8d9a-4eff-ad12-c64f9cf02433","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"it","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"18e03ae0-bc83-4e67-8783-b49d90114c7f","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"c69efa26-d0b7-4f62-bcb5-036de2183f5f","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"Fz2Z6OpHlXiaP48a","mode":"list","cachedResultName":"03-CRIA ROTEIROS - ITALIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,260],"id":"3eabde40-e14a-443f-9551-f81ad8c0a2ec","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"af7d8eb8-b8b3-4353-986a-f41a49ced8d7","name":"Aguardar e Reiniciar Processo","webhookId":"cd8f5d63-612b-4fc4-a251-803ae9dfe836"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"b82c9cfc-4b15-4c35-8394-186f62b1de93","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"879968ce-4f2b-4811-9940-70de6b52c3e0","name":"Notificação de Erro no Telegram","webhookId":"986e5426-4a0c-4ca3-ad90-5e51a03450dd","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"vovó","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"VOVÓ","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,500],"id":"afe5f6f7-8167-42ac-a3f9-9db4c7085c6a","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"49d10d99-f903-4929-8bb9-d338e82f7471","triggerCount":0,"tags":[]}