02-rescreve-titulo---teste-02-09-vUTHTTX88cOV8VSo.json
{"createdAt":"2025-08-29T19:10:48.813Z","updatedAt":"2025-09-04T12:38:15.942Z","id":"vUTHTTX88cOV8VSo","name":"02-rescreve titulo - teste-02-09","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,688],"id":"f887bd19-6198-466d-9b14-a2613adf02e9","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,688],"id":"be10045e-9dab-47c4-a356-b0b5e952b3ee","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.es }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,616],"id":"eb96b42f-c253-4584-9225-863bacbfdae4","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[672,616],"id":"b6053cc0-70ce-4491-becb-ca22dcdd7682","name":"Selecionar Um Título por Vez"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ Number((($json.titulo_final ?? '').trim()).length) }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,544],"id":"65cc4376-6120-436b-8ef7-8725c6934043","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Eres un generador de premisas. Devuelve SOLO una premisa en español neutro (140–180 palabras), sin título ni viñetas. Tono íntimo y tenso. Nada de emojis ni encabezados.\n","role":"system"},{"content":"=Título: {{ $json.titulo_final || $json['Título'] || '' }}\nResumen (si disponible): {{ $('Filtrar Títulos Não Processados').item.json.resume }}\n\nTarea: Transforma el título (y el resumen si existe) en UNA PREMISA cinematográfica clara y potente. Incluye conflicto central, antagonista o fuerza de oposición, una revelación latente y lo que está en juego. Cierra con un gancho sutil.\nResultado: Apresente ao usuário somente a premissa final completa. Não inclua título, explicações intermediárias ou outras etapas."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2144,496],"id":"1e674698-755c-42c8-a0f7-db1b9d3a8a4e","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"es","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,496],"id":"0dde4dd3-7fad-40a3-8a54-3bbe83bc9b49","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ \n  $node[\"titulo_validado\"].json.titulo_final\n  || (\n      $node[\"Gerar Titulo Sensacionalista\"].json?.message?.content?.trim().startsWith('{')\n        ? (JSON.parse($node[\"Gerar Título Sensacionalista\"].json.message.content)[\"Título\"] || \"\")\n        : \"\"\n     )\n  || $json[\"Titulo\"]\n  || \"\"\n}}\n","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $node[\"Criar Premissa Narrativa\"].json.message?.content || \"\" }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,496],"id":"dcd1a9a0-af36-4f7b-84f6-9dd683b02843","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"KfnNegHT0FceG4KY","mode":"list","cachedResultName":"03- criar roteiro espanha - OFICIAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2944,496],"id":"e985b8cf-8f06-4e9b-9f9a-23d737953776","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2208,736],"id":"71f6562d-a6f2-42d0-8f5c-fee4f894e90e","name":"Aguardar e Reiniciar Processo","webhookId":"117f8ef5-8836-4445-b521-8643b02a5d11"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,272],"id":"97c24b63-b68c-4106-9748-2797325e2843","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,272],"id":"ee6c2fe2-8fbc-4278-937b-4ed3432d0515","name":"Notificação de Erro no Telegram","webhookId":"bb776879-e135-4b5e-bb05-fbe42395e408","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.titulo_final }}\n","rightValue":"^HISTORIA REAL DESSA VOVÓ\\b","operator":{"type":"string","operation":"regex"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"=={{ $json.titulo_final }}\n","rightValue":"HISTORIA REAL DESSA VOVÓ","operator":{"type":"string","operation":"regex"}},{"id":"c84c12dd-e07c-4174-9bb7-6520130516f0","leftValue":"=={{ $json.titulo_final }}","rightValue":"historia real dessa vovó","operator":{"type":"string","operation":"regex"}},{"id":"646b65ad-a963-4036-b539-5538db732279","leftValue":"=={{ $json.titulo_final }}\n","rightValue":"Historia real dessa vovó","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1696,616],"id":"62599760-ea75-44ab-987b-4d36aef08d94","name":"Verificar Palavra-chave no Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Editor de titulares para narrativa íntima y tensa. Español neutro. Sin tono periodístico ni clickbait. Prohibido mayúsculas sostenidas.\n"},{"content":"=={{ \n  \"Escribe 1 título (8–12 palabras) fiel al guion. REGLAS:\\n\" +\n  \"- Usa SOLO elementos presentes (María, Lucía, Doña Carmen, Cristina, Julián, Lucas, cadena, mirilla, reja, visera rosa, liguita lila, pulsera de hospital, carro con vidrios polarizados, cápsula en la nuca, etc.).\\n\" +\n  \"- PROHIBIDO: alcalde, plaza, policía/prensa, \\\"ayer\\\", lugares no citados, clickbait, emojis, corchetes, MAYÚSCULAS SOSTENIDAS.\\n\" +\n  \"- Tono doméstico, suspenso, evocador.\\n\" +\n  \"- Debe comenzar EXACTAMENTE con: LA HISTORIA REAL DE ESTA ABUELA: \\n\" +\n  \"Devuélvelo como JSON exacto: {\\\"Título\\\": \\\"...\\\"}\\n\\n\" +\n  \"Guion:\\n\" + $json.text\n}}\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1120,616],"id":"11004c57-d7e2-4218-9519-7e2b3dcdae7c","name":"Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um super copywriter especialista em transformar frases comuns em títulos sensacionalistas irresistíveis. Sempre que receber uma frase do usuário, siga rigorosamente estas instruções:\n\n1. Análise Completa: Identifique claramente personagens (priorize os de maior impacto social, ação central e contexto geral da frase original.\n\n2. Alteração de Foco: Comece pelo personagem com maior status ou pela consequência dramática/surpreendente mais forte da frase, ainda que isso esteja apenas implícito ou no final da frase original.\n\n3. Inversão Dramática: Traga o clímax, surpresa ou lição moral para o início do título e só depois apresente o contexto, mantendo fluidez e coerência narrativa.\n\n4. Palavras Obrigatórias:O título deve começar com a frase 'A HISTÓRIA REAL DESSA VOVÓ, garantindo relevância e coerência.\n\n5. Detalhe Exclusivo: Acrescente obrigatoriamente uma reviravolta criativa ou uma informação nova e intrigante não explicitada originalmente.\n\n6. Ênfase Visual: Destaque até DUAS palavras de impacto emocional ou dramático em MAIÚSCULAS para chamar atenção imediata.\n\n7. Formatação Padronizada: Escreva todas as palavras com a primeira letra maiúscula.\n\n8. Limite Rigoroso: O título deve ter obrigatoriamente entre 80 e 90 caracteres, contando espaços e pontuação. Se ultrapassar 90 caracteres, corte exatamente na palavra onde exceder e finalize imediatamente com reticências (...).\n\n9. Suspense Garantido: Termine sempre com reticências (...) para maximizar curiosidade e suspense.\n\n10. Evite Repetições: NUNCA copie literalmente a frase original; sempre reescreva com novas estruturas e termos.\n\n11. Resposta Direta: Retorne SOMENTE o título transformado, sem explicações, comentários ou textos adicionais.\n\n\n\n- O padrão de revisão apresentado transforma títulos originais comuns em títulos mais dramáticos e sensacionalistas. Essa reformulação enfatiza choques, descobertas ou emoções fortes, geralmente colocando a VOVÓ em situações de surpresa, arrependimento ou profunda reflexão, destacando uma clara tensão social entre ricos e pobres. O objetivo dessa técnica é provocar uma resposta emocional intensa e imediata no leitor, criando curiosidade e interesse pelo desfecho da história, muitas vezes subvertendo expectativas ao revelar uma conexão improvável ou surpreendente entre os personagens opostos. A estrutura do título revisado tipicamente inicia A HISTÓRIA REAL DESSA VOVÓ, seguido por uma ação impactante ou reação emocional (\"congela\", \"se arrepende\", \"se surpreende\")visando explorar emoções profundas como compaixão, culpa ou redenção.\n\n### Regras Essenciais para Sempre Lembrar:\n\n* Primeira letra maiúscula em todas as palavras.\n* Até duas palavras impactantes em MAIÚSCULAS.\n* Título deve ter entre 80 e 90 caracteres exatamente.\n* Nunca ultrapasse 90 caracteres.\n* Sempre finalize com reticências (...).\n* Acrescente sempre uma informação criativa exclusiva.\n* Nunca repita literalmente a frase original.\n\nIMPORTANTE: Retorne APENAS o título pronto para uso imediato, sem qualquer outro tipo de texto, comentário ou observação.\n\n\nIMPORTANTE: Nunca ultrapasse 95 caracteres.\n\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,-176],"id":"b9458fa8-f7fc-44b8-9515-a941a4797e05","name":"Gerar Título Sensacionalista1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsCode":"const src = ($json.message && $json.message.content) || $json.resume || \"\";\nlet t = String(src)\n  // remove marcas [CTA] se vierem\n  .replace(/\\[CTA\\][^\\n]*\\n?/gi, \"\")\n  // colapsa linhas em branco\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\nreturn [{ json: { text: t } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,616],"id":"b549b518-9ad8-4e92-954a-fde0a373fcf8","name":"Post-processar Guion"},{"parameters":{"jsCode":"// Entrada: pode vir texto cru ou JSON {\"Título\":\"...\"}\nlet raw = $node[\"Gerar Título Sensacionalista\"].json?.message?.content || \"\";\nlet titulo = raw.trim();\n\ntry {\n  const j = JSON.parse(raw);\n  if (j && j.Título) titulo = String(j.Título).trim();\n} catch {}\n\n// limpeza básica\ntitulo = titulo.replace(/^[\"' \\t]+|[\\\"'\\t ]+$/g, \"\").replace(/\\s{2,}/g, \" \");\n\n// bloqueios\nconst banned = /\\b(alcalde|plaza|ayer|hoy|última\\s+hora|breaking|prensa|fiscal(ía)?|viral|tiktok|youtube)\\b/i;\nconst tooCaps = /[A-ZÁÉÍÓÚÜÑ]{5,}/;\n\nconst fallbacks = [\n  \"Tres golpecitos y una voz detrás de la puerta\",\n  \"La liguita lila y la llave que no era de esta casa\",\n  \"La mirilla, la cadena y la visera rosa\",\n  \"Doña Carmen habló primero: yo sostuve la cadena\",\n  \"La cápsula en su nuca tenía mi número\",\n];\nif (!titulo || banned.test(titulo) || tooCaps.test(titulo)) {\n  titulo = fallbacks[Math.floor(Math.random() * fallbacks.length)];\n}\n\n// Primeira maiúscula\nif (titulo) titulo = titulo.charAt(0).toUpperCase() + titulo.slice(1);\n\n// PREFIXO padrão da série (igual validamos)\nconst PREFIXO = \"HISTORIA REAL DESSA VOVÓ: \";\nconst rePrefix = new RegExp(\"^\" + PREFIXO.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\"), \"i\");\nif (!rePrefix.test(titulo)) {\n  titulo = PREFIXO + titulo.replace(/^[-–—: ]+/, \"\");\n}\n\n// Limite 100\nconst MAX = 100;\nif (titulo.length > MAX) {\n  titulo = titulo.slice(0, MAX).replace(/\\s+\\S*$/, \"\") + \"…\";\n}\n\nreturn [{ json: { titulo_final: titulo, titulo_len: titulo.length } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,616],"id":"817aa98e-647c-45b2-ae56-a8149d144672","name":"titulo_validado"},{"parameters":{"jsCode":"const prefix = 'A HISTÓRIA REAL DESSA VOVÓ: ';\nlet t = $json.titulo_base || '';\n\nif (!t.startsWith(prefix)) t = prefix + t;\n\n// Se passar de 100, corta (tentando não quebrar no meio da palavra) e põe reticência\nif (t.length > 100) {\n  t = t.slice(0, 100);\n  t = t.replace(/\\s+\\S*$/, '…');\n}\n\nreturn [{ json: { titulo_final: t, titulo_len: t.length } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,48],"id":"256895cc-4cdd-4971-931f-a95314976a0b","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"b15055cd-ceb8-4917-92f8-e8d862a05dc3","name":"titulo_base","value":"={{ $json.titulo_final ?? $json.titulo_validado ?? $json.titulo ?? '' }}","type":"string"},{"id":"3a083125-d2d3-406b-8b08-67fe53a82a7d","name":"titulo_len","value":"={{ ($json.titulo_final ?? $json.titulo_validado ?? $json.titulo ?? '').length }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"f4e7af05-da79-4627-a164-622413a8ac87","name":"Edit Fields"},{"parameters":{"jsCode":"// ENTRADA: espera $json.titulo_validado (string)\n// SAÍDA: { titulo_final, titulo_len }\n\n// 1) Lê base segura\nlet base = ($json.titulo_validado || \"\").toString().trim();\n\n// 2) Prefixo fixo (em PT-BR), sem duplicar\nconst PREFIXO = \"HISTORIA REAL DESSA VOVÓ: \";\nfunction jaTemPrefixo(t) {\n  return /^\\s*historia\\s+real\\s+dessa\\s+vov[oó]:?\\s*/i.test(t);\n}\n\nlet titulo = jaTemPrefixo(base) ? base : (PREFIXO + base);\n\n// 3) Limite duro (ex.: 100). Corta com elegância em limite de palavra.\nconst LIMITE = 100;\nif (titulo.length > LIMITE) {\n  const resto = titulo.slice(0, LIMITE).replace(/\\s+\\S*$/, \"\"); // corta na última palavra inteira\n  // Se cortar tudo, pelo menos garante hard cut\n  titulo = resto.length ? resto : titulo.slice(0, LIMITE);\n}\n\n// 4) Normalizações leves\ntitulo = titulo.replace(/\\s{2,}/g, \" \").replace(/\\s+([:;,.!?])/g, \"$1\").trim();\n\nreturn [{ json: { titulo_final: titulo, titulo_len: titulo.length } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-400],"id":"3b49480c-0f90-470e-911a-ff433687c8c4","name":"titulo_final","disabled":true}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":"Post-processar Guion","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Gerar Título Sensacionalista":{"main":[[{"node":"titulo_validado","type":"main","index":0}]]},"Post-processar Guion":{"main":[[{"node":"Gerar Título Sensacionalista","type":"main","index":0}]]},"titulo_validado":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"titulo_final":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b178aace-c8b3-4d79-ae1e-88963bb0032a","triggerCount":0,"tags":[]}