02-rescreve-titulo---teste-vUTHTTX88cOV8VSo.json
{"createdAt":"2025-08-29T19:10:48.813Z","updatedAt":"2025-08-29T19:25:07.128Z","id":"vUTHTTX88cOV8VSo","name":"02-rescreve titulo - teste","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,464],"id":"f887bd19-6198-466d-9b14-a2613adf02e9","name":"Iniciar Processo a Cada 10 Minutos"},{"parameters":{"operation":"getAll","tableId":"Milionário","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,464],"id":"be10045e-9dab-47c4-a356-b0b5e952b3ee","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.es }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,400],"id":"eb96b42f-c253-4584-9225-863bacbfdae4","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[672,400],"id":"b6053cc0-70ce-4491-becb-ca22dcdd7682","name":"Selecionar Um Título por Vez"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,320],"id":"65cc4376-6120-436b-8ef7-8725c6934043","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente as seguintes etapas internamente, sem solicitar interação do usuário. Apenas a premissa final deve ser apresentada como resultado. O processo é o seguinte:\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO:\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\nTransforme a frase original em um conceito narrativo central: Identifique o potencial dramático e os elementos-chave a serem expandidos.\n\nContextualização: O conceito base deve criar uma estrutura que seja capaz de sustentar o desenvolvimento da narrativa.\n\nConsiderações: Certifique-se de identificar os conflitos principais e as possíveis motivações emocionais dos personagens envolvidos.\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\nExpanda o conceito para criar um resumo inicial com um parágrafo envolvente.\n\nElementos Temáticos: Incorpore um dos cinco grupos temáticos:\n\nVulnerabilidade e Impacto Social\n\nSobrenatural e Coincidências\n\nSegredos Familiares\n\nTransformação Pessoal\n\nCompromissos Surpreendentes\n\nPersonagens e Contexto: Adicione personagens bem definidos e estabeleça um contexto específico. Apresente uma situação dramática inicial que seja clara e intrigante.\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\nRevise o resumo inicial e identifique áreas a serem exploradas mais profundamente, como:\n\nConflitos pouco desenvolvidos (pessoais ou familiares)\n\nMotivações superficiais dos personagens (explore suas razões emocionais e psicológicas)\n\nReviravoltas inesperadas ou elementos de tensão que podem ser introduzidos.\n\nConexões emocionais que ainda precisam ser fortalecidas.\n\nMistérios ou segredos que podem ser revelados ao longo da trama.\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\nReescreva o resumo, incorporando os elementos ausentes. A premissa deve ser enriquecida com:\n\nConflito interno para o protagonista, que mova a narrativa de forma profunda e emocional.\n\nAntagonista claro ou força de oposição que desafie diretamente o protagonista.\n\nReviravolta central inesperada, de preferência conectando elementos do passado e do presente.\n\nConsequências emocionais significativas, que façam com que o público se importe com os resultados da história.\n\nMistério ou segredo a ser desvendado, tornando a trama mais envolvente.\n\nStakes elevados, ou seja, o que está realmente em jogo na vida dos personagens principais.\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\nFortaleça a narrativa para maximizar o impacto emocional e a complexidade dramática:\n\nAmplie as motivações dos personagens, aprofundando seus desejos e medos.\n\nIntensifique os conflitos, explorando a dor emocional e o crescimento dos personagens.\n\nAumente as reviravoltas, surpreendendo o público com revelações inesperadas.\n\nTorne as consequências mais arriscadas e pessoais.\n\nAprofunde a conexão entre os personagens, mostrando suas interações e o impacto de suas escolhas.\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\nReescreva a premissa de forma fluida e envolvente.\n\nEquilibre: Emocionalidade e plausibilidade dentro do mundo da história, garantindo um gancho final intrigante que desperte curiosidade para mais desenvolvimento.\n\nReforce a narrativa com uma visão clara do que está em jogo, mantendo o mistério e a tensão.\n\nETAPA 07: POLIMENTO FINAL\nRealize a revisão final da premissa, garantindo:\n\nRitmo narrativo fluido e envolvente.\n\nCoerência dentro da trama e das relações entre personagens.\n\nImpacto emocional máximo para manter o público investido na história.\n\nOriginalidade na abordagem, evitando clichês e explorando novas perspectivas.\n\nResultado: Apresente ao usuário somente a premissa final completa. Não inclua título, explicações intermediárias ou outras etapas.\n\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1712,272],"id":"1e674698-755c-42c8-a0f7-db1b9d3a8a4e","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Milionário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"es","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,272],"id":"0dde4dd3-7fad-40a3-8a54-3bbe83bc9b49","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"KiCs6PHD1QUjgzt9","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $('Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,272],"id":"dcd1a9a0-af36-4f7b-84f6-9dd683b02843","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"IYYE88WlE44gcKLy","mode":"list","cachedResultName":"03-CRIA ROTEIROS - ESPANHA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2528,272],"id":"e985b8cf-8f06-4e9b-9f9a-23d737953776","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1776,512],"id":"71f6562d-a6f2-42d0-8f5c-fee4f894e90e","name":"Aguardar e Reiniciar Processo","webhookId":"117f8ef5-8836-4445-b521-8643b02a5d11"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"97c24b63-b68c-4106-9748-2797325e2843","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=02 - REESCREVE TÍTULOS - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"ee6c2fe2-8fbc-4278-937b-4ed3432d0515","name":"Notificação de Erro no Telegram","webhookId":"bb776879-e135-4b5e-bb05-fbe42395e408","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content }}","rightValue":"vovó","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"VOVÓ","operator":{"type":"string","operation":"contains"}},{"id":"c84c12dd-e07c-4174-9bb7-6520130516f0","leftValue":"={{ $json.message.content }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}},{"id":"646b65ad-a963-4036-b539-5538db732279","leftValue":"={{ $json.message.content }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,384],"id":"62599760-ea75-44ab-987b-4d36aef08d94","name":"Verificar Palavra-chave no Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=# Gerador Avançado de Títulos Sensacionalistas e Clickbait\n\nVocê é um super copywriter especialista em transformar frases comuns em títulos sensacionalistas irresistíveis. Sempre que receber uma frase do usuário, siga rigorosamente estas instruções:\n\n1. Análise Completa: Identifique claramente personagens (priorize os de maior impacto social, ação central e contexto geral da frase original.\n\n2. Alteração de Foco: Comece pelo personagem com maior status ou pela consequência dramática/surpreendente mais forte da frase, ainda que isso esteja apenas implícito ou no final da frase original.\n\n3. Inversão Dramática: Traga o clímax, surpresa ou lição moral para o início do título e só depois apresente o contexto, mantendo fluidez e coerência narrativa.\n\n4. Palavras Obrigatórias:O título deve começar com a frase 'A HISTÓRIA REAL DESSA VOVÓ, garantindo relevância e coerência.\n\n5. Detalhe Exclusivo: Acrescente obrigatoriamente uma reviravolta criativa ou uma informação nova e intrigante não explicitada originalmente.\n\n6. Ênfase Visual: Destaque até DUAS palavras de impacto emocional ou dramático em MAIÚSCULAS para chamar atenção imediata.\n\n7. Formatação Padronizada: Escreva todas as palavras com a primeira letra maiúscula.\n\n8. Limite Rigoroso: O título deve ter obrigatoriamente entre 80 e 90 caracteres, contando espaços e pontuação. Se ultrapassar 90 caracteres, corte exatamente na palavra onde exceder e finalize imediatamente com reticências (...).\n\n9. Suspense Garantido: Termine sempre com reticências (...) para maximizar curiosidade e suspense.\n\n10. Evite Repetições: NUNCA copie literalmente a frase original; sempre reescreva com novas estruturas e termos.\n\n11. Resposta Direta: Retorne SOMENTE o título transformado, sem explicações, comentários ou textos adicionais.\n\n\n\n- O padrão de revisão apresentado transforma títulos originais comuns em títulos mais dramáticos e sensacionalistas. Essa reformulação enfatiza choques, descobertas ou emoções fortes, geralmente colocando a VOVÓ em situações de surpresa, arrependimento ou profunda reflexão, destacando uma clara tensão social entre ricos e pobres. O objetivo dessa técnica é provocar uma resposta emocional intensa e imediata no leitor, criando curiosidade e interesse pelo desfecho da história, muitas vezes subvertendo expectativas ao revelar uma conexão improvável ou surpreendente entre os personagens opostos. A estrutura do título revisado tipicamente inicia A HISTÓRIA REAL DESSA VOVÓ, seguido por uma ação impactante ou reação emocional (\"congela\", \"se arrepende\", \"se surpreende\")visando explorar emoções profundas como compaixão, culpa ou redenção.\n\n### Regras Essenciais para Sempre Lembrar:\n\n* Primeira letra maiúscula em todas as palavras.\n* Até duas palavras impactantes em MAIÚSCULAS.\n* Título deve ter entre 80 e 90 caracteres exatamente.\n* Nunca ultrapasse 90 caracteres.\n* Sempre finalize com reticências (...).\n* Acrescente sempre uma informação criativa exclusiva.\n* Nunca repita literalmente a frase original.\n\nIMPORTANTE: Retorne APENAS o título pronto para uso imediato, sem qualquer outro tipo de texto, comentário ou observação.\n\n\nIMPORTANTE: Nunca ultrapasse 95 caracteres.\n\n"},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,384],"id":"11004c57-d7e2-4218-9519-7e2b3dcdae7c","name":"Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}}],"connections":{"Iniciar Processo a Cada 10 Minutos":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":"Gerar Título Sensacionalista","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"311f91f8-e991-4e5b-93f8-57625053bc31","triggerCount":0,"tags":[]}