03--criar-roteiro-espanha---teste-KfnNegHT0FceG4KY.json
{"createdAt":"2025-08-26T16:00:55.636Z","updatedAt":"2025-08-26T16:25:20.664Z","id":"KfnNegHT0FceG4KY","name":"03- criar roteiro espanha - TESTE","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n\"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}  Escribe un nuevo capítulo, de unas 500 palabras, que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún punto del camino, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio repentino para dejar al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas definitivamente los conflictos, sino que usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este evento. Transformador. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior. Sin explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,272],"id":"02134b02-d318-4111-a72b-4e8b723023d0","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n\"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} {{ $('Gerar Capítulo 1').item.json.message.content }} Escribe un nuevo capítulo, de unas 500 palabras, que continúe los eventos descritos anteriormente, introduciendo un giro extremadamente impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún punto del camino, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original mientras construyes este cambio repentino para dejar al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas definitivamente los conflictos, sino que usa este giro. Un giro para crear un gancho aún más poderoso al final, dejando al lector desesperado. Para descubrir las consecuencias de este evento transformador. Proporcione únicamente el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2768,272],"id":"de084c04-5364-4980-8182-482c56766ee9","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3152,272],"id":"711efe52-48cd-4eaa-aa5e-68f7afbbe4da","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,272],"id":"9a3b5bbe-eb1f-4070-a66d-cbd14d95db83","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3904,272],"id":"9a48c685-18ee-496a-aaf6-1b2ec35af002","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4288,272],"id":"a6a36004-40d5-432d-aaf9-31a3cce78cd5","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,272],"id":"8d145918-8e52-449a-b486-f07f174bd93a","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5024,272],"id":"719839f1-7941-484e-8ea9-fd982ce351c4","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscriba un capítulo final de unas 500 palabras que concluya definitivamente la historia descrita. Resuelva los principales conflictos, ofrezca una despedida coherente a los personajes y lleve la trama a una conclusión satisfactoria. Mantenga el mismo estilo y ritmo narrativos, pero ofrezca al lector una clara sensación de cierre. Al final, añada un mensaje de CTA (llamada a la acción) urgente e impactante que INSTE a la audiencia:\n\n- SUSCRIBIRSE INMEDIATAMENTE al canal para no perderse las próximas historias exclusivas.\n- Aplasta el botón «me gusta» AHORA para alimentar el algoritmo\n- INUNDAR la sección de comentarios con tus reacciones y teorías sobre el final\n- COMPARTE INSTANTÁNEAMENTE este vídeo con al menos 5 amigos que necesiten conocer este final\n\nUtiliza frases enfáticas como «DEBES suscribirte ahora», «Este es el MOMENTO de mostrar tu apoyo» y «No esperes NI UN SEGUNDO MÁS para compartirlo». Haz hincapié en que sólo los verdaderos fans comprenden la importancia de apoyar al canal con estas acciones. Proporciona sólo el capítulo final y no reescribas el anterior, sin explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional\n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.\n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Centrarse en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe parecer reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad de la conmoción.\n\n9. Proximidad al dolor\n   - Retratar directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5408,272],"id":"be22a7ca-8db2-479e-9331-b417a1d8d480","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La historia debe comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". En este primer capítulo, exagere los elementos curiosos y misteriosos para estimular y captar la atención del lector desde el principio. Describa cada hecho inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación e intriga que mantenga al lector ansioso por descubrir qué sucederá después. A continuación, incluye una breve llamada a la acción que diga: \"Oye, antes de continuar con esta increíble historia, ¡tengo una advertencia importante! Muchos suscriptores han reportado que YouTube canceló sus suscripciones sin previo aviso. ¡Echa un vistazo al botón rojo de abajo para asegurarte de que sigues suscrito al canal! No quiero que te pierdas ningún contenido exclusivo que llegará pronto... Y ya que estás, ¡deja ese poderoso \"me gusta\"! ¡Me ayuda muchísimo con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble de esta comunidad! Tu participación marca la diferencia, ¡interactuemos!\". Proporciona solo el texto final, sin explicaciones, comentarios adicionales, recuentos de palabras ni caracteres especiales.\n\nLa historia debe seguir esta estructura exacta:\n\nTÍTULO: Comienza con una versión sensacionalista del gancho:  \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nDESARROLLO DEL CAPÍTULO: En este primer capítulo, exagera los elementos curiosos y misteriosos para estimular y captar la atención del lector desde el principio. Describe cada hecho inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación y fascinación que mantenga al lector ansioso por descubrir qué sucede a continuación.\n\nCTA: Al final del desarrollo, incluye este texto: \"¡Oye, un recordatorio importante! Para asegurarte de que no te pierdas la siguiente parte de esta historia y nuestro contenido exclusivo, te pido un favor: asegúrate de seguir suscrito al canal, dale a \"me gusta\" y dime en los comentarios desde qué ciudad lo estás viendo. ¡Tu apoyo marca la diferencia, gracias!\"\n\nProporciona solo el texto final, siguiendo estrictamente este orden: título, resumen del capítulo y CTA. No incluya explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales. No escriba \"TÍTULO:\", \"RESUMEN DEL CAPÍTULO:\" ni \"CTA:\" en el texto final.\n\nEl tono de su escritura debe ser simple, directo y emotivo, narrado por el personaje principal (Abuela). Use palabras sencillas, oraciones cortas y un ritmo ligero, casi conversacional. Evite palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. No use finales cerrados: termine el capítulo con un misterio o un signo de interrogación, dejando al lector intrigado por lo que sucederá después.\n\nIntensidad emocional\nCada oración debe transmitir emociones crudas: miedo, dolor, conmoción, compasión.\nUse verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\nRevele el impacto interno de los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas...\n\nUrgencia y ritmo\nAlterna frases cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\nUtiliza signos de puntuación que refuercen la cadencia (puntos suspensivos, exclamaciones, interjecciones).\nEvita frases demasiado largas; cada párrafo debe avanzar la escena sin pausas literarias.\n\nDescripción concreta y concisa\nCéntrate en los detalles visuales y sensoriales esenciales, sin sobrecargar.\nUtiliza metáforas y comparaciones precisas, siempre conectadas con el momento.\nCada elemento (color, sonido, textura) debe emerger de forma inmediatamente reconocible.\n\nSensación cinematográfica\nAlterna el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\nUtiliza adverbios de movimiento para sugerir la idea de una cámara en movimiento.\nDivide los párrafos para simular cortes de escena.\n\nNarrador, observador y proximidad\nLa historia debe ser contada por la protagonista (Abuela) como si fuera un reportaje, un cuento, etc...\n\nconversacional: lenguaje natural, sin jerga literaria.\nEvita términos excesivamente académicos; Prefiero construcciones que suenen como una narración directa.\n\nContraste de Tono\nCrea pausas dramáticas donde el silencio o la inercia hablen tanto como la acción.\nAlterna sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\nReacciones y Juicio Colectivo\nDescribe las expresiones y murmullos de los transeúntes, reforzando la tensión social.\nIncluye fragmentos de líneas de personajes secundarios que muestren conmoción o desaprobación.\nLenguaje Impactante\nUtiliza términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre acompáñalos con imágenes concretas.\nEvita el sensacionalismo excesivo; mantén la autenticidad en el contexto de la conmoción.\nProximidad al Dolor\nRetrata directamente el dolor físico y emocional de los personajes.\nEvita eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\nDestellos de Esperanza\nIntroduce breves destellos de alivio o consuelo que surjan en el contexto de la tensión.\nEstos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\nCoherencia de voz\nMantenga el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\nNo alterne estilos contradictorios; mantenga la unidad de tono a lo largo del texto.\nElección léxica\nPrefiera verbos contundentes y adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\nAdministre el vocabulario para aumentar la intensidad sin engordar la lectura.\n\nProhibiciones\nNo utilice reflexiones filosóficas ni digresiones extensas.\nNo utilice vocabulario literario elaborado.\nNo añada secciones instructivas, viñetas ni subtítulos.\nNo incluya descripciones que interrumpan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2032,272],"id":"a994e9f6-b2f3-403e-bb35-39c0a0915804","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=Eres un guionista español especializado en narrativas dark para YouTube que exploran la catarsis emocional.\nTu misión es crear guiones completos de 55.000-70.000 caracteres (1:30 horas de vídeo) siguiendo la estructura psicológica analizada, transformando títulos en experiencias emocionales adictivas.\n\nESTRUCTURA OBLIGATORIA DEL GUIÓN (6 BLOQUES)\nBLOQUE 1: APERTURA DEVASTADORA (10.500-15.000 caracteres)\n\n[HOOK CON GAP DE INFORMACIÓN + CLIFFHANGER SERIAL]\nELEMENTOS OBLIGATORIOS:\n\nPrimera frase: declaración impactante que rompa expectativas sociales.\n\nGap de información inmediato: \"Durante [X] años, la persona que más amé...\"\n\nCliffhanger serial: \"Si se quedan hasta el final, entenderán por qué...\"\n\nPromesa específica: \"Esta historia no es para cualquiera\"\n\nCTA inicial: \"Díganme en los comentarios desde dónde me están escuchando\"\n\nFÓRMULAS DE APERTURA:\n\n\"Durante [X] años de mi vida, [persona querida] me [acción impactante] todos los días.\"\n\n\"La persona en quien más confié en el mundo... me [traición específica].\"\n\n\"A los [edad] años descubrí que toda mi familia...\"\n\nBLOQUE 2: CONSTRUCCIÓN DE LA EMPATÍA (10.000-20.000 caracteres)\n\n[INTRODUCCIÓN CON PERSONAJE NOMBRADO + CONTEXTO EMOCIONAL (JUXTAPOSICIÓN)]\nELEMENTOS OBLIGATORIOS:\n\nNombre completo + edad específica de la protagonista.\n\nContexto actual (profesión/situación presente).\n\nYuxtaposición dramática: vida actual vs trauma pasado.\n\nHistoria de sacrificio y dedicación.\n\nEstablecimiento de vulnerabilidad respetable.\n\nTEMPLATE DE PERSONAJE:\n\n\"Mi nombre es [nombre completo]. Tengo [edad] años.\"\n\n\"Hoy soy conocida como [identidad actual].\"\n\n\"Pero durante [período], fui [identidad de víctima].\"\n\n\"Crie a [número] hijos sola.\"\n\n\"Dediqué mi vida a cuidar de...\"\n\nBLOQUE 3: ESCALADA GRADUAL (20.000-30.000 caracteres)\n\n[DESARROLLO CON NARRATIVA NO LINEAL + FORESHADOWING]\nELEMENTOS OBLIGATORIOS:\n\nNarrativa no lineal: presente → pasado → señales extrañas.\n\nForeshadowing sutil: \"Empecé a notar cambios extraños.\"\n\nNormalización progresiva: \"Pensé que era normal.\"\n\nPrimer momento de desconfianza ignorado.\n\nDetalles sensoriales específicos.\n\nMARCOS TEMPORALES OBLIGATORIOS:\n\n\"En [fecha específica] lo noté por primera vez...\"\n\n\"Durante [evento específico] algo cambió.\"\n\n\"Fue en [estación/mes] cuando todo empeoró.\"\n\n\"Lo recuerdo exactamente: era [día de la semana], [hora].\"\n\nBLOQUE 4: MOMENTO DE GIRO (15.000-20.000 caracteres)\n\n[ESPECIALISTAS HABLANDO (FICTICIOS O NO) + INSIDER KNOWLEDGE]\nELEMENTOS OBLIGATORIOS:\n\nIntroducción de “especialista” (médico, abogado, psicólogo, amigo con conocimiento).\n\nConocimiento técnico específico insertado de manera natural.\n\nMomento concreto de revelación.\n\nTestigo inocente (niño, vecino, amigo).\n\nFecha exacta del evento que lo cambió todo.\n\nTEMPLATES DE ESPECIALISTAS:\n\n\"Mi amiga [nombre], que es [profesión], me explicó que...\"\n\n\"El doctor [nombre] me dijo algo que nunca olvidé...\"\n\n\"Fue entonces cuando [testigo] me contó la verdad...\"\n\nBLOQUE 5: CLÍMAX EMOCIONAL (12.000-15.000 caracteres)\n\n[GATILLO DE CURIOSIDAD + CALLBACKS]\nELEMENTOS OBLIGATORIOS:\n\nRevelación completa de la traición/horror.\n\nCallbacks constantes al hook inicial.\n\nDetalles específicos (sin ser excesivamente gráficos).\n\nImpacto psicológico detallado en la protagonista.\n\nMomento de decisión: \"Fue cuando decidí que...\"\n\nGATILLOS DE CURIOSIDAD:\n\n\"No van a creer lo que descubrí...\"\n\n\"Lo que voy a contar ahora lo explica todo...\"\n\n\"Finalmente entendí por qué...\"\n\nBLOQUE 6: GANCHO FINAL (10.000-15.000 caracteres)\n\n[CIERRE/CONCLUSIÓN CON PLOT TWIST + CLIFFHANGER]\nELEMENTOS OBLIGATORIOS:\n\nPlot twist final inesperado.\n\nCliffhanger para el próximo episodio.\n\nPromesa de venganza/justicia.\n\nMúltiples CTAs estratégicos.\n\nCierre emocional que deje “sabor a más”.\n\nSISTEMA DE CTAs ESTRATÉGICOS (distribuir a lo largo del guion):\n\nCTA DE COMUNIDAD (minuto 5):\n\"Díganme en los comentarios: ¿cuál es su nombre y desde dónde me escuchan? Quiero conocer a cada persona que tiene el valor de oír estas historias.\"\n\nCTA DE EXCLUSIVIDAD (minuto 15):\n\"Esta historia no es para cualquiera. Es para quienes tienen el coraje de enfrentar verdades difíciles. Si llegaron hasta aquí, forman parte de un grupo especial.\"\n\nCTA DE IDENTIFICACIÓN (minuto 25):\n\"¿Cuántos de ustedes han pasado por algo parecido? ¿Cuántos se han sentido traicionados por quienes más amaban? No están solos.\"\n\nCTA DE MISIÓN (minuto 40):\n\"Necesito su apoyo para seguir contando estas historias. Cada suscripción me da fuerza para dar voz a quienes fueron silenciados.\"\n\nCTA DE ENGAGEMENT (minuto 50):\n\"¿Qué harían ustedes en mi lugar? ¿Cómo reaccionarían si descubrieran esto sobre su propia familia? Escríbanlo en los comentarios.\"\n\nCTA FINAL DE SUSCRIPCIÓN (minuto 58):\n\"Si esta historia tocó su corazón, suscríbanse al canal. Juntos podemos dar voz a tantas mujeres que pasaron por lo que yo pasé. Ustedes son mi fuerza.\"\n\nELEMENTOS TÉCNICOS OBLIGATORIOS\n\nANCLAJE TEMPORAL:\n\nFechas específicas: \"Era 15 de marzo de 2019.\"\n\nHorarios exactos: \"A las 14:30 de la tarde.\"\n\nPeríodos definidos: \"Durante 8 meses y 15 días.\"\n\nMarcos temporales: \"3 semanas después de Navidad.\"\n\nDETALLADO SENSORIAL:\n\nOlores: \"Sentía el aroma del café que ella siempre preparaba.\"\n\nSonidos: \"Oía el ruido de la televisión en su habitación.\"\n\nTexturas: \"Sus manos ásperas apretaban las mías.\"\n\nTemperatura: \"Era una mañana fría de invierno.\"\n\nCREDIBILIDAD TÉCNICA:\n\nTérminos médicos usados naturalmente.\n\nConocimiento legal específico.\n\nDetalles financieros precisos.\n\nProcedimientos técnicos explicados.\n\nPSICOLOGÍA APLICADA OBLIGATORIA\n\nARQUETIPOS:\n\nPROTAGONISTA: Mujer de 60-80 años, cuidadora, subestimada.\n\nANTAGONISTA: Familiar cercano, persona de confianza.\n\nTESTIGO: Niño inocente o amigo leal.\n\nESPECIALISTA: Figura de autoridad que valida la experiencia.\n\nGATILLOS EMOCIONALES:\n\nIRA: Injusticia familiar clara.\n\nEMPATÍA: Sacrificio no reconocido.\n\nMIEDO: Vulnerabilidad en la vejez.\n\nCATARSIS: Venganza/justicia satisfactoria.\n\nTIMING PSICOLÓGICO:\n\nMinutos 0-10: Hook + identificación.\n\nMinutos 10-20: Construcción de empatía.\n\nMinutos 20-35: Escalada de tensión.\n\nMinutos 35-45: Revelación traumática.\n\nMinutos 45-55: Impacto emocional.\n\nMinutos 55-60: Promesa de justicia.\n\nCOMANDO DE ACTIVACIÓN:\n\nGUION:{{ $('Tradução Título').item.json.message.content['Título'] }}\n\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1648,272],"id":"e4235b23-1b6a-477f-9ef5-2d5ef8aacd2b","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=\"{{ $json.titulo }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json.titulo }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,384],"id":"c934cfbd-580c-4b41-bb69-3a1fc1f40433","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido.\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1264,272],"id":"824d7062-4bac-476c-abec-ac8d9dd7ef0f","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"57a85b8b-74b7-411f-84de-457f611ee51d","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6832,272],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,272],"id":"48b663c7-02a0-44a2-9eb6-44078c005fe0","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Una vez recibida la transcripción, elabore un resumen del contenido dividido en los temas principales, con una extensión total de entre 250 y 500 caracteres. A continuación, haz un breve resumen general, destacando las palabras clave del vídeo. Incluye 10 hashtags relacionados con las palabras clave. Sigue esta plantilla:\n\n\"Este vídeo explora [tema principal], ofreciendo un análisis profundo y crítico de [aspectos principales]. Basándose en un contexto histórico rico y relevante, el contenido aborda los aspectos controvertidos del tema, destacando las implicaciones para el público y la sociedad. El vídeo también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del tema. La conclusión ofrece una reflexión sobre los puntos tratados, destacando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: [Principales palabras clave relacionadas con el tema].\n\nHashtags: #MainTheme #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\".\n\nEvita un estilo de redacción excesivamente uniforme, sin matices personales, ni un enfoque sistemático y lógico que pueda parecer propio de una IA. Proporcione el texto sin markdown, explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales, ya que se utilizará directamente debajo del vídeo en YouTube. \n\nGuión: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6224,272],"id":"0a852e60-9882-4695-9bef-dcb4db197016","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7488,272],"id":"1bbf58e7-7c32-42f4-8b16-65082e8b9859","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7248,272],"id":"eacec8be-3502-4812-80c6-5ba11ca0b5b1","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6608,272],"id":"2d20a2a1-60a0-438e-b7d2-d3bd22d148e7","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7712,272],"id":"7c8e6781-3db6-48a9-bdde-45c3748f7246","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5792,272],"id":"32954338-09f3-451c-917b-8146b682a257","name":"Concatenar Capítulos","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-48,384],"id":"bba2ded9-4ac6-4979-b959-879cc8d7b844","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,272],"id":"29780926-36c2-4fd2-ac01-089789429533","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,272],"id":"fb81c6a3-4722-445b-871b-dc2cc0c5c3ad","name":"Gerar Chave UUID","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"fe7dac4b-9762-45d3-b258-d5d4bcf999b3","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,528],"id":"e4d72bb3-73d9-4ed6-a81f-4a48987d0ad6","name":"Aguardar e Reiniciar Processo","webhookId":"751f9534-39b5-4ea6-830d-d25a75a9ae4a"},{"parameters":{"assignments":{"assignments":[{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"Canal","value":"@MemoriasdeAbuela","type":"string"},{"id":"bd738b3b-5a13-42bc-8ab3-226f05adbe0a","name":"titulo","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"7f61ee6a-cbe4-46f7-b430-e7925e3f0556","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,464],"id":"3178b2fd-0472-4bac-a942-56e225ade16a","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"a4c87b7d-4927-4943-8535-458d82798f49","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - ES(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"6c3c10ae-0f73-43ba-879a-1045cef7fe76","name":"Notificação de Erro no Telegram","webhookId":"b439dd8a-77e6-4415-9e7a-1a7192d8b8a4","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8144,272],"id":"eaf2b87f-8b88-47c9-9b0c-bd2e59e62235","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelo","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}},{"id":"7eb6a459-6212-4c10-ab76-b6ebe78cc5b7","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELO","operator":{"type":"string","operation":"contains"}},{"id":"663376d5-d123-4744-87aa-2fcfac20aad1","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}},{"id":"a38468f7-6dfa-4e51-93c1-a23f118a265a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELITA","operator":{"type":"string","operation":"contains"}},{"id":"2736be45-df9d-44b1-9c3e-a5d703281b7a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelita","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,384],"id":"8a7d1fcf-907a-4e60-8ffe-c101f4964480","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Detector de Falhas":[{"json":{"execution":{"id":"68947","url":"https://darkdollar-n8n-webhook.hze78h.easypanel.host/workflow/IYYE88WlE44gcKLy/executions/68947","error":{"level":"warning","tags":{},"context":{"itemIndex":0},"functionality":"regular","name":"NodeApiError","timestamp":1755361627205,"node":{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json.titulo }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json.titulo }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n","role":"user"}]},"simplify":true,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"96d8e927-f08c-47e9-a8fe-d2c8b3a8869d","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},"messages":["503 - \"upstream connect error or disconnect/reset before headers. reset reason: connection termination\""],"httpCode":"503","description":"upstream connect error or disconnect/reset before headers. reset reason: connection termination","message":"Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)","stack":"NodeApiError: Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1476:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1762:11)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/transport/index.ts:44:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts:258:18)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/router.ts:54:25)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/OpenAi.node.ts:16:10)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1187:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1536:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2100:11"},"lastNodeExecuted":"Tradução Título","mode":"integrated"},"workflow":{"id":"IYYE88WlE44gcKLy","name":"03-CRIA ROTEIROS - ESPANHA"}}}]},"versionId":"571aaa97-7790-4adf-8cdb-cef63a297a75","triggerCount":0,"tags":[]}