03---cria-roteiros---en-EH7YdBpxUB9eZniX.json
{"createdAt":"2025-06-11T23:49:06.359Z","updatedAt":"2025-06-26T18:00:54.200Z","id":"EH7YdBpxUB9eZniX","name":"03 - CRIA ROTEIROS - EN","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5096,560],"id":"d8687ee9-ba3a-4d27-9baa-08af5e9a3d16","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4720,560],"id":"a83adac4-ec07-4f38-8cdb-dbfbf05aa01e","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4344,560],"id":"6cd70965-0e33-4e91-b003-5e832b2d62b2","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3968,560],"id":"154286fc-0482-45d6-830e-cbe7e1ecab09","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3592,560],"id":"290baa4d-160d-41d5-819f-e7b75e8578ce","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3216,560],"id":"5460f056-50b8-4f65-bba2-856879ecd0a9","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2840,560],"id":"59942297-2cb1-42f2-9bb4-e2dd7897fcee","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nWrite a new chapter, approximately 500 words, that continues the events described above, introducing an extremely shocking and impactful twist that completely transforms the narrative. Start exactly from the point where the previous chapter ended, but at some moment, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets or transforming the true nature of a main character. Maintain the same style, language and rhythm of the original narrative, while building this abrupt change in a way that leaves the reader in a state of shock. The twist must be so impactful that it makes the reader question everything they believed they knew about the story until then. Don't finalize the plot or definitively resolve the conflicts, but use this twist to create an even more powerful hook at the end, leaving the reader desperate to discover the consequences of this transformative event. Provide only the new chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2464,560],"id":"c4996dea-9341-44d8-a722-020a3f9e5583","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nWrite a final chapter, approximately 500 words, that definitively concludes the story described above. Resolve the main conflicts, present a coherent farewell to the characters and conclude the plot in a satisfactory manner. Maintain the same style and narrative rhythm, but give the reader a clear sense of closure. At the end, add an urgent and impactful CTA (call to action) message that DEMANDS that the audience:\n\nSUBSCRIBE IMMEDIATELY to the channel so they don't miss the next exclusive stories\nSMASH the like button NOW to feed the algorithm\nFLOOD the comments section with their reactions and theories about the ending\nINSTANTLY SHARE this video with at least 5 friends who need to know this conclusion\n\nUse emphatic phrases like 'You NEED to subscribe now', 'This is the MOMENT to show your support' and 'Don't wait NOT EVEN ONE MORE SECOND to share'. Highlight that only true fans understand the importance of supporting the channel with these actions. Provide only the final chapter and don't rewrite the previous chapter, without explanations, additional comments, word count or special characters.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\n\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\n\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\n\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\n\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\n\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\n\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\n\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\n\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\n\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\n\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\n\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\n\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\n\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2088,560],"id":"5dad3272-5356-4bd1-a336-6f4d5a908353","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} The story must begin with a sensationalist version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". In this first chapter, exaggerate the curious and mysterious elements to instigate and capture the reader's attention from the beginning. Describe in vivid and engaging details each unusual fact, creating an atmosphere of expectation and fascination that keeps the reader eager to discover what will happen next. Then, include a brief CTA saying: \"Hey, before we continue with this incredible story, I need to give you an important alert! Many subscribers have reported that YouTube removed their subscriptions without warning. Just take a quick check at the red button down there to make sure you're still subscribed to the channel! I don't want you to miss ANY exclusive content that's coming… And since you're there, leave that powerful like that helps me A LOT with the algorithm! Oh, and tell me in the comments: which city are you watching from? I love meeting each incredible person who's part of this community! Your participation makes all the difference, let's interact!\". Provide only the final text, without explanations, additional comments, word count or special characters.\n\nThe story must obligatorily follow this exact structure:\n\nTITLE: Begin with a sensationalist version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nCHAPTER DEVELOPMENT: In this first chapter, exaggerate the curious and mysterious elements to instigate and capture the reader's attention from the beginning. Describe in vivid and engaging details each unusual fact, creating an atmosphere of expectation and fascination that keeps the reader eager to discover what will happen next.\n\nCTA: At the end of the development, include this exact text: \"Hey, before we continue with this incredible story, I need to give you an important alert! Many subscribers have reported that YouTube removed their subscriptions without warning. Just take a quick check at the red button down there to make sure you're still subscribed to the channel! I don't want you to miss ANY exclusive content that's coming… And since you're there, leave that powerful like that helps me A LOT with the algorithm! Oh, and tell me in the comments: which city are you watching from? I love meeting each incredible person who's part of this community! Your participation makes all the difference, let's interact!\"\n\nProvide only the final text, strictly respecting this order: title, chapter development and then CTA. Do not include explanations, additional comments, word count or special characters. Do not write 'TITLE:', 'CHAPTER DEVELOPMENT:' or 'CTA:' in the final text.\n\nThe writing tone should be simple, direct and emotional, as if the story were being told by a friend in an informal conversation. Use easy words, short sentences and a light rhythm, almost like speech. Avoid difficult words, complicated structures or literary language. The narrative should capture attention with clear images, universal feelings and accessible language. No closed endings: finish the chapter with a mystery or doubt, leaving the reader curious to know what comes next.\n\nEmotional Intensity\nEach sentence must transmit raw emotion: fear, pain, shock, compassion.\nUse strong verbs and adjectives that evoke physical and psychological sensations.\nReveal the internal impact on characters: chest tightness, lump in throat, trembling hands.\nUrgency and Rhythm\nAlternate short action sentences with synthetic descriptions, maintaining accelerated pace.\nUse punctuation marks that reinforce cadence (ellipses, exclamations, interjections).\nAvoid overly long periods; each paragraph should advance the scene without literary pauses.\nConcrete and Synthetic Description\nFocus on essential visual and sensory details, without overloading.\nUse punctual metaphors and comparisons, always related to the moment.\nEach element (color, sound, texture) should emerge in an instantly recognizable way.\nCinematic Sensation\nAlternate focus between close-ups (expressions, reactions) and general shots (environment, crowd).\nUse movement adverbs to induce the idea of camera in movement.\nBreak paragraphs to simulate scene cuts.\nObserver and Close Narrator\nAdopt third person, but maintain conversational tone: natural language, without literary jargon.\nAvoid excessively erudite terms; prefer constructions that sound like a direct report.\nTone Contrast\nCreate dramatic pauses where silence or inaction speak as much as actions.\nAlternate sounds and noises in the same sequence (sudden silence followed by scream or noise).\nReactions and Collective Judgment\nDescribe expressions and murmurs of observers, reinforcing social tension.\nInclude fragmented speeches from secondary characters that demonstrate shock or disapproval.\nShock Language\nUse impactful terms related to horror, tragedy and scandal, but always linked to concrete images.\nBe careful not to exaggerate sensationalism; maintain authenticity in shock.\nProximity to Pain\nPortray directly the physical and emotional pain of characters.\nAvoid euphemisms: describe the severity of scenes without softening the language.\nSparks of Hope\nInsert brief splashes of relief or comfort that stand out in the tension context.\nThese moments should further accentuate the dramatic impact when the scene returns to urgency.\nVoice Consistency\nMaintain the same narrative \"timbre\" from beginning to end: informal, visceral, cinematic.\nDon't alternate to contradictory styles; preserve tone unity throughout the text.\nLexical Choice\nPrefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\nManage vocabulary to reinforce intensity without making reading tiresome.\nProhibitions\nDon't use philosophical reflections or long digressions.\nDon't present elaborate literary vocabulary.\nDon't add instruction sections, markers or internal legends.\nDon't insert descriptions that break the fluidity of tone."},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5480,560],"id":"7998cbb1-2a7c-4aa5-bf9d-8f9a5b027da8","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Main Objective:\n\nTransform any theme into a single narrative prompt for the first chapter, without concluding the story. The result will be a JSON array named Prompts, containing exactly one object with the field prompt.\n\nTheme: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nContext: \"{{ $json.message.content.Contexto }}\"\nBase Prompt Structure\n\nEach prompt should begin with: \"Write a story of approximately 500 words about…\"\n\nJSON Technical Specifications\nJson\nCopiar\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Write a story of approximately 500 words about...\"\n    }\n  ]\n}\n\nTechnical Requirements\nOnly one object in the Prompts array\nDouble-quoted strings\nIndentation: 2 spaces\nNo line breaks in the prompt content\nValid JSON with escaped special characters\nDetailed Narrative Structure (First Chapter Only)\nProtagonist Introduction\nName and main characteristics\nSocial/professional context\nInitial emotional state\nMain Setting\nTemporal and spatial location\nAtmosphere and environment\nUnique elements of the story world\nStory Trigger\nCatalyzing event that disrupts normalcy\nInitiates the initial conflict or main dilemma\nNarrative Hook\nElement of mystery or tension indicating continuation\nUnresolved question\nEnd without concluding the conflict, keeping the story incomplete\nValidation Checklist\nJSON\n[ ] Only 1 object within \"Prompts\"\n[ ] \"prompt\" field without line breaks\n[ ] Double-quoted strings, without special characters\nNarrative\n[ ] Story NOT finished (chapter remains open)\n[ ] Includes hooks, without resolving the conflict\n[ ] Do not conclude the plot or resolve the main conflict. Instead, create a problem from each solution, making the reader feel that the story still needs to continue. The final sensation should be that there's more to come, never a definite conclusion.\n[ ] Ensure the chapter ends with an intriguing hook, creating a mystery or doubt that leaves the reader eager for the next chapter, unable to stop reading.\n[ ] Maintain a balance between action and reflection, allowing the character to evolve, but without giving definitive answers or conclusions that resolve the open dilemmas.\nFinal Note\nDo not conclude the plot or resolve the main conflict. Instead, create a problem from each solution, making the reader feel that the story still needs to continue. The final sensation should be that there's more to come, never a definite conclusion.\nEnsure the chapter ends with an intriguing hook, creating a mystery or doubt that leaves the reader eager for the next chapter, unable to stop reading.\nMaintain a balance between action and reflection, allowing the character to evolve, but without giving definitive answers or conclusions that resolve the open dilemmas."},{"content":"=Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5848,560],"id":"64803ad4-4ba7-4022-bead-cd8237e874ad","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Ingles, utilizando nomes e expressões comuns entre os falantes de Ingles em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Ingles, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 95 caracteres para impacto ideal.\n\n# Palavras obrigatórias: \n\n- “Milionário” ou “MILIONÁRIO”\n- “Mendigo” ou “Mendiga” \n- “Negro” ou “Negra”"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7040,680],"id":"5c46eae5-013a-4425-ba59-6def89ef416e","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Ingles, utilizando nomes e expressões comuns entre os falantes de Ingles em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Ingles, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6220,560],"id":"21bb65e9-3771-45db-bcdd-eb3c99e728f6","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"3e92f607-da8c-4d14-b075-cadd92383148","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-676,560],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-456,560],"id":"7d2f66f0-3a6a-441f-bc38-3bdab246d2d1","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=After receiving the transcription, create a summary of the content divided into the main themes, with a total length between 250 and 500 characters. Then, make a small general summary, highlighting the video's keywords. Include 10 hashtags related to the keywords. Please follow this model:\n\n\"This video explores [main theme], offering a deep and critical analysis of [main aspects]. Based on a rich and relevant historical context, the content addresses the controversial aspects of the topic, highlighting the implications for the public and society. The video also examines examples and practical cases, providing a more concrete and applied understanding of the subject. The conclusion offers a reflection on the points discussed, emphasizing the importance and impact of the theme in current times.\n\nKeywords: [Main keywords related to the theme].\n\nHashtags: #MainTheme #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\"\n\nAvoid an excessively uniform writing style, without personal nuances, or a systematic and logical focus that might seem typical of an AI. Provide the text without markdown, explanations, additional comments, word count or special characters, as it will be used directly below the video on YouTube.\n\nRoad map: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Please provide the text in English, using names and expressions common among English speakers in different countries, adapted to reflect the shared culture of the various peoples who speak the language. Adapt names, locations, and cultural references so that they are natural and recognizable in English, ensuring they remain relevant and resonate with the audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1272,560],"id":"affe6fb2-7908-41c6-ba3f-e970b7a542f3","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-16,560],"id":"963ee5e3-3173-4465-a809-ea19b7d197f5","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-236,560],"id":"185be87e-2c6d-437b-9a92-718c5826e485","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-900,560],"id":"e0e2076b-1211-4079-b193-d7c9c4573941","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,560],"id":"b1b4c340-f06d-4309-b851-25e08bf89dc4","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1712,560],"id":"a02442b3-702b-4af6-b4ba-ed11c1111f2f","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-7500,740],"id":"b78f4fda-7c29-4834-85aa-04f87ac5e1d2","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[424,560],"id":"c8e3838b-33de-45d2-845b-775fb662c1a4","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1492,560],"id":"49b32f2d-f962-4165-a0c1-6210b17f7088","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6440,620],"id":"5bb9c40c-bd63-4994-8b27-272b59704da3","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6146,810],"id":"fca79a34-570d-4192-bd4a-75807427808c","name":"Aguardar e Reiniciar Processo","webhookId":"7c9d7d12-7952-487c-be82-b1bf06a22130"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@realstoriesandtales","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7260,760],"id":"008a78f6-110e-416b-b5d4-f15d7f8bc71d","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-7480,300],"id":"05a9473e-9a0f-48bf-a3c7-f0e231aafc79","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - EN-(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7260,300],"id":"19fbacb8-b29e-44c9-9415-78e2fd813987","name":"Notificação de Erro no Telegram","webhookId":"7499e67b-0f53-49ea-bd59-e6f06f487907","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[644,560],"id":"4702a94f-1c0e-4f1e-bdc1-6e2c877f3582","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"Millionaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONAIRE","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6660,680],"id":"8d395c71-d9b9-4533-afe1-23f0d3495741","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Iniciar Criação de Roteiro":[{"json":{"título":"O MILIONÁRIO CHORA Ao Ser Salvo Por MENDIGA NEGRA De 12 Anos Em Becos ESCUROS...","premissa":"Em uma noite sombria e perigosa, Sofia Álvarez, uma menina pobre de 12 anos que lutava para sobreviver nas ruas, não hesita em enfrentar um agressor para salvar a vida de um desconhecido, Benjamim Herrera, um rico milionário. Armada apenas com uma lanterna velha, sua bravura atrai a atenção de pessoas ao redor, que se juntam para ajudar. Após seu resgate, Benjamim, profundamente tocado pela coragem de Sofia, decide que deve fazer algo para retribuir. Ao visitar a casa dela e conhecer sua mãe, Lucía Ramirez, ele se compromete a apoiar a educação de Sofia e cria uma fundação em sua homenagem, dedicada a ajudar crianças em situações vulneráveis. Contudo, a história toma um rumo sombrio quando Sofia é sequestrada por Verônica Salgado, uma criminosa que deseja vingança contra Benjamim. Em uma corrida contra o tempo, o inspetor Javier Morales, junto a Benjamim e à polícia, consegue resgatar Sofia. O trauma do sequestro cria uma conexão forte entre eles, levando Benjamim a canalizar sua influência e recursos para transformar a vida de outros. Juntos, inauguram o Centro de Esperança Sofia Álvarez, um espaço dedicado a oportunizar crianças necessitadas. No final, a força e a bondade de Sofia não apenas mudam seu destino, mas também se tornam um farol de esperança para toda a comunidade, revelando que o impacto de um ato de coragem pode ressoar mais longe do que se imagina, enquanto a sombra do passado continua a ameaçar o futuro de todos."}}]},"versionId":"58e633de-9960-40f4-95db-d08c94508d4c","triggerCount":0,"tags":[]}