03---cria-roteiros---fr-sjRKeM9epQ4EAFj7.json
{"createdAt":"2025-06-13T23:58:54.240Z","updatedAt":"2025-06-25T01:18:53.875Z","id":"sjRKeM9epQ4EAFj7","name":"03 - CRIA ROTEIROS - FR","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5040,560],"id":"fcd0f059-ff27-46b2-a7a2-8b4eaf17a594","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4660,560],"id":"80c17c67-dda8-4fd0-9fff-cb3eda45130d","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4284,560],"id":"2b8a12a6-22a3-4129-a52e-848d8dd848a7","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3908,560],"id":"5eb21ef0-c74a-4194-9325-cd81f9350053","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3540,560],"id":"91f0cf7b-3d73-4b1d-8002-3fc62e3c724a","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3156,560],"id":"d3aa4e10-9c56-42c1-934c-33facb71331f","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2780,560],"id":"9f29f68c-2675-4736-abc7-fd72f77e27f1","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nÉcrivez un nouveau chapitre d’environ 500 mots qui continue les événements décrits ci-dessus, introduisant un retournement de situation extrêmement choquant et percutant qui transforme complètement la narration. Commencez exactement au point où le chapitre précédent s’est arrêté, mais à un moment donné, insérez un événement dramatique et inattendu qui change radicalement le cours de l’histoire, altérant les relations, révélant des secrets dévastateurs ou mettant à jour la véritable nature d’un personnage principal. Maintenez le même style, langage et rythme que la narration originale, tout en construisant ce changement abrupt de manière à plonger le lecteur dans la stupeur. Le retournement doit être si brutal qu’il force le lecteur à remettre en question tout ce qu’il croyait savoir sur l’histoire jusqu’à présent. Ne concluez pas l’intrigue ni ne résolvez définitivement les conflits, mais utilisez cette révélation pour créer un suspense encore plus puissant à la fin, laissant le lecteur désespéré de découvrir les conséquences de cet événement transformateur. Fournissez uniquement le nouveau chapitre et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, compte de mots ni caractères spéciaux.\n\nLe ton doit rester simple, direct et émotionnel, comme si un ami relatait l’histoire dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les termes compliqués, les structures alambiquées ou le style littéraire. La narration doit captiver avec des images claires, des sentiments universels et un langage accessible. Pas de fin fermée : terminez le chapitre sur un mystère ou un doute, laissant le lecteur avide de savoir la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit véhiculer une émotion brute : peur, douleur, choc, compassion.\nEmployez des verbes et adjectifs puissants évoquant des sensations physiques et psychologiques.\nMontrez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nUtilisez la ponctuation pour renforcer la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nServez-vous de métaphores et comparaisons ponctuelles, toujours en lien avec l’instant.\nChaque élément (couleur, son, texture) doit apparaître de façon immédiatement reconnaissable.\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer la caméra en action.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, tout en gardant un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes trop érudits ; privilégiez des tournures sonnant comme un récit direct.\n\nContraste de tons\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nEntrelacez sons et bruits dans une même séquence (silence brutal suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez expressions et murmures des spectateurs, renforçant la tension sociale.\nIntégrez des répliques fragmentées de seconds rôles exprimant choc ou désapprobation.\n\nLangage de choc\n\nEmployez des termes percutants liés à l’horreur, la tragédie ou le scandale, mais toujours rattachés à des images concrètes.\nÉvitez le sensationnalisme excessif ; préservez l’authenticité du choc.\n\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : montrez la gravité des scènes sans adoucir le langage.\n\nFulgurances d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui ressortent dans le climat de tension.\nCes éclairs doivent renforcer l’impact dramatique lorsque l’urgence reprend.\n\nCohérence de la voix\n\nGardez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton sur tout le texte.\n\nChoix lexicaux\n\nPréférez verbes forts et adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus précis.\nGérez le vocabulaire pour intensifier sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou longues digressions.\nN’utilisez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections pédagogiques, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2400,560],"id":"79839916-d374-43c5-b62d-30376300eceb","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nÉcrivez un chapitre final d’environ 500 mots qui conclut définitivement l’histoire décrite ci-dessus. Résolvez les conflits principaux, offrez un adieu cohérent aux personnages et terminez l’intrigue de manière satisfaisante. Conservez le même style et rythme narratif, tout en donnant au lecteur une sensation claire de clôture. À la fin, ajoutez un message urgent et percutant de CTA (call to action) qui EXIGE que le public :\n\nS’INSCRIVE IMMÉDIATEMENT à la chaîne pour ne pas manquer les prochaines histoires exclusives\nÉCRASE le bouton de like MAINTENANT pour alimenter l’algorithme\nINONDE la section des commentaires de ses réactions et théories sur la fin\nPARTAGE INSTANTANÉMENT cette vidéo avec au moins 5 amis qui doivent découvrir ce dénouement\n\nUtilisez des phrases emphatiques comme « Vous DEVEZ vous abonner maintenant », « C’est LE MOMENT de montrer votre soutien » et « N’attendez PAS UNE SECONDE DE PLUS pour partager ». Soulignez que seuls les vrais fans comprennent l’importance de soutenir la chaîne avec ces actions. Fournissez uniquement le chapitre final et ne réécrivez pas le chapitre précédent, sans explications, commentaires supplémentaires, décompte de mots ni caractères spéciaux.\n\nLe ton d’écriture doit être simple, direct et émotionnel, comme si l’histoire était racontée par un ami dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque oral. Évitez les mots difficiles, les structures compliquées ou le langage littéraire. La narration doit captiver l’attention avec des images claires, des sentiments universels et un langage accessible. Pas de fins fermées : terminez le chapitre sur un mystère ou un doute, laissant le lecteur curieux de connaître la suite.\n\nIntensité émotionnelle\n\nChaque phrase doit transmettre une émotion brute : peur, douleur, choc, compassion.\nUtilisez des verbes et des adjectifs puissants qui évoquent des sensations physiques et psychologiques.\nRévélez l’impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\n\nUrgence et rythme\n\nAlternez phrases d’action courtes et descriptions synthétiques pour maintenir un rythme soutenu.\nEmployez des signes de ponctuation qui renforcent la cadence (points de suspension, points d’exclamation, interjections).\nÉvitez les longues périodes ; chaque paragraphe doit faire avancer la scène sans pause littéraire.\n\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharge.\nUtilisez des métaphores et comparaisons ponctuelles, toujours en lien avec le moment.\nChaque élément (couleur, son, texture) doit apparaître de manière instantanément reconnaissable.\n\nSensation cinématographique\n\nAlternez gros plans (expressions, réactions) et plans larges (environnement, foule).\nEmployez des adverbes de mouvement pour suggérer l’idée d’une caméra en mouvement.\nSéparez les paragraphes pour simuler des coupes de scène.\n\nNarrateur observateur et proche\n\nAdoptez la troisième personne, mais conservez un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes excessivement érudits ; privilégiez des constructions qui sonnent comme un récit direct.\n\nContraste de tonalités\n\nCréez des pauses dramatiques où le silence ou l’inaction parlent autant que l’action.\nIntercalez sons et bruits dans une même séquence (silence soudain suivi d’un cri ou d’un fracas).\n\nRéactions et jugement collectif\n\nDécrivez les expressions et murmures des observateurs, renforçant la tension sociale.\nIncluez des répliques fragmentées de personnages secondaires montrant le choc ou la réprobation.\n\nLangage de choc\n\nUtilisez des termes percutants liés à l’horreur, à la tragédie et au scandale, mais toujours associés à des images concrètes.\nAttention à ne pas tomber dans l’exagération sensationnaliste ; préservez l’authenticité du choc.\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : décrivez la gravité des scènes sans adoucir le langage.\nÉclairs d’espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui se détachent dans un contexte de tension.\nCes moments doivent accentuer davantage l’impact dramatique lorsque la scène reprend de l’urgence.\n\nCohérence de la voix\n\nMaintenez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe changez pas de registre ; assurez une unité de ton tout au long du texte.\n\nChoix lexicaux\n\nPréférez des verbes forts et des adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus spécifiques.\nGérez le vocabulaire pour renforcer l’intensité sans lasser le lecteur.\n\nInterdictions\n\nN’introduisez pas de réflexions philosophiques ou de longues digressions.\nN’employez pas de vocabulaire littéraire recherché.\nN’ajoutez pas de sections d’instruction, de puces ou de légendes internes.\nN’insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2020,560],"id":"4e5a740b-7cf3-4854-b2fe-434d6c5ed06f","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} L'histoire doit commencer par une version sensationnaliste de l'accroche : \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". Dans ce premier chapitre, exagérez les éléments curieux et mystérieux pour susciter et capturer l'attention du lecteur dès le début. Décrivez en détails vifs et immersifs chaque fait insolite, créant une atmosphère d'attente et de fascination qui maintienne le lecteur impatient de découvrir la suite. Ensuite, incluez un bref CTA disant : \"Hé, avant qu'on continue cette histoire incroyable, je dois te lancer une alerte importante ! Beaucoup d'abonnés ont signalé que YouTube a supprimé leur abonnement sans avertissement. Vérifie rapidement le bouton rouge en dessous pour t'assurer que tu es toujours abonné à la chaîne ! Je ne veux pas que tu rates AUCUN contenu exclusif à venir… Et puisque tu es là, laisse ce like puissant qui m'aide ÉNORMÉMENT avec l'algorithme ! Ah, et dis-moi dans les commentaires : de quelle ville tu regardes ? J'adore découvrir chaque personne incroyable qui fait partie de cette communauté ! Ta participation fait toute la différence, on va interagir !\". Fournissez uniquement le texte final, sans explications, commentaires supplémentaires, décompte de mots ou caractères spéciaux.\n\nL'histoire doit impérativement suivre cette structure exacte :\n\nTITRE : Commencer par une version sensationnaliste de l'accroche : \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nDÉVELOPPEMENT DU CHAPITRE : Dans ce premier chapitre, exagérez les éléments curieux et mystérieux pour susciter et capturer l'attention du lecteur dès le début. Décrivez en détails vifs et immersifs chaque fait insolite, créant une atmosphère d'attente et de fascination qui maintienne le lecteur impatient de découvrir la suite.\n\nCTA : À la fin du développement, incluez ce texte exact : \"Hé, avant qu'on continue cette histoire incroyable, je dois te lancer une alerte importante ! Beaucoup d'abonnés ont signalé que YouTube a supprimé leur abonnement sans avertissement. Vérifie rapidement le bouton rouge en dessous pour t'assurer que tu es toujours abonné à la chaîne ! Je ne veux pas que tu rates AUCUN contenu exclusif à venir… Et puisque tu es là, laisse ce like puissant qui m'aide ÉNORMÉMENT avec l'algorithme ! Ah, et dis-moi dans les commentaires : de quelle ville tu regardes ? J'adore découvrir chaque personne incroyable qui fait partie de cette communauté ! Ta participation fait toute la différence, on va interagir !\"\n\nFournissez uniquement le texte final, en respectant rigoureusement cet ordre : titre, développement du chapitre puis CTA. N'incluez pas d'explications, de commentaires supplémentaires, de décompte de mots ou de caractères spéciaux. N'écrivez pas 'TITRE :', 'DÉVELOPPEMENT DU CHAPITRE :' ou 'CTA :' dans le texte final.\n\nLe ton de l'écriture doit être simple, direct et émotionnel, comme si l'histoire était racontée par un ami dans une conversation informelle. Utilisez des mots faciles, des phrases courtes et un rythme léger, presque comme à l'oral. Évitez les mots difficiles, les structures compliquées ou le langage littéraire. La narration doit captiver l'attention avec des images claires, des sentiments universels et un langage accessible. Pas de fins fermées : terminez le chapitre par un mystère ou un doute, laissant le lecteur curieux de savoir ce qui va suivre.\n\nIntensité émotionnelle\n\nChaque phrase doit transmettre une émotion brute : peur, douleur, choc, compassion.\nUtilisez des verbes et des adjectifs forts qui évoquent des sensations physiques et psychologiques.\nRévélez l'impact interne sur les personnages : serrement de poitrine, boule dans la gorge, tremblement des mains.\n\nUrgence et rythme\n\nIntercalez des phrases courtes d'action avec des descriptions synthétiques, en maintenant un rythme soutenu.\nEmployez des signes de ponctuation qui renforcent la cadence (points de suspension, points d'exclamation, interjections).\nÉvitez les périodes trop longues ; chaque paragraphe doit faire avancer la scène sans pauses littéraires.\n\nDescription concrète et synthétique\n\nConcentrez-vous sur les détails visuels et sensoriels essentiels, sans surcharger.\nUtilisez des métaphores et comparaisons ponctuelles, toujours en lien avec le moment.\nChaque élément (couleur, son, texture) doit apparaître de manière instantanément reconnaissable.\nSensation cinématographique\n\nAlternez le focus entre gros plans (expressions, réactions) et plans larges (environnement, foule).\nUtilisez des adverbes de mouvement pour suggérer l'idée d'une caméra en mouvement.\nCoupez les paragraphes pour simuler des coupes de scène.\nNarrateur observateur et proche\n\nAdoptez la troisième personne, mais conservez un ton familier : langage naturel, sans jargon littéraire.\nÉvitez les termes excessivement érudits ; privilégiez des constructions qui sonnent comme un récit direct.\n\nContraste de tonalités\n\nCréez des pauses dramatiques où le silence ou l'inaction en disent autant que les actions.\nEntremêlez sons et bruits dans une même séquence (silence soudain suivi d'un cri ou d'un vacarme).\n\nRéactions et jugement collectif\n\nDécrivez les expressions et murmures des observateurs, renforçant la tension sociale.\nIncluez des répliques fragmentées de personnages secondaires montrant le choc ou la désapprobation.\nLangage de choc\n\nUtilisez des termes percutants liés à l'horreur, à la tragédie et au scandale, mais toujours associés à des images concrètes.\nAttention à ne pas exagérer le sensationnalisme ; préservez l'authenticité du choc.\nProximité avec la douleur\n\nDépeignez directement la douleur physique et émotionnelle des personnages.\nÉvitez les euphémismes : décrivez la gravité des scènes sans adoucir le langage.\n\nÉclairs d'espoir\n\nInsérez de brèves touches de soulagement ou de réconfort qui se démarquent dans le contexte de tension.\nCes moments doivent accentuer encore davantage l'impact dramatique lorsque la scène reprend son urgence.\n\nCohérence de la voix\n\nMaintenez le même « timbre » narratif du début à la fin : informel, viscéral, cinématographique.\nNe passez pas à des styles contradictoires ; préservez l'unité du ton tout au long du texte.\n\nChoix lexical\n\nPréférez les verbes forts et les adjectifs incisifs ; remplacez les adverbes génériques par des équivalents plus spécifiques.\nGérez le vocabulaire pour renforcer l'intensité sans rendre la lecture fatigante.\n\nInterdictions\n\nN'utilisez pas de réflexions philosophiques ou de longues digressions.\nN'employez pas de vocabulaire littéraire recherché.\nN'ajoutez pas de sections d'instructions, de puces ou de légendes internes.\nN'insérez pas de descriptions qui brisent la fluidité du ton."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5412,560],"id":"7cade0c6-1436-4a76-a718-63bb87c0bb01","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Objectif principal:\n\nTransformer chaque thème en un prompt narratif unique pour le premier chapitre, sans conclure l’histoire. Le résultat est un tableau JSON nommé Prompts contenant exactement 1 objet, avec le champ prompt.\n\nThème: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nContexte: \"{{ $json.message.content.Contexto }}\"\nStructure de base du prompt\n\nChaque prompt doit commencer par : \"Écrivez une histoire d'environ 500 mots sur…\"\n\nSpécifications techniques du JSON\nJson\nCopiar\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Écrivez une histoire d'environ 500 mots sur...\"\n    }\n  ]\n}\n\nExigences techniques\nUn seul objet dans le tableau Prompts\nChaînes entre guillemets doubles\nIndentation : 2 espaces\nPas de sauts de ligne dans le contenu de prompt\nJSON valide avec caractères spéciaux échappés\nStructure narrative détaillée (Premier chapitre uniquement)\n\nPrésentation du protagoniste\n\nNom et caractéristiques principales\nContexte social/professionnel\nÉtat émotionnel initial\n\nScène principale\n\nLocalisation temporelle et spatiale\nAtmosphère et environnement\nÉléments uniques du monde de l’histoire\n\nDéclencheur de l’histoire\n\nÉvénement catalyseur qui rompt la normalité\nDébut du conflit initial ou du dilemme principal\n\nAccroche narrative\n\nÉlément de mystère ou de tension suggérant une suite\nQuestion non résolue\nFin sans conclure le conflit, en laissant l’histoire ouverte\nListe de validation\n\nJSON\n\n[ ] Un seul objet dans \"Prompts\"\n[ ] Champ \"prompt\" sans sauts de ligne\n[ ] Chaînes entre guillemets doubles, sans caractères spéciaux\n\nNarration\n\n[ ] Histoire NON terminée (le chapitre reste ouvert)\n[ ] Inclut des accroches, sans résoudre le conflit\n[ ] Ne concluez pas l’intrigue ni ne résolvez le conflit principal. Créez plutôt un problème à partir de chaque solution, donnant au lecteur l’impression que l’histoire doit continuer. L’impression finale doit être qu’il y a encore plus à venir, jamais une fin définitive.\n[ ] Assurez-vous que le chapitre se termine par une accroche intrigante, créant un mystère ou un doute qui laisse le lecteur impatient du prochain chapitre.\n[ ] Maintenez un équilibre entre action et réflexion, permettant au personnage d’évoluer, sans fournir de réponses définitives ou de conclusions qui résolvent les dilemmes ouverts.\n\nObservation finale\nNe concluez pas l’intrigue ni ne résolvez le conflit principal. Créez plutôt un problème à partir de chaque solution, donnant au lecteur l’impression que l’histoire doit continuer. L’impression finale doit être qu’il y a encore plus à venir, jamais une fin définitive.\nAssurez-vous que le chapitre se termine par une accroche intrigante, créant un mystère ou un doute qui laisse le lecteur impatient du prochain chapitre.\nMaintenez un équilibre entre action et réflexion, permettant au personnage d’évoluer, sans fournir de réponses définitives ou de conclusions qui résolvent les dilemmes ouverts."},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5780,560],"id":"8967bc25-e201-418e-aacb-19ca07281587","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Frances, utilizando nomes e expressões comuns entre os falantes de Frances em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Frances, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 95 caracteres para impacto ideal.\n\n# Palavras obrigatórias: \n\n- “Milionário” ou “MILIONÁRIO”\n- “Mendigo” ou “Mendiga” \n- “Negro” ou “Negra”"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6980,680],"id":"7f2f8767-6e78-4427-a696-1fc10c3e24fa","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Frances, utilizando nomes e expressões comuns entre os falantes de Frances em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Frances, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6160,560],"id":"47d41ce2-9266-41fd-98d6-42ab487ad5da","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"ca920e12-a471-446f-86f0-6a9357dd15c1","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-620,560],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-400,560],"id":"67ed98eb-4176-4afb-8e4e-54e77976d229","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Translating hashtags to French\n\nI'm focusing on how to translate hashtags into French while maintaining their original intent. Currently, the hashtags use English or Portuguese, and I’m thinking it’s necessary to adjust them for the French translation too. It’s interesting to consider whether to keep accents or not. Since hashtags typically don’t use accents, I believe it makes sense to simplify them. So, I'd go with: #ThemePrincipal, #ContexteHistorique, #AspectsControverses, etc. This way, they remain familiar yet correctly translated!\n\nAprès avoir reçu la transcription, créez un résumé du contenu réparti selon les thèmes principaux, avec une longueur totale comprise entre 250 et 500 caractères. Ensuite, rédigez un bref résumé général en mettant en avant les mots-clés de la vidéo. Incluez 10 hashtags liés aux mots-clés. Veuillez suivre le modèle ci-dessous :\n\n\"Cette vidéo explore [thème principal], offrant une analyse approfondie et critique de [aspects principaux]. Basé sur un contexte historique riche et pertinent, le contenu aborde les aspects controversés du sujet, soulignant les implications pour le public et pour la société. La vidéo examine également des exemples et des cas pratiques, fournissant une compréhension plus concrète et appliquée du sujet. La conclusion propose une réflexion sur les points discutés, mettant en évidence l’importance et l’impact du thème de nos jours.\n\nMots-clés : [mots-clés principaux liés au thème].\n\nHashtags : #ThemePrincipal #ContexteHistorique #AspectsControverses #AnalyseCritique #ExemplesPratiques #CasDetude #ReflexionFinale #ImpactSocial #Histoire #Societe\"\n\nÉvitez un style d’écriture trop uniforme, sans nuances personnelles, ou un ton systématique et logique qui pourrait sembler typique d’une IA. Fournissez le texte sans markdown, sans explications, commentaires supplémentaires, compte de mots ou caractères, car il sera utilisé directement sous la vidéo sur YouTube.\n\nScénario: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Veuillez fournir le texte en français, en utilisant des noms et des expressions courants parmi les locuteurs francophones de différents pays, adapté de manière à refléter la culture partagée par l’ensemble des peuples francophones. Adaptez noms, lieux et références culturelles pour qu’ils paraissent naturels et reconnaissables en français, tout en préservant leur pertinence et leur impact auprès du public.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1212,560],"id":"3b431f8b-2666-4bb2-917d-20087a56b9a6","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,560],"id":"4f98cac6-883d-404b-9541-53af6d989e14","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-176,560],"id":"35cf7f9a-60c9-4f3c-97c9-78774db1d813","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-836,560],"id":"32d3bee8-530e-48e5-8b8d-e7c2f339b12f","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[260,560],"id":"388cc5cc-65da-493d-b2e5-d5cc3c957256","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1652,560],"id":"efde116c-f662-42b9-8224-15ded249d206","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-7420,760],"id":"1bb48fb3-a2fd-4f7f-969f-7b42e15664b9","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[484,560],"id":"234284de-d8c2-40ab-bbe7-ac733ffc64d8","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1432,560],"id":"9c46f421-de49-42f0-9bcf-32c9a0462d77","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6384,610],"id":"69105f73-012e-41b0-9c18-c13a978fdfd3","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6086,810],"id":"6c757abc-e666-46a9-9bd3-4c85d5da9289","name":"Aguardar e Reiniciar Processo","webhookId":"b04ba142-3258-416f-9c2f-75325db7959f"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@histoiresetrecitsreels","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7200,760],"id":"38ca1de8-6d52-4d5b-930e-e3c320edf038","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-7420,300],"id":"8ffd4dcb-25cf-4cf4-8730-9a8172ac7904","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - FR-(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7200,300],"id":"58771891-2782-481c-af24-6885a6637b4e","name":"Notificação de Erro no Telegram","webhookId":"fb92caf9-a595-4a2f-8c5f-374b12dc3fbb","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[704,560],"id":"9286955d-b8b9-4100-b54e-433b71bd887a","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"Millionnaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONNAIRE","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6600,680],"id":"10ff3e54-ebde-4d27-99d7-22d396f31bf9","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab38767f-f3bd-4928-baf7-732e2700a533","triggerCount":0,"tags":[]}