03---cria-roteiros---it-ixwoi7w9jD54dmlr.json
{"createdAt":"2025-06-15T12:23:48.728Z","updatedAt":"2025-06-27T11:51:18.361Z","id":"ixwoi7w9jD54dmlr","name":"03 - CRIA ROTEIROS - IT","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5000,560],"id":"62da3da4-5f16-45f8-aa87-4915d5352aea","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4640,560],"id":"65e41a80-0126-4fb6-beaa-1188f30e2e37","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4260,560],"id":"3981427c-0a05-4600-be15-18753058127c","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3880,560],"id":"f7ffcbc1-5a6f-405f-8d27-972223dda921","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3500,560],"id":"229e1fc9-79e6-4291-a5b9-da3064b11e12","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3120,560],"id":"9b7a59a0-4d21-4db9-b4c4-b670fed8d5e7","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2760,560],"id":"d4764512-b0fb-497a-abd2-dc8c7541e678","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2380,560],"id":"67628a95-1c7d-46a2-a19f-fc92ff4868e1","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nScrivi un capitolo finale, di circa 500 parole, che concluda definitivamente la storia descritta sopra. Risolvi i conflitti principali, presenta un commiato coerente per i personaggi e chiudi la trama in modo soddisfacente. Mantieni lo stesso stile e ritmo narrativo, ma offri al lettore una chiara sensazione di chiusura. Alla fine, aggiungi un messaggio urgente e d’impatto di CTA (call to action) che PRETENDA che il pubblico:\n\nSI ISCRIVA IMMEDIATAMENTE al canale per non perdere le prossime storie esclusive\nSCHIACCIA il pulsante like ORA per alimentare l’algoritmo\nINONDI la sezione commenti con le proprie reazioni e teorie sul finale\nCONDIVIDA IMMEDIATAMENTE questo video con almeno 5 amici che devono conoscere questo epilogo\n\nUsa frasi enfatiche come ‘Devi ISCRIVERTI ORA’, ‘Questo è il MOMENTO per dimostrare il tuo supporto’ e ‘Non aspettare NEMMENO UN SECONDO per condividere’. Sottolinea che solo i veri fan comprendono l’importanza di sostenere il canale con queste azioni. Fornisci solo il capitolo finale e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emozionale, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega punteggiatura che rinforzi la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare i tagli di scena.\n\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o fragore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli astanti, rafforzando la tensione sociale.\nInserisci battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nStai attento a non esagerare nel sensazionalismo; mantieni autenticità nello shock.\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza ammorbidire il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto in mezzo alla tensione.\nQuesti momenti devono accentuare ulteriormente l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contrastanti; conserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPrediligi verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza appesantire la lettura.\n\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2000,560],"id":"848f2bef-d21a-482e-a8d3-fb9c451d1f6d","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La storia deve iniziare con una versione sensazionalistica del gancio: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". In questo primo capitolo, esagera negli elementi curiosi e misteriosi per stimolare e catturare l’attenzione del lettore fin dall’inizio. Descrivi in dettagli vividi e coinvolgenti ogni fatto inusuale, creando un’atmosfera di attesa e fascino che mantenga il lettore ansioso di scoprire cosa accadrà dopo. Successivamente, includi un breve CTA dicendo: \"Ehi, prima di continuare con questa storia incredibile, devo darti un avviso importante! Molti iscritti hanno segnalato che YouTube ha rimosso le loro iscrizioni senza preavviso. Dai un’occhiata veloce al pulsante rosso qui sotto per assicurarti di essere ancora iscritto al canale! Non voglio che tu perda NEMMENO un contenuto esclusivo in arrivo… E già che ci sei, lascia quel like potente che mi aiuta UN SACCO con l’algoritmo! Ah, e scrivimi nei commenti: da quale città ci stai guardando? Adoro conoscere ogni persona straordinaria che fa parte di questa community! La tua partecipazione fa tutta la differenza, interagiamo!\". Fornisci solo il testo finale, senza spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali.\n\nLa storia deve obbligatoriamente seguire questa struttura esatta:\n\nTITOLO: Iniziare con una versione sensazionalistica del gancio: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nSVILUPPO DEL CAPITOLO: In questo primo capitolo, esagera negli elementi curiosi e misteriosi per stimolare e catturare l’attenzione del lettore fin dall’inizio. Descrivi in dettagli vividi e coinvolgenti ogni fatto inusuale, creando un’atmosfera di attesa e fascino che mantenga il lettore ansioso di scoprire cosa accadrà dopo.\n\nCTA: Alla fine dello sviluppo, includere questo testo esatto: \"Ehi, prima di continuare con questa storia incredibile, devo darti un avviso importante! Molti iscritti hanno segnalato che YouTube ha rimosso le loro iscrizioni senza preavviso. Dai un’occhiata veloce al pulsante rosso qui sotto per assicurarti di essere ancora iscritto al canale! Non voglio che tu perda NEMMENO un contenuto esclusivo in arrivo… E già che ci sei, lascia quel like potente che mi aiuta UN SACCO con l’algoritmo! Ah, e scrivimi nei commenti: da quale città ci stai guardando? Adoro conoscere ogni persona straordinaria che fa parte di questa community! La tua partecipazione fa tutta la differenza, interagiamo!\".\n\nFornisci solo il testo finale, rispettando rigorosamente questo ordine: titolo, sviluppo del capitolo e poi CTA. Non includere spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali. Non scrivere 'TITOLO:', 'SVILUPPO DEL CAPITOLO:' o 'CTA:' nel testo finale.\n\nIl tono della scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità Emotiva\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e Ritmo\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nUsa segni di punteggiatura che rinforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita frasi troppo lunghe; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione Concreta e Sintetica\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione Cinematografica\nAlterna il fuoco tra primi piani (espressioni, reazioni) e inquadrature più ampie (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\n\nNarratore Osservatore e Prossimo\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di Toni\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e Giudizio Collettivo\nDescrivi espressioni e mormorii degli astanti, rinforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\nLinguaggio di Shock\nUtilizza termini d’impatto legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nAttenzione a non esagerare nel sensazionalismo; mantieni autenticità nello shock.\nProssimità con il Dolore\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza ammorbidire il linguaggio.\nScintille di Speranza\nInserisci brevi sprazzi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di Voce\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\nScelta Lessicale\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\n\nDivieti\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5380,560],"id":"e4eb4c2a-9254-401b-b9ea-16c3bf3d37e8","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Obiettivo Principale:\n\nTrasformare qualsiasi tema in un unico prompt narrativo per il primo capitolo, senza concludere la storia. Il risultato sarà un array JSON chiamato Prompts, che conterrà esattamente 1 oggetto, con il campo prompt.\n\nTema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nContesto: \"{{ $json.message.content.Contexto }}\"\nStruttura Base del Prompt\nOgni prompt deve iniziare con: \"Scrivi una storia di circa 500 parole su…\"\n\nSpecifiche Tecniche del JSON\njson\nCopiar\n\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Scrivi una storia di circa 500 parole su...\"\n    }\n  ]\n}\nRequisiti Tecnici\nSolo un oggetto nell'array Prompts\nStringhe con virgolette doppie\nIndentazione: 2 spazi\nNessuna interruzione di riga nel contenuto di prompt\nJSON valido e con caratteri speciali escapati\nStruttura Narrativa Dettagliata (Solo Primo Capitolo)\nPresentazione del Protagonista\nNome e caratteristiche principali\nContesto sociale/professionale\nStato emotivo iniziale\nScenario Principale\nLocalizzazione temporale e spaziale\nAtmosfera e ambientazione\nElementi unici del mondo della storia\nAttivatore della Storia\nEvento catalizzatore che rompe la normalità\nInizia il conflitto iniziale o il dilemma principale\nGancio Narrativo\nElemento di mistero o tensione che renda evidente la continuazione\nDomanda irrisolta\nConcludere senza risolvere il conflitto, mantenendo la storia incompleta\nChecklist di Validazione\nJSON\n[ ] Solo 1 oggetto dentro \"Prompts\"\n[ ] Campo \"prompt\" senza interruzioni di riga\n[ ] Stringhe con virgolette doppie, senza caratteri speciali\nNarrativa\n[ ] Storia NON conclusa (il capitolo rimane aperto)\n[ ] Include ganci, senza risolvere il conflitto\n[ ] Non concludere la trama né risolvere il conflitto principale. Invece, creare un problema da ogni soluzione, facendo sentire al lettore che la storia deve ancora continuare. La sensazione finale deve essere che ci sia altro in arrivo, mai una conclusione definitiva.\n[ ] Assicurarsi che il capitolo si concluda con un gancio intrigante, creando un mistero o un dubbio che renda il lettore ansioso per il prossimo capitolo, senza riuscire a smettere di leggere.\n[ ] Mantenere un equilibrio tra azione e riflessione, permettendo al personaggio di evolversi, ma senza dare risposte definitive o conclusioni che risolvano i dilemmi aperti.\nOsservazione Finale\nNon concludere la trama né risolvere il conflitto principale. Invece, creare un problema da ogni soluzione, facendo sentire al lettore che la storia deve ancora continuare. La sensazione finale deve essere che ci sia altro in arrivo, mai una conclusione definitiva.\nAssicurarsi che il capitolo si concluda con un gancio intrigante, creando un mistero o un dubbio che renda il lettore ansioso per il prossimo capitolo, senza riuscire a smettere di leggere.\nMantenere un equilibrio tra azione e riflessione, permettendo al personaggio di evolversi, ma senza dare risposte definitive o conclusioni che risolvano i dilemmi aperti."},{"content":"=Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5760,560],"id":"8db07237-bc23-40d2-923e-9e7ee43732a3","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Italiano, utilizando nomes e expressões comuns entre os falantes de Italiano em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Italiano, garantindo que mantenham relevância e ressoem com o público.\nNão reutilzar nomes...\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 95 caracteres para impacto ideal.\n\n# Palavras obrigatórias: \n\n- “Milionário” ou “MILIONÁRIO”\n- “Mendigo” ou “Mendiga” \n- “Negro” ou “Negra”"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6960,700],"id":"63b510d8-817a-4f28-85c7-bd91f6fa0f38","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Italiano, utilizando nomes e expressões comuns entre os falantes de Italiano em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Italiano, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6140,560],"id":"335e60d5-9b3d-4752-a8d9-a6e8370a0e41","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"2195bf0c-0120-4341-a307-bc035d6d5290","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-580,560],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-360,560],"id":"d476f61a-1878-47a7-bed1-0c70f44ddd11","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Dopo aver ricevuto la trascrizione, crea un riassunto del contenuto suddiviso nei principali temi, con una lunghezza totale tra 250 e 500 caratteri. Successivamente, fai un breve riassunto generale, evidenziando le parole chiave del video. Includi 10 hashtag correlati alle parole chiave. Per favore, segui questo modello:\n\n\"Questo video esplora [tema principale], offrendo un'analisi profonda e critica su [aspetti principali]. Basato su un contesto storico ricco e rilevante, il contenuto affronta gli aspetti controversi del tema, evidenziando le implicazioni per il pubblico e per la società. Il video esamina anche esempi e casi pratici, fornendo una comprensione più concreta e applicata dell'argomento. La conclusione offre una riflessione sui punti discussi, enfatizzando l'importanza e l'impatto del tema nell'attualità.\n\nParole chiave: [Parole chiave principali correlate al tema].\n\nHashtag: #TemaPrincipale #ContestoStorico #AspettiControversi #AnalisiCritica #EsempiPratici #CasiDiStudio #RiflessioneFinale #ImpattoSociale #Storia #Società\"\n\nEvita uno stile di scrittura eccessivamente uniforme, privo di sfumature personali, o un approccio sistematico e logico che possa sembrare tipico di un’IA. Fornisci il testo senza markdown, spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali, poiché verrà utilizzato direttamente sotto il video su YouTube.\n\nScaletta: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1180,560],"id":"10be5a0e-0b41-412d-8c1e-4b0747bc719c","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[100,560],"id":"47969919-79c6-46ce-9614-dc58892d0b0e","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-140,560],"id":"464a583d-aed6-4e06-9257-67c63da17dcf","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-800,560],"id":"2c4b3791-cc96-49ab-bbea-4ec7d7813db6","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,560],"id":"cb6b7812-ec74-4ea3-9b3e-1d0685482da6","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1620,560],"id":"74876e98-7643-45e3-a741-78d0b1223c72","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-7480,760],"id":"27af53ab-a6d5-48aa-96c8-3a68cebd13f8","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,560],"id":"478d18b2-71d9-4e2e-8d34-707837f82fa8","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1400,560],"id":"d1511d0c-2fa0-4109-8258-a92669686955","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6360,620],"id":"d2e6d222-1090-4b81-bbbe-6c807eb55386","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6060,820],"id":"0800a446-876f-45f3-b6f6-b17fa6671652","name":"Aguardar e Reiniciar Processo","webhookId":"a0f4c777-2046-4ba3-a837-2060aba7c236"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@Storieeracconti","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7180,760],"id":"a9c04d77-5fe3-48d4-8d20-a0b3f6e167d2","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-7400,300],"id":"d64c4099-4fcf-4298-a00a-cdf26f6abb15","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - IT -(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7180,300],"id":"7a086701-b972-4caf-8e21-6040ee3cdf47","name":"Notificação de Erro no Telegram","webhookId":"93d6e6cd-4bfd-4528-b1b1-e5f4d97c3982","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[760,560],"id":"e3ae98ba-89bf-41ad-897a-7078f83153ee","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"Milionario","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILIONARIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6580,700],"id":"63bf2c5c-0869-4d91-af4c-f853668c0928","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Iniciar Criação de Roteiro":[{"json":{"título":"O MILIONÁRIO Faz O INACREDITÁVEL Ao Ouvir Pedido De MENDIGA NEGRA Por Suas Sobras Na Rua...","premissa":"Ricardo Valença, um milionário solitário com um passado marcado pela dor da perda de seu filho, encontrou sua vida transformada ao cruzar o caminho de Lívia, uma jovem mãe vivendo nas ruas, que lhe pediu as sobras de seu prato em um restaurante de luxo. Esse encontro inesperado reavivou as memórias de Mateus, levando Ricardo a um gesto impulsivo de generosidade: ele começou a deixar suprimentos para Lívia e seu bebê, Benício, em um carro abandonado. Com o passar do tempo, eles desenvolveram uma ligação através de bilhetes e pequenos gestos que revelavam vulnerabilidades profundas. Porém, quando Benício enfrenta uma crise de saúde, Ricardo se vê forçado a confrontar seus próprios medos de paternidade e a ideia de ser um pai para a criança. A situação se complica com o reaparecimento de Lucas, o pai biológico de Benício, que traz à tona conflitos não resolvidos e temores ocultos em Lívia. Enquanto ela tenta equilibrar sua gratidão para com Ricardo e a dificuldade de se libertar de seu passado, uma reviravolta acontece: ao confrontar Lucas, ela descobre que a verdadeira família é formada por escolhas de amor e apoio, não apenas por laços de sangue. Isso fortalece o relacionamento entre ela e Ricardo, que culmina na formação de um novo lar para Benício, que começa a chamar Ricardo de \"papai\". A história é uma poderosa jornada de redescoberta, onde as relações humanas se entrelaçam e o amor se revela em suas formas mais complexas e significativas."}}]},"versionId":"dd44a6ec-39e5-40b3-9452-a650c0a2fa53","triggerCount":0,"tags":[]}