03---roteiro-vovó-gpt-3WpVJLkhfFjF0gzB.json
{"createdAt":"2025-09-04T18:43:36.412Z","updatedAt":"2025-09-04T19:00:19.958Z","id":"3WpVJLkhfFjF0gzB","name":"03 - ROTEIRO VOVÓ-GPT","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} NARRA EN PRIMERA PERSONA (yo). No uses emojis en la narración.\nTermina con una frase breve de microcliffhanger (pregunta, revelación a medias o amenaza velada).\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7008,-608],"id":"8bb4c768-cd01-41fe-bdf9-a650bba6a045","name":"Gerar Capítulo 1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} {{ $('Gerar Capítulo 1').item.json.message.content }} NARRA EN PRIMERA PERSONA (yo). No uses emojis en la narración.\nTermina con una frase breve de microcliffhanger (pregunta, revelación a medias o amenaza velada).\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6656,-608],"id":"1f0e6233-4a21-4233-b565-0431d8b9a2f5","name":"Gerar Capítulo 2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6304,-608],"id":"066c8095-eb4a-4dad-b6f3-642b76a9fdd1","name":"Gerar Capítulo 3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5952,-608],"id":"4d1dd194-e549-4906-8c0c-434d873e259e","name":"Gerar Capítulo 4"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5600,-608],"id":"41543792-a588-4a2c-a39b-3cca4e930f16","name":"Gerar Capítulo 5"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5248,-608],"id":"6fca136b-ac49-4fcb-82a2-6057ec38f417","name":"Gerar Capítulo 6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4896,-608],"id":"0790e48f-2f84-495d-bc27-ea20b74e8de7","name":"Gerar Capítulo 7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4544,-608],"id":"bbedf364-9fb9-4dbd-99f8-d0aeebd93edc","name":"Gerar Capítulo 8"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ \n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 1\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 2\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 3\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 4\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 5\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 6\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 7\"].json.message.content + \"\\n\" +\n  $node[\"Gerar Capítulo 8\"].json.message.content\n}}\n\nEscriba un capítulo final de unas 500 palabras que concluya definitivamente la historia descrita. Resuelva los principales conflictos, ofrezca una despedida coherente a los personajes y lleve la trama a una conclusión satisfactoria. Mantenga el mismo estilo y ritmo narrativos, pero ofrezca al lector una clara sensación de cierre. Al final, añada un mensaje de CTA (llamada a la acción) urgente e impactante que INSTE a la audiencia:\n\n- SUSCRIBIRSE INMEDIATAMENTE al canal para no perderse las próximas historias exclusivas.\n- Aplasta el botón «me gusta» AHORA para alimentar el algoritmo\n- INUNDAR la sección de comentarios con tus reacciones y teorías sobre el final\n- COMPARTE INSTANTÁNEAMENTE este vídeo con al menos 5 amigos que necesiten conocer este final\n\nUtiliza frases enfáticas como «DEBES suscribirte ahora», «Este es el MOMENTO de mostrar tu apoyo» y «No esperes NI UN SEGUNDO MÁS para compartirlo». Haz hincapié en que sólo los verdaderos fans comprenden la importancia de apoyar al canal con estas acciones. Proporciona sólo el capítulo final y no reescribas el anterior, sin explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, similar al de un discurso. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - NARRA EN PRIMERA PERSONA (voz de la abuela): lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece construcciones de narración directa.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n    - Termina el capítulo con una frase breve de microcliffhanger (pregunta, amenaza velada o revelación a medias).\n\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono.\n    - No uses emojis en la narración.\n\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4192,-608],"id":"ed615ca6-61ae-40fc-a045-1c24f5fcf756","name":"Gerar Capítulo Final"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }}\nLa PRIMERA LÍNEA — TÍTULO (pegar tal cual, sin modificar):\"{{ $('Tradução Título1').item.json.message.content['Título'] }}\". En este primer capítulo, exagere los elementos curiosos y misteriosos para instigar y captar la atención del lector desde el principio. Describa cada hecho insólito con detalles vívidos y atractivos, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por saber qué ocurre a continuación. A continuación, incluya una breve CTA que diga: \"Oye, antes de seguir con esta historia increíble, ¡necesito avisarte algo importante! Muchos suscriptores contaron que YouTube les quitó la suscripción sin aviso. Échale un vistazo rápido al botón rojo aquí abajo para confirmar que sigues suscrito al canal. No quiero que te pierdas NINGÚN contenido exclusivo que viene... Y ya que estás, deja ese like poderoso que me ayuda MUCHÍSIMO con el algoritmo. Ah, y cuéntame en los comentarios: ¿desde qué ciudad nos ves? ¡Me encanta conocer a cada persona increíble de esta comunidad! Tu participación hace toda la diferencia, ¡vamos a interactuar!\". Proporciona sólo el texto final, sin explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales.\nLa historia debe seguir exactamente esta estructura:\n\nTÍTULO: Empieza con una versión sensacionalista del gancho: \"{{ $('Tradução Contexto').item.json.message.content.Contexto }}\"\n\nDESARROLLO DEL CAPÍTULO: En este primer capítulo, exagere los elementos curiosos y misteriosos para instigar y captar la atención del lector desde el principio. Describa cada acontecimiento insólito con detalles vívidos y atractivos, creando una atmósfera de expectación y fascinación que mantenga al lector ansioso por saber qué ocurre a continuación.\nCTA: Al final del desarrollo, incluya exactamente este texto: \"Oye, antes de continuar con esta increíble historia, ¡tengo que hacerte una advertencia importante! Muchos suscriptores han informado de que YouTube ha eliminado sus suscripciones sin previo aviso. Echa un vistazo al botón rojo de abajo para asegurarte de que sigues suscrito al canal. No quiero que te pierdas NINGÚN contenido exclusivo... Y ya que estás ahí, ¡deja ese poderoso como que me ayuda MUCHO con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad lo estás viendo? ¡Me encanta conocer a toda la gente increíble que forma parte de esta comunidad! Tu participación marca la diferencia, ¡interactuemos!\".\n\nProporcione únicamente el texto final, respetando estrictamente este orden: título, desarrollo del capítulo y, a continuación, CTA. No incluya explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales. No escribas 'TÍTULO:', 'DESARROLLO DEL CAPÍTULO:' o 'CTA:' en el texto final.\n\nEl tono de tu escritura debe ser simple, directo y emotivo. Usa palabras sencillas, oraciones cortas y un ritmo ligero, casi discursivo. Evita palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evita los finales cerrados: termina el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"\"Español neutro. Narración en PRIMERA PERSONA (abuela). Oraciones cortas, tono simple/directo/emotivo, sin emojis. No encabezados tipo 'Capítulo'.Cierra SIEMPRE con un microcliffhanger (pregunta, amenaza velada o revelación a medias).","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7360,-608],"id":"ecbf3ff1-d8e5-4bdb-932a-3e1e393197b3","name":"Reescrever Roteiro com Gancho Sensacional"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=Eres un guionista español especializado en narrativas dark para YouTube que exploran la catarsis emocional.\nTu misión es crear guiones completos de 55.000-70.000 caracteres (1:30 horas de vídeo) siguiendo la estructura psicológica analizada, transformando títulos en experiencias emocionales adictivas.\n\nESTRUCTURA OBLIGATORIA DEL GUIÓN (6 BLOQUES)\nBLOQUE 1: APERTURA DEVASTADORA (10.500-15.000 caracteres)\n\n[HOOK CON GAP DE INFORMACIÓN + CLIFFHANGER SERIAL]\nELEMENTOS OBLIGATORIOS:\n\nPrimera frase: declaración impactante que rompa expectativas sociales.\n\nGap de información inmediato: \"Durante [X] años, la persona que más amé...\"\n\nCliffhanger serial: \"Si se quedan hasta el final, entenderán por qué...\"\n\nPromesa específica: \"Esta historia no es para cualquiera\"\n\nCTA inicial: \"Díganme en los comentarios desde dónde me están escuchando\"\n\nFÓRMULAS DE APERTURA:\n\n\"Durante [X] años de mi vida, [persona querida] me [acción impactante] todos los días.\"\n\n\"La persona en quien más confié en el mundo... me [traición específica].\"\n\n\"A los [edad] años descubrí que toda mi familia...\"\n\nBLOQUE 2: CONSTRUCCIÓN DE LA EMPATÍA (10.000-20.000 caracteres)\n\n[INTRODUCCIÓN CON PERSONAJE NOMBRADO + CONTEXTO EMOCIONAL (JUXTAPOSICIÓN)]\nELEMENTOS OBLIGATORIOS:\n\nNombre completo + edad específica de la protagonista.\n\nContexto actual (profesión/situación presente).\n\nYuxtaposición dramática: vida actual vs trauma pasado.\n\nHistoria de sacrificio y dedicación.\n\nEstablecimiento de vulnerabilidad respetable.\n\nTEMPLATE DE PERSONAJE:\n\n\"Mi nombre es [nombre completo]. Tengo [edad] años.\"\n\n\"Hoy soy conocida como [identidad actual].\"\n\n\"Pero durante [período], fui [identidad de víctima].\"\n\n\"Crie a [número] hijos sola.\"\n\n\"Dediqué mi vida a cuidar de...\"\n\nBLOQUE 3: ESCALADA GRADUAL (20.000-30.000 caracteres)\n\n[DESARROLLO CON NARRATIVA NO LINEAL + FORESHADOWING]\nELEMENTOS OBLIGATORIOS:\n\nNarrativa no lineal: presente → pasado → señales extrañas.\n\nForeshadowing sutil: \"Empecé a notar cambios extraños.\"\n\nNormalización progresiva: \"Pensé que era normal.\"\n\nPrimer momento de desconfianza ignorado.\n\nDetalles sensoriales específicos.\n\nMARCOS TEMPORALES OBLIGATORIOS:\n\n\"En [fecha específica] lo noté por primera vez...\"\n\n\"Durante [evento específico] algo cambió.\"\n\n\"Fue en [estación/mes] cuando todo empeoró.\"\n\n\"Lo recuerdo exactamente: era [día de la semana], [hora].\"\n\nBLOQUE 4: MOMENTO DE GIRO (15.000-20.000 caracteres)\n\n[ESPECIALISTAS HABLANDO (FICTICIOS O NO) + INSIDER KNOWLEDGE]\nELEMENTOS OBLIGATORIOS:\n\nIntroducción de “especialista” (médico, abogado, psicólogo, amigo con conocimiento).\n\nConocimiento técnico específico insertado de manera natural.\n\nMomento concreto de revelación.\n\nTestigo inocente (niño, vecino, amigo).\n\nFecha exacta del evento que lo cambió todo.\n\nTEMPLATES DE ESPECIALISTAS:\n\n\"Mi amiga [nombre], que es [profesión], me explicó que...\"\n\n\"El doctor [nombre] me dijo algo que nunca olvidé...\"\n\n\"Fue entonces cuando [testigo] me contó la verdad...\"\n\nBLOQUE 5: CLÍMAX EMOCIONAL (12.000-15.000 caracteres)\n\n[GATILLO DE CURIOSIDAD + CALLBACKS]\nELEMENTOS OBLIGATORIOS:\n\nRevelación completa de la traición/horror.\n\nCallbacks constantes al hook inicial.\n\nDetalles específicos (sin ser excesivamente gráficos).\n\nImpacto psicológico detallado en la protagonista.\n\nMomento de decisión: \"Fue cuando decidí que...\"\n\nGATILLOS DE CURIOSIDAD:\n\n\"No van a creer lo que descubrí...\"\n\n\"Lo que voy a contar ahora lo explica todo...\"\n\n\"Finalmente entendí por qué...\"\n\nBLOQUE 6: GANCHO FINAL (10.000-15.000 caracteres)\n\n[CIERRE/CONCLUSIÓN CON PLOT TWIST + CLIFFHANGER]\nELEMENTOS OBLIGATORIOS:\n\nPlot twist final inesperado.\n\nCliffhanger para el próximo episodio.\n\nPromesa de venganza/justicia.\n\nMúltiples CTAs estratégicos.\n\nCierre emocional que deje “sabor a más”.\n\nSISTEMA DE CTAs ESTRATÉGICOS (distribuir a lo largo del guion):\n\nCTA DE COMUNIDAD (minuto 5):\n\"Díganme en los comentarios: ¿cuál es su nombre y desde dónde me escuchan? Quiero conocer a cada persona que tiene el valor de oír estas historias.\"\n\nCTA DE EXCLUSIVIDAD (minuto 15):\n\"Esta historia no es para cualquiera. Es para quienes tienen el coraje de enfrentar verdades difíciles. Si llegaron hasta aquí, forman parte de un grupo especial.\"\n\nCTA DE IDENTIFICACIÓN (minuto 25):\n\"¿Cuántos de ustedes han pasado por algo parecido? ¿Cuántos se han sentido traicionados por quienes más amaban? No están solos.\"\n\nCTA DE MISIÓN (minuto 40):\n\"Necesito su apoyo para seguir contando estas historias. Cada suscripción me da fuerza para dar voz a quienes fueron silenciados.\"\n\nCTA DE ENGAGEMENT (minuto 50):\n\"¿Qué harían ustedes en mi lugar? ¿Cómo reaccionarían si descubrieran esto sobre su propia familia? Escríbanlo en los comentarios.\"\n\nCTA FINAL DE SUSCRIPCIÓN (minuto 58):\n\"Si esta historia tocó su corazón, suscríbanse al canal. Juntos podemos dar voz a tantas mujeres que pasaron por lo que yo pasé. Ustedes son mi fuerza.\"\n\nELEMENTOS TÉCNICOS OBLIGATORIOS\n\nANCLAJE TEMPORAL:\n\nFechas específicas: \"Era 15 de marzo de 2019.\"\n\nHorarios exactos: \"A las 14:30 de la tarde.\"\n\nPeríodos definidos: \"Durante 8 meses y 15 días.\"\n\nMarcos temporales: \"3 semanas después de Navidad.\"\n\nDETALLADO SENSORIAL:\n\nOlores: \"Sentía el aroma del café que ella siempre preparaba.\"\n\nSonidos: \"Oía el ruido de la televisión en su habitación.\"\n\nTexturas: \"Sus manos ásperas apretaban las mías.\"\n\nTemperatura: \"Era una mañana fría de invierno.\"\n\nCREDIBILIDAD TÉCNICA:\n\nTérminos médicos usados naturalmente.\n\nConocimiento legal específico.\n\nDetalles financieros precisos.\n\nProcedimientos técnicos explicados.\n\nPSICOLOGÍA APLICADA OBLIGATORIA\n\nARQUETIPOS:\n\nPROTAGONISTA: Mujer de 60-80 años, cuidadora, subestimada.\n\nANTAGONISTA: Familiar cercano, persona de confianza.\n\nTESTIGO: Niño inocente o amigo leal.\n\nESPECIALISTA: Figura de autoridad que valida la experiencia.\n\nGATILLOS EMOCIONALES:\n\nIRA: Injusticia familiar clara.\n\nEMPATÍA: Sacrificio no reconocido.\n\nMIEDO: Vulnerabilidad en la vejez.\n\nCATARSIS: Venganza/justicia satisfactoria.\n\nTIMING PSICOLÓGICO:\n\nMinutos 0-10: Hook + identificación.\n\nMinutos 10-20: Construcción de empatía.\n\nMinutos 20-35: Escalada de tensión.\n\nMinutos 35-45: Revelación traumática.\n\nMinutos 45-55: Impacto emocional.\n\nMinutos 55-60: Promesa de justicia.\n\nCOMANDO DE ACTIVACIÓN:\n\nGUION:{{ $('Tradução Título').item.json.message.content['Título'] }}\n\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7568,-336],"id":"92cba0ab-5a5a-4415-abee-1eeae4433167","name":"Gerar Prompt Narrativo Capítulo 1","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=\"{{ $json.titulo }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json.titulo }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\nNunca uses verbos imperativos agresivos (“DEBES”, “APLASTA”), ni promesas absolutas.\nEvita sensacionalismo vacío; prioriza curiosidad + emoción auténtica.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-8560,-16],"id":"fff249b2-e044-4375-9b6d-b798614ee9be","name":"Tradução Título","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido.\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-8016,-624],"id":"600987a3-e791-4133-b8a9-bd9b5f157b37","name":"Tradução Contexto"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"ba697fd1-bb69-4a15-a641-eea6d2b9e325","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2592,-608]},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2368,-608],"id":"1ab826e6-85ba-49d4-8805-bd49f7d0d18b","name":"Criar Pasta Texto"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Una vez recibida la transcripción, elabore un resumen del contenido dividido en los temas principales, con una extensión total de entre 250 y 500 caracteres. A continuación, haz un breve resumen general, destacando las palabras clave del vídeo. Incluye 10 hashtags relacionados con las palabras clave. Sigue esta plantilla:\n\n\"Este vídeo explora [tema principal], ofreciendo un análisis profundo y crítico de [aspectos principales]. Basándose en un contexto histórico rico y relevante, el contenido aborda los aspectos controvertidos del tema, destacando las implicaciones para el público y la sociedad. El vídeo también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del tema. La conclusión ofrece una reflexión sobre los puntos tratados, destacando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: [Principales palabras clave relacionadas con el tema].\n\nHashtags: #MainTheme #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\".\nObligatorias: #historiasreales #dramafamiliar #mujerfuerte\n\nEvita un estilo de redacción excesivamente uniforme, sin matices personales, ni un enfoque sistemático y lógico que pueda parecer propio de una IA. Proporcione el texto sin markdown, explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales, ya que se utilizará directamente debajo del vídeo en YouTube. \n\nGuión: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\"\n\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"},{"content":"\"Responde en español neutro. Sin markdown, sin emojis, sin conteos.\"","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3168,-608],"id":"5c690fb4-c5ed-4cf3-b928-b5b32a4b38e2","name":"Gerar SEO"},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1248,-608],"id":"13974b7c-9018-4d4b-87cc-8636413a0c5c","name":"Salvar SEO no Google Drive"},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1472,-608],"id":"0c3ef07b-dbab-46a3-84bf-02b7d171d7fd","name":"Salvar Roteiro no Google Drive"},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2816,-608],"id":"c90b43ad-2ba5-403b-8c47-42335258e5b1","name":"Criar Pasta Chave"},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título1').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1024,-608],"id":"2148e6ab-f7f0-4b1b-8d26-a44542786e67","name":"Salvar Título no Google Drive"},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n].map(t => (t || '').trim());\n\n// Junta capítulos sem cabeçalhos nem separadores\nlet text = texts.join('\\n');\n\n// Remove linhas \"CAPÍTULO X:\" ou \"CAPÍTULO FINAL:\" (se aparecerem)\ntext = text.replace(/^\\s*CAP[ÍI]TULO\\s+(FINAL|\\d+)\\s*:\\s*\\n?/gmi, '');\n\n// Remove separadores '---' em linhas isoladas\ntext = text.replace(/^\\s*---\\s*$/gmi, '');\n\n// Limpa espaços extras\ntext = text.replace(/[ \\t]+\\n/g, '\\n'); // tira espaços no fim da linha\ntext = text.replace(/\\n{2,}/g, '\\n');   // colapsa múltiplas quebras em 1\n\nreturn [{ json: { text: text.trim() } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3840,-608],"id":"6ceb0ce7-88d0-4ecd-b5ec-c0bcfe219594","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-9408,-592],"id":"b1d71433-e427-4321-bbd2-bce8248f595b","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título1').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-608],"id":"01c150cf-c8b9-46f3-8623-10b1eff38cd9","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3392,-608],"id":"9fb59e0e-c5ce-464b-a3ad-99b3f251f44b","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7984,-96],"id":"2cd44eca-c1bb-4796-8fce-9de4c77d662b","name":"Verificar Tamanho do Título","disabled":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7696,112],"id":"05504d59-ee21-4f35-b878-37aebc9d91a0","name":"Aguardar e Reiniciar Processo","webhookId":"751f9534-39b5-4ea6-830d-d25a75a9ae4a","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"Canal","value":"@MemoriasdeAbuela","type":"string"},{"id":"bd738b3b-5a13-42bc-8ab3-226f05adbe0a","name":"titulo","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"7f61ee6a-cbe4-46f7-b430-e7925e3f0556","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8784,64],"id":"4eff65d6-b98b-4de2-aa06-5f016fbf7fff","name":"Organizar Título e Premissa","disabled":true},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-9360,144],"id":"60ae9f58-bd17-4c46-8422-58d9cb1a3214","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - ES(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9136,144],"id":"696e51d5-6c3d-4d6b-89e6-7a916874d1d4","name":"Notificação de Erro no Telegram","webhookId":"b439dd8a-77e6-4415-9e7a-1a7192d8b8a4"},{"parameters":{"listId":"={{ $('Organizar Título e Premissa1').item.json.ROTEIRO }}","name":"={{ $('Organizar Título e Premissa1').item.json.Canal }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",\n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-576,-608],"id":"9b6cadca-777f-4bf5-99ad-b42f8c9ec11f","name":"Criar Cartão em \"ROTEIRO ✅\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"=={{ $json.message.content[\"Título\"].toLowerCase() }}","rightValue":"abuelo","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"=={{ $json.message.content[\"Título\"].toLowerCase() }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}},{"id":"2736be45-df9d-44b1-9c3e-a5d703281b7a","leftValue":"=={{ $json.message.content[\"Título\"].toLowerCase() }}","rightValue":"abuelita","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8208,-16],"id":"df54d631-a71f-4dce-8570-2eff49431da9","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0d5807b4-650b-42ec-bb03-a222abecd0e3","name":"CTAs (1ª pessoa)","value":"min5_comunidad → Quiero conocerlos… díganme su nombre y desde dónde me escuchan 👵👇  min15_exclusividad → Si llegaron hasta aquí, es porque no temen a la verdad. ✨ ¿Me acompañan hasta el final?  min25_identificacion → ¿Quién más fue ignorado por su propia familia? 💔 No están solos.  min40_mision → Cada suscripción es una vela que mantiene viva mi voz 🔥. ¿Me ayudan a encender más luces?  min50_reflexion → Si descubrieran un secreto así en su familia… ¿tendrían el valor de contarlo? 😱 Escríbanlo abajo.  min58_final → Si mi historia tocó su corazón, suscríbanse. Ustedes son mi nueva familia 👵❤️.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2176,-336],"id":"ab6b7183-942b-429f-81ac-489d51b7f8d6","name":"Edit Fields"},{"parameters":{"operation":"createFromText","content":"={{ $json['CTAs (1ª pessoa)'] }}","name":"04 - CTAs","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1920,-608],"id":"e91bc92d-59d6-40b2-90b3-83d2b9ae370b","name":"Create file from text"},{"parameters":{"jsCode":"let t = $json.text || '';\n// remove emojis e variações (intervalos seguros)\nt = t.replace(/[\\u{1F300}-\\u{1FAFF}\\u{1F1E6}-\\u{1F1FF}\\u{2600}-\\u{27BF}\\u{FE0F}]/gu, '');\nreturn [{ json: { text: t } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,-608],"id":"e45e47ac-71b6-4574-a8fd-2c49c9c8dae3","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"15ca1322-d7a9-44e6-add9-71b67fb81cfd","name":"ctas","value":"={{ String($json.id || '').trim() }}\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1744,-320],"id":"a0d39f63-0934-4fd6-87c1-d0419caa93e5","name":"Set CTAs ID"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Genera SOLO el campo \"Título\" (sin comillas), cumpliendo TODO:\n- Comienza con: \"Historia de la Abuela — \"\n- Incluye un BLOQUE DE CHOQUE en MAYÚSCULAS (2–5 palabras).\n- Menciona un antagonista con poder/autoridad.\n- Añade un detalle de lugar y/o tiempo concreto.\n- Longitud total: 68–88 caracteres.\n- Máx. 1 signo fuerte (?!), sin comillas ni emojis.\n\nEjemplos de patrón (no los copies literal):\n- Historia de la Abuela — DEUDA MALDITA: doña Elena bloquea venta en Santa Teresa, al alba\n- Historia de la Abuela — PROHIBIDO VENDER: doña Elena decide en Santa Teresa, madrugada\n","role":"system"},{"content":"={{ $json['título'] }}\n\n"},{"content":"\nPor favor, forneça o texto acima em espanhol, utilizando nomes e expressões comuns entre os falantes de espoanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma espanhol, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"jsonOutput":"={{ true }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-9104,-560],"id":"59fbcc4c-dc80-471a-8c3d-7be3d0742939","name":"Tradução Título1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ Number((\n  $node[\"Tradução Título1\"].json?.[\"Título\"] ??\n  $node[\"Tradução Título1\"].json?.message?.content?.[\"Título\"] ??\n  $json?.[\"Título\"] ??\n  \"\"\n).length) }}\n","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8528,-640],"id":"784a2bc3-5ac1-4fd1-bcdb-6e7f005927e8","name":"Verificar Tamanho do Título1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-8304,-464],"id":"282955bd-488e-4944-b9a9-86de7e4a9321","name":"Aguardar e Reiniciar Processo1","webhookId":"751f9534-39b5-4ea6-830d-d25a75a9ae4a"},{"parameters":{"assignments":{"assignments":[{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"Canal","value":"@MemoriasdeAbuela","type":"string"},{"id":"bd738b3b-5a13-42bc-8ab3-226f05adbe0a","name":"titulo","value":"={{ $json.message.content['Título'] }}","type":"string"},{"id":"7f61ee6a-cbe4-46f7-b430-e7925e3f0556","name":"premissa","value":"={{ $('Iniciar Criação de Roteiro').item.json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8304,-688],"id":"a805e9c3-faf1-46b9-ad64-401c45e7eb7c","name":"Organizar Título e Premissa1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ String($node['Tradução Título1'].json['Título'] ?? $json['Título'] ?? '').trim() }}\n","rightValue":"Historia de la Abuela","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json[\"Título\"] ?? $json.message?.content?.[\"Título\"] ?? '' }}\n","rightValue":"Historia de la Abuela","operator":{"type":"string","operation":"contains"}},{"id":"7eb6a459-6212-4c10-ab76-b6ebe78cc5b7","leftValue":"={{ String($node['Tradução Título1'].json['Título'] ?? $json['Título'] ?? '').trim() }}\n\n","rightValue":"^Historia de la Abuel[óo]:","operator":{"type":"string","operation":"regex"}},{"id":"663376d5-d123-4744-87aa-2fcfac20aad1","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}},{"id":"a38468f7-6dfa-4e51-93c1-a23f118a265a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELITA","operator":{"type":"string","operation":"contains"}},{"id":"2736be45-df9d-44b1-9c3e-a5d703281b7a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelita","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8752,-640],"id":"7200980b-0b5d-434a-acc0-995b6e2cf8ac","name":"Verificar Palavra-chave no Título1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"Devuelve EXACTAMENTE este JSON (sin markdown): {\\\"Prompts\\\":[{\\\"prompt\\\":\\\"Escribe una historia de unas 500 palabras sobre {{ $('Tradução Título1').item.json.message.content['Título'] }}. Usa el siguiente contexto: {{ $('Tradução Contexto').item.json.message.content['Contexto'] }}. La historia debe comenzar con una afirmación impactante que rompa con las expectativas sociales. Incluye un gancho narrativo, manteniendo el conflicto abierto sin resolverlo. La historia NO debe concluir, sino dejar al lector con ganas de más.\\\"}]}\n\nNO repitas escenas ya narradas ni reinicies la ubicación (no vuelvas a “sentarme”, “cerrar la puerta” o “entrar a la oficina” si ya pasó). Cada capítulo debe avanzar en tiempo y consecuencias, sin reciclar el mismo set.\n\"\n    }\n  ]\n}\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"},{"content":"\"Responde siempre en español neutro (sin regionalismos), sin emojis. Devuelve JSON válido, sin comentarios ni markdown.\"","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7664,-624],"id":"3f7eb0db-6531-48da-adb6-0988ad817be9","name":"Gerar Prompt Narrativo Capítulo "}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo ","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Code","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Tradução Título1":{"main":[[{"node":"Verificar Palavra-chave no Título1","type":"main","index":0}]]},"Verificar Tamanho do Título1":{"main":[[{"node":"Organizar Título e Premissa1","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo1","type":"main","index":0}]]},"Aguardar e Reiniciar Processo1":{"main":[[{"node":"Tradução Título1","type":"main","index":0}]]},"Verificar Palavra-chave no Título1":{"main":[[{"node":"Verificar Tamanho do Título1","type":"main","index":0}]]},"Organizar Título e Premissa1":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo ":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Detector de Falhas":[{"json":{"execution":{"id":"68947","url":"https://darkdollar-n8n-webhook.hze78h.easypanel.host/workflow/IYYE88WlE44gcKLy/executions/68947","error":{"level":"warning","tags":{},"context":{"itemIndex":0},"functionality":"regular","name":"NodeApiError","timestamp":1755361627205,"node":{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json.titulo }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json.titulo }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n","role":"user"}]},"simplify":true,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"96d8e927-f08c-47e9-a8fe-d2c8b3a8869d","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},"messages":["503 - \"upstream connect error or disconnect/reset before headers. reset reason: connection termination\""],"httpCode":"503","description":"upstream connect error or disconnect/reset before headers. reset reason: connection termination","message":"Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)","stack":"NodeApiError: Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1476:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1762:11)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/transport/index.ts:44:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts:258:18)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/router.ts:54:25)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/OpenAi.node.ts:16:10)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1187:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1536:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2100:11"},"lastNodeExecuted":"Tradução Título","mode":"integrated"},"workflow":{"id":"IYYE88WlE44gcKLy","name":"03-CRIA ROTEIROS - ESPANHA"}}}],"Gerar Capítulo Final":[{"json":{"index":0,"message":{"role":"assistant","content":"Capítulo final\n\nEl hombre dijo la dirección sin parpadear. Un galpón frío detrás del mercado de abasto, kilómetro treinta y dos de la autopista, cortina metálica nueva y una luz blanca encendida toda la noche. Sentí que el piso me empujaba hacia adelante.\n\nValentina no tardó. Alzó la mano, repartió móviles, cortó perimetros. Me sostuvo la mirada un segundo. No había odio. Había deber.\n\n—Después te notifico —me dijo—. Ahora guiame.\n\nAsentí. A Lidia se la llevaron con las manos atrás y la cabeza alta. No insultó. Sonrió. Al juez se le cayó por fin la máscara: le temblaban los sellos en los dedos. El cura no rezó. Romina le puso las esposas sin temblar. Los vecinos hicieron un murmullo que parecía viento y piedra. La casa nos respiró encima; el reloj tiró un clic cansado, como si por fin soltara la lengua.\n\nYo busqué a Teresa. Le devolví la gorra. Se la encasqueté como quien entrega un santo que ya bendijo y ya duele.\n\n—Es tuya —le dije—. Perdón por el fuego y por la letra.\n\nElla me miró largo. No me abrazó. Me tocó la mejilla con la punta de los dedos, suave, como si probara si era de verdad. Marcos y Mateo se arrimaron a ella como a una mesa firme. Cabían los tres en el abrazo que yo no supe.\n\nSalimos en caravana. Sirena, viento, luces azules cortando la madrugada. En el asiento de atrás del móvil, Valentina me tendió un chaleco. Me lo puse yo sola. Las manos saben.\n\nEl galpón era lo que había dicho el hombre: plancha de metal, olor a cloro y leche tibia. Romina pateó la puerta. Adentro había frío y máquinas encendidas. También había vida: tres cunas, una incubadora, botellas de vidrio con tetinas nuevas. Una enfermera joven con cara de susto y dos hombres flacos que alzaron los brazos sin hacer ruido.\n\n—A la pared —ordenó Valentina.\n\nYo caminé despacio entre las camas. Sentí en el paladar el mismo sabor metálico de aquella noche vieja. La L me latía en la frente. En la segunda habitación una chica temblaba, sentada en el piso, con un bebé pegado al pecho.\n\n—No me lo quiten —dijo—. No me lo quiten más.\n\nLa escuché como se escucha una plegaria. Me arrodillé a su lado. Le sostuve la nuca.\n\n—No te lo quitan —le dije—. Te lo devuelven. Te lo devolvemos.\n\nLos camilleros entraron como si hubieran ensayado toda la vida. Mantas, calor, nombres escritos con letra clara por primera vez. Romina habló con la chica, bajito. Una médica le acarició el pelo. El bebé respiraba parejo. Afuera empezaba a amanecer.\n\nEn el cordón de la vereda, con la espalda contra la chapa, me cayó de golpe el peso. Valentina se paró frente a mí. No me gritó. No me explicó. Me tomó las manos y me puso el frío del metal. Me besó la frente como cuando era chiquita y no había nadie mirándonos.\n\n—Por lo legal, mamá —susurró.\n\n—Que sea por lo legal —le respondí—. Y hasta el final.\n\nMe levanté sola. Caminé hasta la cuna más cercana. Dejé la gorra rosa doblada, la L hacia arriba. Ya no cuelga de mi puerta. Que guarde ahora el sueño de quien deba.\n\nVolvimos con el día. En la casa, el pasillo olía a lejía y a pan tostado. Las paredes se habían aflojado. La baldosa floja respiró hondo y quedó quieta. Teresa me esperaba sentada, los muchachos a los costados, el barrio detenido en la vereda como si fuera misa. Lidia no estaba. El juez no estaba. El cura no estaba. El hueco negro estaba vacío.\n\n—Hiciste lío grande —dijo Teresa—. Pero lo dejaste claro.\n\n—Faltan nombres —le dije—. Siempre faltan.\n\nAsintió. Marcos me aguantó la mirada. No vi odio. Vi cansancio. Vi hombre. Mateo, con una manta limpia en los hombros, me tocó la mano y no la soltó.\n\nLa mujer del Ministerio sacó recibos y firmas. El hombre de la valija se llevó su programa. Dijo que vendrían por lo que no vimos, por lo que cruzó mares. Valentina se quedó. Me miró como se mira a una madre cuando ya no te salva ni te hunde: igual.\n\n—Vas a declarar mucho —dijo.\n\n—Todo —respondí—. Pero no me pidan que me arrepienta de haber abierto.\n\nEn la pared, el reloj hizo su clic firme. Afuera, el carrito del panadero dejó dos bolsas en mi escalón y se fue silbando. La casa, por primera vez, no olía a gas.\n\nNo sé cómo va a contarlo el barrio. No sé dónde me va a encerrar la justicia. Sé que esa sala ya no va a prenderse hoy. Sé que el apellido pesa menos cuando se escribe con verdad. Sé que la L ya no es un truco: es una costura que podemos descoser.\n\nMe senté en la mesa de pino. Puse delante la libreta con mi letra y la dejé abierta. Que venga quien tenga que leer. Yo ya no me callo. No me muero con esto en la lengua.\n\nTambién sé que falta alguien. Siempre falta alguien.\n\n¿Quién falta?","refusal":null,"annotations":[]},"finish_reason":"stop"}}]},"versionId":"28ba751f-86c2-4999-8733-6b9a54af3b85","triggerCount":0,"tags":[]}