03---cria-roteiros---pt-QFnNItno3ZIt8TOH.json
{"createdAt":"2025-06-06T10:07:35.183Z","updatedAt":"2025-06-10T01:53:52.676Z","id":"QFnNItno3ZIt8TOH","name":"03 - CRIA ROTEIROS - PT","active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5000,560],"id":"2d096937-6b76-466c-8578-8f87aa5a7e98","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4640,560],"id":"6ab3eb2f-5e50-4119-bcf3-89e817cd4a65","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4260,560],"id":"b632857f-4cb1-46cb-ab17-960eb24e415e","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3880,560],"id":"91c06a59-41be-49ce-9412-317981fce081","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3500,560],"id":"7e156bf3-7ae2-44ef-9ef5-7b5b73edc16f","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3120,560],"id":"bb9e6033-4e2f-4b64-84c4-f82ec5f58b23","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2760,560],"id":"cd306651-9688-4633-93f2-3fddeb948221","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscreva um novo capítulo, de aproximadamente 500 palavras, que continue os eventos descritos acima, introduzindo uma reviravolta extremamente chocante e impactante que transforme completamente a narrativa. Comece exatamente do ponto em que o capítulo anterior terminou, mas em algum momento, insira um evento dramático e inesperado que mude radicalmente o curso da história, alterando relacionamentos, revelando segredos devastadores ou transformando a verdadeira natureza de um personagem principal. Mantenha o mesmo estilo, linguagem e ritmo da narrativa original, enquanto constrói essa mudança abrupta de maneira que deixe o leitor em estado de choque. A reviravolta deve ser tão impactante que faça o leitor questionar tudo o que acreditava saber sobre a história até então. Não finalize a trama nem resolva definitivamente os conflitos, mas use essa reviravolta para criar um gancho ainda mais poderoso ao final, deixando o leitor desesperado para descobrir as consequências desse evento transformador. Forneça apenas o novo capítulo e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2380,560],"id":"6310568a-dd13-4706-b7b9-3aaea3331ca8","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscreva um capítulo final, de aproximadamente 500 palavras, que encerre definitivamente a história descrita acima. Resolva os principais conflitos, apresente uma despedida coerente para os personagens e conclua a trama de maneira satisfatória. Mantenha o mesmo estilo e ritmo narrativo, mas dê ao leitor uma sensação clara de encerramento. Ao final, adicione uma mensagem urgente e impactante de CTA (call to action) que EXIJA que o público:\n\n- SE INSCREVA IMEDIATAMENTE no canal para não perder as próximas histórias exclusivas\n- ESMAGUE o botão de like AGORA para alimentar o algoritmo\n- INUNDE a seção de comentários com suas reações e teorias sobre o final\n- COMPARTILHE INSTANTANEAMENTE este vídeo com pelo menos 5 amigos que precisam conhecer este desfecho\n\nUse frases enfáticas como 'Você PRECISA se inscrever agora', 'Este é o MOMENTO para demonstrar seu apoio' e 'Não espere NEM MAIS UM SEGUNDO para compartilhar'. Destaque que apenas os verdadeiros fãs compreendem a importância de apoiar o canal com estas ações. Forneça apenas o capítulo final e não reescreva o capítulo anterior, sem explicações, comentários adicionais, contagem de palavras nem caracteres especiais.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2000,560],"id":"3f2d336c-812c-49ad-91b2-24b350a7d69f","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} A história deve começar com uma versão sensacionalista do gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". Neste primeiro capítulo, exagere nos elementos curiosos e misteriosos para instigar e capturar a atenção do leitor desde o início. Descreva em detalhes vívidos e envolventes cada fato inusitado, criando uma atmosfera de expectativa e fascínio que mantenha o leitor ansioso para descobrir o que acontecerá a seguir. Em seguida, inclua um breve CTA dizendo: \"Ei, antes de continuarmos com essa história incrível, preciso te fazer um alerta importante! Muitos inscritos têm relatado que o YouTube removeu suas inscrições sem aviso. Dá só uma conferida rápida no botão vermelho aí embaixo para garantir que você ainda está inscrito no canal! Não quero que você perca NENHUM conteúdo exclusivo que vem por aí... E já que você está aí, deixa aquele like poderoso que me ajuda MUITO com o algoritmo! Ah, e me conta nos comentários: de qual cidade você está assistindo? Adoro conhecer cada pessoa incrível que faz parte dessa comunidade! Sua participação faz toda diferença, vamos interagir!\". Forneça apenas o texto final, sem explicações, comentários adicionais, contagem de palavras ou caracteres especiais.\nA história deve obrigatoriamente seguir esta estrutura exata:\n\nTÍTULO: Começar com uma versão sensacionalista do gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nDESENVOLVIMENTO DO CAPÍTULO: Neste primeiro capítulo, exagere nos elementos curiosos e misteriosos para instigar e capturar a atenção do leitor desde o início. Descreva em detalhes vívidos e envolventes cada fato inusitado, criando uma atmosfera de expectativa e fascínio que mantenha o leitor ansioso para descobrir o que acontecerá a seguir.\nCTA: Ao final do desenvolvimento, incluir este texto exato: \"Ei, antes de continuarmos com essa história incrível, preciso te fazer um alerta importante! Muitos inscritos têm relatado que o YouTube removeu suas inscrições sem aviso. Dá só uma conferida rápida no botão vermelho aí embaixo para garantir que você ainda está inscrito no canal! Não quero que você perca NENHUM conteúdo exclusivo que vem por aí... E já que você está aí, deixa aquele like poderoso que me ajuda MUITO com o algoritmo! Ah, e me conta nos comentários: de qual cidade você está assistindo? Adoro conhecer cada pessoa incrível que faz parte dessa comunidade! Sua participação faz toda diferença, vamos interagir!\"\n\nForneça apenas o texto final, respeitando rigorosamente esta ordem: título, desenvolvimento do capítulo e depois CTA. Não inclua explicações, comentários adicionais, contagem de palavras ou caracteres especiais. Não escreva 'TÍTULO:', 'DESENVOLVIMENTO DO CAPÍTULO:' ou 'CTA:' no texto final.\n\nO tom da escrita deve ser simples, direto e emocional, como se a história estivesse sendo contada por um amigo em uma conversa informal. Use palavras fáceis, frases curtas e um ritmo leve, quase como fala. Evite palavras difíceis, estruturas complicadas ou linguagem literária. A narrativa deve prender a atenção com imagens claras, sentimentos universais e uma linguagem acessível. Nada de finais fechados: termine o capítulo com um mistério ou dúvida, deixando o leitor curioso para saber o que vem a seguir.\n\n1. Intensidade Emotiva  \n   - Cada frase deve transmitir emoção crua: medo, dor, choque, compaixão.  \n   - Use verbos e adjetivos fortes que evoquem sensações físicas e psicológicas.  \n   - Revele o impacto interno nos personagens: aperto no peito, nó na garganta, tremor nas mãos.\n\n2. Urgência e Ritmo  \n   - Intercale frases curtas de ação com descrições sintéticas, mantendo o ritmo acelerado.  \n   - Empregue sinais de pontuação que reforcem a cadência (reticências, exclamações, interjeições).  \n   - Evite períodos longos demais; cada parágrafo deve avançar a cena sem pausas literárias.\n\n3. Descrição Concreta e Sintética  \n   - Foque em detalhes visuais e sensoriais essenciais, sem sobrecarregar.  \n   - Utilize metáforas e comparações pontuais, sempre relacionadas ao momento.  \n   - Cada elemento (cor, som, textura) deve surgir de forma instantaneamente reconhecível.\n\n4. Sensação Cinematográfica  \n   - Altere o foco entre close-ups (expressões, reações) e planos gerais (ambiente, multidão).  \n   - Use advérbios de movimento para induzir a ideia de câmera em movimento.  \n   - Quebre parágrafos para simular cortes de cena.\n\n5. Narrador Observador e Próximo  \n   - Adote terceira pessoa, mas mantenha o tom coloquial: linguagem natural, sem jargões literários.  \n   - Evite termos excessivamente eruditos; prefira construções que soem como um relato direto.\n\n6. Contraste de Tons  \n   - Crie pausas dramáticas em que o silêncio ou a inação falem tanto quanto as ações.  \n   - Intercale sons e ruídos numa mesma sequência (silêncio súbito seguido de grito ou barulho).\n\n7. Reações e Julgamento Coletivo  \n   - Descreva expressões e murmúrios de observadores, reforçando a tensão social.  \n   - Inclua falas fragmentadas de personagens secundários que demonstrem choque ou reprovação.\n\n8. Linguagem de Choque  \n   - Utilize termos impactantes relacionados a horror, tragédia e escândalo, mas sempre vinculados a imagens concretas.  \n   - Cuidado para não exagerar no sensacionalismo; mantenha autenticidade no choque.\n\n9. Proximidade com a Dor  \n   - Retrate de forma direta a dor física e emocional dos personagens.  \n   - Evite eufemismos: descreva a gravidade das cenas sem suavizar a linguagem.\n\n10. Fagulhas de Esperança  \n    - Insira breves respingos de alívio ou conforto que se destaquem no contexto de tensão.  \n    - Esses momentos devem acentuar ainda mais o impacto dramático quando a cena retoma a urgência.\n\n11. Consistência de Voz  \n    - Mantenha o mesmo “timbre” narrativo do início ao fim: informal, visceral, cinematográfico.  \n    - Não alterne para estilos contraditórios; preserve unidade de tom em todo o texto.\n\n12. Escolha Léxica  \n    - Prefira verbos fortes e adjetivos incisivos; substitua advérbios genéricos por equivalentes mais específicos.  \n    - Gerencie o vocabulário para reforçar a intensidade sem tornar a leitura cansativa.\n\n13. Proibições  \n    - Não use reflexões filosóficas ou divagações longas.  \n    - Não apresente vocabulário literário rebuscado.  \n    - Não adicione seções de instrução, marcadores ou legendas internas.\n    - Não insira descrições que quebrem a fluidez do tom."},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5380,560],"id":"f51d20d8-382a-45d6-ba21-2ffe4c69f702","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Objetivo Principal: \n\nTransformar qualquer tema em um único prompt narrativo para o primeiro capítulo, sem finalizar a história. O resultado será um array JSON chamado `Prompts`, que conterá exatamente 1 objeto, com o campo `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Estrutura Base do Prompt  \nCada prompt deve começar com: \"Escreva uma história de aproximadamente 500 palavras sobre...\"  \n\n## Especificações Técnicas do JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Escreva uma história de aproximadamente 500 palavras sobre...\"\n    }\n  ]\n}\n```\n\n## Requisitos Técnicos \n\n- Apenas um objeto no array `Prompts`  \n- Cadeia com aspas duplas  \n- Indentação: 2 espaços  \n- Sem quebras de linha no conteúdo de `prompt`  \n- JSON válido e com caracteres especiais escapados  \n\n## Estrutura Narrativa Detalhada (Apenas Primeiro Capítulo)\n\n1. **Apresentação do Protagonista**  \n   - Nome e características principais  \n   - Contexto social/profissional  \n   - Estado emocional inicial  \n\n2. **Cenário Principal**  \n   - Localização temporal e espacial  \n   - Atmosfera e ambiente  \n   - Elementos únicos do mundo da história  \n\n3. **Ativador da História**  \n   - Evento catalisador que rompa a normalidade  \n   - Inicie o conflito inicial ou dilema principal  \n\n4. **Gancho Narrativo**  \n   - Elemento de mistério ou tensão que deixe clara a continuação  \n   - Pergunta não resolvida  \n   - Termine sem concluir o conflito, mantendo a história incompleta \n\n## Checklist de Validação\n\n1. **JSON**  \n   - [ ] Apenas 1 objeto dentro de \"Prompts\"  \n   - [ ] Campo \"prompt\" sem quebras de linha  \n   - [ ] Cadeias com aspas duplas, sem caracteres especiais \n\n2. **Narrativa**  \n   - [ ] História NÃO finalizada (o capítulo fica em aberto)    \n   - [ ] Inclui ganchos, sem resolver o conflito  \n   - [ ] Não conclua a trama nem resolva o conflito principal. Em vez disso, crie um problema a partir de cada solução, fazendo o leitor sentir que a história ainda precisa continuar. A sensação final deve ser de que há mais por vir, nunca uma conclusão definitiva.  \n   - [ ] Certifique-se de que o capítulo termine com um gancho intrigante, criando um mistério ou uma dúvida que deixe o leitor ansioso pelo próximo capítulo, sem conseguir parar de ler.  \n   - [ ] Mantenha um equilíbrio entre ação e reflexão, permitindo que o personagem evolua, mas sem dar respostas definitivas ou conclusões que resolvam os dilemas abertos.\n\n## Observação Final\n\n- Não conclua a trama nem resolva o conflito principal. Em vez disso, crie um problema a partir de cada solução, fazendo o leitor sentir que a história ainda precisa continuar. A sensação final deve ser que há mais por vir, nunca uma conclusão definitiva.  \n- Certifique-se de que o capítulo termine com um gancho intrigante, criando um mistério ou uma dúvida que deixe o leitor ansioso pelo próximo capítulo, sem conseguir parar de ler.  \n- Mantenha um equilíbrio entre ação e reflexão, permitindo que o personagem evolua, mas sem dar respostas definitivas ou conclusões que resolvam os dilemas abertos.  "},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5760,560],"id":"966b89f9-d12f-46de-bd3b-0546c7438e8a","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 95 caracteres para impacto ideal.\n\n# Palavras obrigatórias: \n\n- “Historia” ou “HISTORIA”\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6960,700],"id":"565e06ba-df09-4ed5-83bb-3cdbdab5a6a0","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6140,560],"id":"eb28e1d9-5628-4542-98cf-d5ebe80e89dd","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"54b3f573-174a-42b6-be6e-9445ac0cb634","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-580,560],"credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-360,560],"id":"ca179aeb-61f2-499b-a723-923a34851628","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Depois de receber a transcrição, crie um resumo do conteúdo dividido nos principais temas, com uma extensão total entre 250 e 500 caracteres. Em seguida, faça um pequeno resumo geral, destacando as palavras-chave do vídeo. Inclua 10 hashtags relacionadas às palavras-chave. Por favor, siga este modelo:\n\n\"Este vídeo explora [tema principal], oferecendo uma análise profunda e crítica sobre [aspectos principais]. Baseado em um contexto histórico rico e relevante, o conteúdo aborda os aspectos controversos do tema, destacando as implicações para o público e para a sociedade. O vídeo também examina exemplos e casos práticos, fornecendo uma compreensão mais concreta e aplicada do assunto. A conclusão oferece uma reflexão sobre os pontos discutidos, enfatizando a importância e o impacto do tema na atualidade.\n\nPalavras-chave: [Palavras-chave principais relacionadas ao tema].\n\nHashtags: #TemaPrincipal #ContextoHistórico #AspectosControversos #AnáliseCrítica #ExemplosPráticos #CasosDeEstudo #ReflexãoFinal #ImpactoSocial #História #Sociedade\"\n\nEvite um estilo de escrita excessivamente uniforme, sem nuances pessoais, ou um foco sistemático e lógico que possa parecer típico de uma IA. Forneça o texto sem markdown, explicações, comentários adicionais, contagem de palavras ou caracteres especiais, pois será usado diretamente abaixo do vídeo no YouTube. \n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Por favor, forneça o texto em Português, utilizando nomes e expressões comuns entre os falantes de Português em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Português, garantindo que mantenham relevância e ressoem com o público.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1180,560],"id":"324c836b-d3f7-4ca1-a868-a012c59a5198","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[100,560],"id":"53344725-665e-4804-b71c-d947fe44530d","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-140,560],"id":"5e18ab9d-8f89-4480-b2e0-287462ae27f0","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-800,560],"id":"15bc6ade-26de-4527-be56-d6c7d116d3d2","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,560],"id":"911d59e8-372e-44c5-ad16-34e53407d151","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1620,560],"id":"be0bd223-e082-4bba-99de-e75b3d66daa0","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-7400,760],"id":"a944d7e9-2457-4e53-80c9-b1ad4f35bcd1","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,560],"id":"9683103d-ea41-496b-b81e-cb920f777503","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1400,560],"id":"cd56d4d6-f74f-4b6e-b311-58007eea202c","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6360,620],"id":"4d11de6f-aab1-4a41-91a4-d5079fc2f6fb","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6060,820],"id":"2f26f86e-2ea3-473c-973e-caf8daee8c16","name":"Aguardar e Reiniciar Processo","webhookId":"d5c010c0-4d9a-446a-9072-df972b382b96"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@historiasecontos01","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7180,760],"id":"738807ac-1bbb-4275-a4f4-ffe6a816e3cd","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-7400,300],"id":"d5499618-eefc-4eb8-8ba0-428ec51b1261","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS -(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7180,300],"id":"ae051c2b-faa9-4497-901c-a977754a6274","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[760,560],"id":"447c059b-9211-4b36-b273-b4f2f2912143","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"Milionário","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6580,700],"id":"f87fbcdc-3ca3-42b9-b7ec-8628b0bbee11","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ce15789-dd83-4be7-8b72-6fbce9e052a5","triggerCount":0,"tags":[]}