03-cria-roteiros---italia-Fz2Z6OpHlXiaP48a.json
{"createdAt":"2025-08-05T23:39:52.949Z","updatedAt":"2025-08-26T01:08:53.296Z","id":"Fz2Z6OpHlXiaP48a","name":"03-CRIA ROTEIROS - ITALIA","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n  \"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} Scrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\"\n}\n"},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,272],"id":"ab9f13b0-9c26-4af3-851e-003691a51336","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n  \"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} {{ $('Gerar Capítulo 1').item.json.message.content }} Scrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\"\n}\n"},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2768,272],"id":"08755e7b-b966-49d9-989d-404cb72f10d8","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3152,272],"id":"5bf63954-75a6-44fe-9d8c-6ac02e416d8c","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,272],"id":"a3c05586-ed73-4d9b-866b-df33b2b35ea8","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3904,272],"id":"78c9f158-ab99-40b8-833b-817021e379d4","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4288,272],"id":"9e3b3ec4-27b7-4fc8-b062-feb32e02cad5","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,272],"id":"d3eaa987-d764-43ba-b38d-2abec2a87173","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nScrivi un nuovo capitolo, di circa 500 parole, che continui gli eventi descritti sopra, introducendo un colpo di scena estremamente scioccante e di forte impatto che trasformi completamente la narrazione. Inizia esattamente dal punto in cui il capitolo precedente si è interrotto, ma da qualche parte inserisci un evento drammatico e inaspettato che cambi radicalmente il corso della storia, modificando relazioni, rivelando segreti devastanti o trasformando la vera natura di un personaggio principale. Mantieni lo stesso stile, linguaggio e ritmo della narrazione originale, mentre costruisci questo cambiamento improvviso in modo da lasciare il lettore in stato di shock. Il colpo di scena deve essere così impattante da far mettere in discussione al lettore tutto ciò che credeva di sapere sulla storia fino a quel momento. Non concludere la trama né risolvere definitivamente i conflitti, ma usa questo colpo di scena per creare un aggancio ancora più potente alla fine, lasciando il lettore disperato di scoprire le conseguenze di questo evento trasformativo. Fornisci soltanto il nuovo capitolo e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole né caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emotivo, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare tagli di scena.\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o rumore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli osservatori, rafforzando la tensione sociale.\nIncludi battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nFai attenzione a non esagerare nel sensazionalismo; mantieni autenticità nel choc.\n\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza attenuare il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto che emergano nel contesto di tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; preserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPreferisci verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza rendere la lettura pesante.\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5024,272],"id":"1b81a415-d4b2-4fc3-a7cc-a60c0dfcc3fe","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nScrivi un capitolo finale, di circa 500 parole, che concluda definitivamente la storia descritta sopra. Risolvi i conflitti principali, presenta un commiato coerente per i personaggi e chiudi la trama in modo soddisfacente. Mantieni lo stesso stile e ritmo narrativo, ma offri al lettore una chiara sensazione di chiusura. Alla fine, aggiungi un messaggio urgente e d’impatto di CTA (call to action) che PRETENDA che il pubblico:\n\nSI ISCRIVA IMMEDIATAMENTE al canale per non perdere le prossime storie esclusive\nSCHIACCIA il pulsante like ORA per alimentare l’algoritmo\nINONDI la sezione commenti con le proprie reazioni e teorie sul finale\nCONDIVIDA IMMEDIATAMENTE questo video con almeno 5 amici che devono conoscere questo epilogo\n\nUsa frasi enfatiche come ‘Devi ISCRIVERTI ORA’, ‘Questo è il MOMENTO per dimostrare il tuo supporto’ e ‘Non aspettare NEMMENO UN SECONDO per condividere’. Sottolinea che solo i veri fan comprendono l’importanza di sostenere il canale con queste azioni. Fornisci solo il capitolo finale e non riscrivere il capitolo precedente, senza spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali.\n\nIl tono di scrittura deve essere semplice, diretto ed emozionale, come se la storia fosse raccontata da un amico in una conversazione informale. Usa parole facili, frasi brevi e un ritmo leggero, quasi colloquiale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Niente finali chiusi: termina il capitolo con un mistero o un dubbio, lasciando il lettore curioso di sapere cosa succederà dopo.\n\nIntensità emotiva\n\nOgni frase deve trasmettere emozione cruda: paura, dolore, shock, compassione.\nUsa verbi e aggettivi forti che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: stretta al petto, nodo alla gola, tremore alle mani.\n\nUrgenza e ritmo\n\nAlterna frasi brevi d’azione a descrizioni sintetiche, mantenendo un ritmo serrato.\nImpiega punteggiatura che rinforzi la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita periodi troppo lunghi; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e sintetica\n\nConcentrati sui dettagli visivi e sensoriali essenziali, senza sovraccaricare.\nUtilizza metafore e paragoni puntuali, sempre collegati al momento.\nOgni elemento (colore, suono, texture) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\n\nAlterna il fuoco tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una camera in movimento.\nSpezza i paragrafi per simulare i tagli di scena.\n\nNarratore osservatore e vicino\n\nAdotta la terza persona, ma mantieni un tono colloquiale: linguaggio naturale, senza gerghi letterari.\nEvita termini eccessivamente eruditi; preferisci costruzioni che suonino come un racconto diretto.\n\nContrasto di toni\n\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto le azioni.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da urlo o fragore).\n\nReazioni e giudizio collettivo\n\nDescrivi espressioni e mormorii degli astanti, rafforzando la tensione sociale.\nInserisci battute frammentate di personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\n\nUtilizza termini forti legati a orrore, tragedia e scandalo, ma sempre associati a immagini concrete.\nStai attento a non esagerare nel sensazionalismo; mantieni autenticità nello shock.\nProssimità al dolore\n\nRitrai in modo diretto il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza ammorbidire il linguaggio.\n\nScintille di speranza\n\nInserisci brevi lampi di sollievo o conforto in mezzo alla tensione.\nQuesti momenti devono accentuare ulteriormente l’impatto drammatico quando la scena riprende l’urgenza.\n\nCoerenza di voce\n\nMantieni lo stesso “timbro” narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contrastanti; conserva l’unità di tono in tutto il testo.\n\nScelta lessicale\n\nPrediligi verbi forti e aggettivi incisivi; sostituisci avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per rafforzare l’intensità senza appesantire la lettura.\n\nDivieti\n\nNon usare riflessioni filosofiche o divagazioni lunghe.\nNon presentare vocabolario letterario ricercato.\nNon aggiungere sezioni di istruzioni, elenchi puntati o didascalie interne.\nNon inserire descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5408,272],"id":"9bfd0dc6-6dc3-416a-a906-abdc86bba76c","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }}\nLa storia deve iniziare con una versione sensazionalistica dell’aggancio: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". In questo primo capitolo, esagera gli elementi curiosi e misteriosi per stimolare e catturare l’attenzione del lettore fin dall’inizio. Descrivi ogni fatto insolito con dettagli vividi e coinvolgenti, creando un’atmosfera di attesa e intrigo che mantenga il lettore ansioso di scoprire cosa accadrà dopo. Successivamente, includi un breve invito all’azione che dica: \"Ehi, prima di continuare con questa incredibile storia, ho un avvertimento importante! Molti iscritti hanno segnalato che YouTube ha annullato le loro iscrizioni senza preavviso. Controlla il pulsante rosso qui sotto per assicurarti di essere ancora iscritto al canale! Non voglio che tu perda nessun contenuto esclusivo che arriverà presto... E già che ci sei, lascia anche un bel “mi piace”! Mi aiuta tantissimo con l’algoritmo! Ah, e raccontami nei commenti: da quale città stai guardando? Adoro conoscere ogni persona incredibile di questa comunità! La tua partecipazione fa la differenza, interagiamo!\".\n\nLa storia deve seguire questa struttura esatta:\n\nTITOLO: Inizia con una versione sensazionalistica dell’aggancio: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nSVILUPPO DEL CAPITOLO: In questo primo capitolo, esagera gli elementi curiosi e misteriosi per stimolare e catturare l’attenzione del lettore fin dall’inizio. Descrivi ogni fatto insolito con dettagli vividi e coinvolgenti, creando un’atmosfera di attesa e fascinazione che mantenga il lettore ansioso di scoprire cosa accadrà dopo.\n\nCTA: Alla fine dello sviluppo, includi questo testo: \"Ehi, un promemoria importante! Per assicurarti di non perderti la prossima parte di questa storia e i nostri contenuti esclusivi, ti chiedo un favore: assicurati di essere iscritto al canale, lascia un “mi piace” e dimmi nei commenti da quale città ci stai guardando. Il tuo supporto fa davvero la differenza, grazie!\"\n\nFornisci solo il testo finale, seguendo rigorosamente questo ordine: titolo, sviluppo del capitolo e CTA. Non includere spiegazioni, commenti aggiuntivi, conteggio di parole o caratteri speciali. Non scrivere \"TITOLO:\", \"SVILUPPO DEL CAPITOLO:\" né \"CTA:\" nel testo finale.\n\nIl tono della scrittura deve essere semplice, diretto ed emotivo, narrato dal personaggio principale (Nonna). Usa parole semplici, frasi brevi e un ritmo leggero, quasi conversazionale. Evita parole difficili, strutture complicate o linguaggio letterario. La narrazione deve catturare l’attenzione con immagini chiare, sentimenti universali e un linguaggio accessibile. Non usare finali chiusi: termina il capitolo con un mistero o un punto interrogativo, lasciando il lettore incuriosito su cosa accadrà dopo.\n\nIntensità emotiva\nOgni frase deve trasmettere emozioni crude: paura, dolore, shock, compassione.\nUsa verbi e aggettivi incisivi che evochino sensazioni fisiche e psicologiche.\nRivela l’impatto interiore dei personaggi: oppressione al petto, nodo alla gola, mani tremanti...\n\nUrgenza e ritmo\nAlterna frasi brevi di azione con descrizioni concise, mantenendo un ritmo rapido.\nUtilizza segni di punteggiatura che rafforzino la cadenza (puntini di sospensione, esclamazioni, interiezioni).\nEvita frasi troppo lunghe; ogni paragrafo deve far avanzare la scena senza pause letterarie.\n\nDescrizione concreta e concisa\nConcentrati sui dettagli visivi e sensoriali essenziali, senza appesantire.\nUsa metafore e paragoni precisi, sempre collegati al momento.\nOgni elemento (colore, suono, consistenza) deve emergere in modo immediatamente riconoscibile.\n\nSensazione cinematografica\nAlterna l’inquadratura tra primi piani (espressioni, reazioni) e piani generali (ambiente, folla).\nUsa avverbi di movimento per suggerire l’idea di una telecamera in movimento.\nDividi i paragrafi per simulare tagli di scena.\n\nNarratore, osservatore e prossimità\nLa storia deve essere raccontata dalla protagonista (Nonna) come se fosse un reportage, un racconto, ecc...\n\nConversazionale: linguaggio naturale, senza gergo letterario.\nEvita termini eccessivamente accademici; preferisci costruzioni che suonino come una narrazione diretta.\n\nContrasto di tono\nCrea pause drammatiche in cui il silenzio o l’inerzia parlino tanto quanto l’azione.\nAlterna suoni e rumori nella stessa sequenza (silenzio improvviso seguito da un urlo o da un rumore).\n\nReazioni e giudizio collettivo\nDescrivi le espressioni e i mormorii dei passanti, rafforzando la tensione sociale.\nIncludi frammenti di battute dei personaggi secondari che mostrino shock o disapprovazione.\n\nLinguaggio d’impatto\nUsa termini incisivi legati all’orrore, alla tragedia e allo scandalo, ma sempre accompagnali con immagini concrete.\nEvita sensazionalismo eccessivo; mantieni l’autenticità nel contesto della commozione.\n\nProssimità al dolore\nRitrai direttamente il dolore fisico ed emotivo dei personaggi.\nEvita eufemismi: descrivi la gravità delle scene senza edulcorare.\n\nBagliori di speranza\nInserisci brevi momenti di sollievo o conforto che emergano nel contesto della tensione.\nQuesti momenti devono accentuare ancora di più l’impatto drammatico quando la scena si fa urgente.\n\nCoerenza della voce\nMantieni lo stesso tono narrativo dall’inizio alla fine: informale, viscerale, cinematografico.\nNon alternare stili contraddittori; mantieni l’unità di tono lungo tutto il testo.\n\nScelta lessicale\nPreferisci verbi forti e aggettivi incisivi; sostituisci gli avverbi generici con equivalenti più specifici.\nGestisci il vocabolario per aumentare l’intensità senza appesantire la lettura.\n\nDivieti\nNon usare riflessioni filosofiche né digressioni lunghe.\nNon usare vocabolario letterario elaborato.\nNon aggiungere sezioni istruttive, elenchi puntati né sottotitoli.\nNon includere descrizioni che interrompano la fluidità del tono."},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2032,272],"id":"437ee8ae-ef3a-488b-8ab1-ef292c4dfccf","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={\n  \"content\": \"Scrivi una storia di circa 500 parole su {{ $('Tradução Título').item.json.message.content['Título'] }}. Utilizza il seguente contesto: {{ $json.message.content.Contexto }}. La storia deve iniziare con una dichiarazione scioccante che infrange le aspettative sociali. Includi un gancio narrativo, mantenendo il conflitto aperto senza risolverlo. La storia non deve concludersi, ma deve lasciare il lettore desideroso di scoprire di più.\"\n}\nExemplo de Saída Esperada:\njson\nCopiar\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Scrivi una storia di circa 500 parole su {{ $('Tradução Título').item.json.message.content['Título'] }}. Utilizza il seguente contesto: {{ $json.message.content.Contexto }}. La storia deve iniziare con una dichiarazione scioccante che infrange le aspettative sociali. Includi un gancio narrativo, mantenendo il conflitto aperto senza risolverlo. La storia non deve concludersi, ma deve lasciare il lettore desideroso di scoprire di più.\"\n    }\n  ]\n}"},{"content":"=Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1648,272],"id":"82f22cbc-dc12-45fc-9c87-357c5be458bc","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Italiano, utilizando nomes e expressões comuns entre os falantes de Italiano em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Italiano, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,400],"id":"6f26bac2-de02-4227-9563-90b8b9bc27be","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Italiano, utilizando nomes e expressões comuns entre os falantes de Italiano em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Italiano, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1264,272],"id":"bdc908f9-2f30-4230-9267-15e7b57da751","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"545cd8e9-e32a-4a6c-85dc-b60d4b952d23","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6832,272],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,272],"id":"f9680927-bebb-44fb-9086-1ca7cc1f14e6","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Dopo aver ricevuto la trascrizione, crea un riassunto del contenuto suddiviso nei principali temi, con una lunghezza totale tra 250 e 500 caratteri. Successivamente, fai un breve riassunto generale, evidenziando le parole chiave del video. Includi 10 hashtag correlati alle parole chiave. Per favore, segui questo modello:\n\n\"Questo video esplora [tema principale], offrendo un'analisi profonda e critica su [aspetti principali]. Basato su un contesto storico ricco e rilevante, il contenuto affronta gli aspetti controversi del tema, evidenziando le implicazioni per il pubblico e per la società. Il video esamina anche esempi e casi pratici, fornendo una comprensione più concreta e applicata dell'argomento. La conclusione offre una riflessione sui punti discussi, enfatizzando l'importanza e l'impatto del tema nell'attualità.\n\nParole chiave: [Parole chiave principali correlate al tema].\n\nHashtag: #TemaPrincipale #ContestoStorico #AspettiControversi #AnalisiCritica #EsempiPratici #CasiDiStudio #RiflessioneFinale #ImpattoSociale #Storia #Società\"\n\nEvita uno stile di scrittura eccessivamente uniforme, privo di sfumature personali, o un approccio sistematico e logico che possa sembrare tipico di un’IA. Fornisci il testo senza markdown, spiegazioni, commenti aggiuntivi, conteggio delle parole o caratteri speciali, poiché verrà utilizzato direttamente sotto il video su YouTube.\n\nScaletta: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Per favore, fornisci il testo in italiano utilizzando nomi ed espressioni comuni tra i parlanti di italiano in diversi paesi, adattandolo in modo da riflettere la cultura condivisa dai vari popoli che parlano la lingua. Adatta nomi, luoghi e riferimenti culturali affinché risultino naturali e riconoscibili in italiano, garantendo che mantengano rilevanza e risuonino con il pubblico.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6224,272],"id":"f4fa779c-8342-4b3a-a8ea-8f7f4377a41e","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7504,272],"id":"d6c5b177-fe07-4362-98d7-bb4bcd2f6d39","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7264,272],"id":"9038bca9-68d8-40b9-9975-cf08ad4ba1ce","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6608,272],"id":"71c0a2d9-13a2-408b-8049-6716ce6e2469","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7728,272],"id":"e94e7b3e-a9ef-4952-81dd-9be0511f38b1","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5792,272],"id":"ed8fff41-b610-4d81-9724-47c8d6e10177","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,464],"id":"a95b7ae3-0971-4c6c-ac55-6e176a6b658d","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7952,272],"id":"f3d0e05a-043d-4102-8f6d-8a496b1f5f44","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,272],"id":"00a8ce4f-52f6-4946-9002-57619de6b8eb","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"8115d917-157e-4fdc-ad4a-ca6f287091c8","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,528],"id":"70a3d620-220e-42ea-b774-ab703dc6be81","name":"Aguardar e Reiniciar Processo","webhookId":"a0f4c777-2046-4ba3-a837-2060aba7c236"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@memoriedinonna","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,464],"id":"1374fc07-7087-4cae-aa07-32d02db71287","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"369f8fa8-991f-486c-ab85-44cde10879eb","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - IT -(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"729ac9d3-e365-4c44-81d3-6f828b0ad7d6","name":"Notificação de Erro no Telegram","webhookId":"93d6e6cd-4bfd-4528-b1b1-e5f4d97c3982","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8160,272],"id":"10945303-cc7d-4202-b0ad-1cbdeddfcf71","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"NONNA","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"nonna","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,400],"id":"8ec7870e-6386-4823-accb-7641de7f205f","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"119d0c5e-8556-43e2-b90b-04054a9c8bcc","triggerCount":0,"tags":[]}