03-cria-roteiros---espanha-IYYE88WlE44gcKLy.json
{"createdAt":"2025-08-11T00:08:20.329Z","updatedAt":"2025-08-12T02:20:25.261Z","id":"IYYE88WlE44gcKLy","name":"03-CRIA ROTEIROS - ESPANHA","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n\"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}  Escribe un nuevo capítulo, de unas 500 palabras, que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún punto del camino, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio repentino para dejar al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas definitivamente los conflictos, sino que usa este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este evento. Transformador. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior. Sin explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,260],"id":"99dd24e5-67f8-4648-8164-1d899f5b0c54","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n\"content\": \"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }} {{ $('Gerar Capítulo 1').item.json.message.content }} Escribe un nuevo capítulo, de unas 500 palabras, que continúe los eventos descritos anteriormente, introduciendo un giro extremadamente impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún punto del camino, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original mientras construyes este cambio repentino para dejar al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas definitivamente los conflictos, sino que usa este giro. Un giro para crear un gancho aún más poderoso al final, dejando al lector desesperado. Para descubrir las consecuencias de este evento transformador. Proporcione únicamente el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2760,260],"id":"b73a55f7-8aad-44bc-bad5-d6de7414c519","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,260],"id":"a10613bb-1637-4db9-bcee-f37a7220e350","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,260],"id":"39812eec-d8da-4a08-b5de-2187d029df63","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3900,260],"id":"c160a136-c76e-4397-831a-02b2b5c82137","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4280,260],"id":"93f8679b-e845-4b15-b1d2-d499049f20f6","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,260],"id":"999f24c5-0589-4406-9c01-17bb1b6e1824","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscriba un nuevo capítulo, de aproximadamente 500 palabras, que continúe los acontecimientos descritos anteriormente, introduciendo un giro extremadamente impactante y chocante que transforme por completo la narración. Comience exactamente donde terminó el capítulo anterior, pero en algún momento inserte un acontecimiento dramático e inesperado que cambie radicalmente el curso de la historia, alterando las relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantenga el mismo estilo, lenguaje y ritmo que en la narración original, pero construya este cambio abrupto de forma que deje al lector en estado de shock. El giro debe ser tan impactante que haga que el lector se cuestione todo lo que creía saber sobre la historia hasta ese momento. No finalice la trama ni resuelva los conflictos de una vez por todas, sino que utilice este giro para crear un gancho aún más poderoso al final, dejando al lector desesperado por descubrir las consecuencias de este acontecimiento transformador. Facilite sólo el nuevo capítulo y no reescriba el anterior, sin explicaciones, comentarios adicionales, recuento de palabras ni personajes especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional  \n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.  \n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.  \n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Concéntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evite los términos excesivamente eruditos; favorezca las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad del shock.\n\n9. Proximidad al dolor\n   - Retrate directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,260],"id":"f045fbd0-1daa-4698-9d10-7369a3897fc3","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscriba un capítulo final de unas 500 palabras que concluya definitivamente la historia descrita. Resuelva los principales conflictos, ofrezca una despedida coherente a los personajes y lleve la trama a una conclusión satisfactoria. Mantenga el mismo estilo y ritmo narrativos, pero ofrezca al lector una clara sensación de cierre. Al final, añada un mensaje de CTA (llamada a la acción) urgente e impactante que INSTE a la audiencia:\n\n- SUSCRIBIRSE INMEDIATAMENTE al canal para no perderse las próximas historias exclusivas.\n- Aplasta el botón «me gusta» AHORA para alimentar el algoritmo\n- INUNDAR la sección de comentarios con tus reacciones y teorías sobre el final\n- COMPARTE INSTANTÁNEAMENTE este vídeo con al menos 5 amigos que necesiten conocer este final\n\nUtiliza frases enfáticas como «DEBES suscribirte ahora», «Este es el MOMENTO de mostrar tu apoyo» y «No esperes NI UN SEGUNDO MÁS para compartirlo». Haz hincapié en que sólo los verdaderos fans comprenden la importancia de apoyar al canal con estas acciones. Proporciona sólo el capítulo final y no reescribas el anterior, sin explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la redacción debe ser sencillo, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Utiliza palabras fáciles, frases cortas y un ritmo ligero, casi de discurso. Evite las palabras difíciles, las estructuras complicadas o el lenguaje literario. La narración debe mantener la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Nada de finales cerrados: termine el capítulo con un misterio o una duda, dejando al lector con curiosidad por saber qué viene después.\n\n1. intensidad emocional\n   - Cada frase debe transmitir una emoción cruda: miedo, dolor, conmoción, compasión.\n   - Utilice verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n   - Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n   - Intercalar frases cortas de acción con descripciones sintéticas, manteniendo el ritmo rápido.\n   - Utilice signos de puntuación que refuercen la cadencia (elipsis, exclamaciones, interjecciones).\n   - Evite los periodos demasiado largos; cada párrafo debe hacer avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y sintética\n   - Centrarse en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n   - Utilice metáforas y comparaciones puntuales, siempre relacionadas con el momento.\n   - Cada elemento (color, sonido, textura) debe parecer reconocible al instante.\n\n4. Sensación cinematográfica\n   - Cambia el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n   - Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n   - Divida los párrafos para simular cortes de escena.\n\n5. Observador y narrador en primer plano\n   - Adopte la tercera persona, pero mantenga el tono coloquial: lenguaje natural, sin jerga literaria.\n   - Evita los términos excesivamente eruditos; favorece las construcciones que suenen a informe directo.\n\n6. Tonos contrastados\n   - Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como la acción.\n   - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n   - Describir expresiones y murmullos de los observadores, reforzando la tensión social.\n   - Incluir líneas fragmentadas de personajes secundarios que muestren conmoción o desaprobación.\n\n8. Lenguaje del shock\n   - Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes concretas.\n   - Tenga cuidado de no exagerar el sensacionalismo; mantenga la autenticidad de la conmoción.\n\n9. Proximidad al dolor\n   - Retratar directamente el dolor físico y emocional de los personajes.\n   - Evita los eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Chispas de esperanza\n    - Inserte breves destellos de alivio o consuelo que destaquen sobre el telón de fondo de la tensión.\n    - Estos momentos deben acentuar aún más el impacto dramático cuando la escena retome su urgencia.\n\n11. Consistencia de la voz\n    - Mantenga el mismo «timbre» narrativo de principio a fin: informal, visceral, cinematográfico.\n    - No cambie a estilos contradictorios; conserve la unidad de tono a lo largo de todo el texto.\n\n12. Elección del léxico\n    - Favorezca los verbos fuertes y los adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\n    - Manejar el vocabulario para reforzar la intensidad sin cansar la lectura.\n\n13. Prohibiciones\n    - No utilice reflexiones filosóficas ni largas digresiones.\n    - No utilice vocabulario literario rebuscado.\n    - No añadas secciones de instrucciones, marcadores o subtítulos internos.\n    - No insertes descripciones que rompan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5400,260],"id":"9e0b371b-dd48-4713-ab3c-0304e3e6cb4a","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La historia debe comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". En este primer capítulo, exagere los elementos curiosos y misteriosos para estimular y captar la atención del lector desde el principio. Describa cada hecho inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación e intriga que mantenga al lector ansioso por descubrir qué sucederá después. A continuación, incluye una breve llamada a la acción que diga: \"Oye, antes de continuar con esta increíble historia, ¡tengo una advertencia importante! Muchos suscriptores han reportado que YouTube canceló sus suscripciones sin previo aviso. ¡Echa un vistazo al botón rojo de abajo para asegurarte de que sigues suscrito al canal! No quiero que te pierdas ningún contenido exclusivo que llegará pronto... Y ya que estás, ¡deja ese poderoso \"me gusta\"! ¡Me ayuda muchísimo con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad estás viendo? ¡Me encanta conocer a cada persona increíble de esta comunidad! Tu participación marca la diferencia, ¡interactuemos!\". Proporciona solo el texto final, sin explicaciones, comentarios adicionales, recuentos de palabras ni caracteres especiales.\n\nLa historia debe seguir esta estructura exacta:\n\nTÍTULO: Comienza con una versión sensacionalista del gancho:  \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n\nDESARROLLO DEL CAPÍTULO: En este primer capítulo, exagera los elementos curiosos y misteriosos para estimular y captar la atención del lector desde el principio. Describe cada hecho inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación y fascinación que mantenga al lector ansioso por descubrir qué sucede a continuación.\n\nCTA: Al final del desarrollo, incluye este texto: \"¡Oye, un recordatorio importante! Para asegurarte de que no te pierdas la siguiente parte de esta historia y nuestro contenido exclusivo, te pido un favor: asegúrate de seguir suscrito al canal, dale a \"me gusta\" y dime en los comentarios desde qué ciudad lo estás viendo. ¡Tu apoyo marca la diferencia, gracias!\"\n\nProporciona solo el texto final, siguiendo estrictamente este orden: título, resumen del capítulo y CTA. No incluya explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales. No escriba \"TÍTULO:\", \"RESUMEN DEL CAPÍTULO:\" ni \"CTA:\" en el texto final.\n\nEl tono de su escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, casi conversacional. Evite palabras difíciles, estructuras complicadas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. No use finales cerrados: termine el capítulo con un misterio o un signo de interrogación, dejando al lector intrigado por lo que sucederá después.\n\nIntensidad emocional\nCada oración debe transmitir emociones crudas: miedo, dolor, conmoción, compasión.\nUse verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\nRevele el impacto interno de los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\nUrgencia y ritmo\nAlterna frases cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\nUtiliza signos de puntuación que refuercen la cadencia (puntos suspensivos, exclamaciones, interjecciones).\nEvita frases demasiado largas; cada párrafo debe avanzar la escena sin pausas literarias.\n\nDescripción concreta y concisa\nCéntrate en los detalles visuales y sensoriales esenciales, sin sobrecargar.\nUtiliza metáforas y comparaciones precisas, siempre conectadas con el momento.\nCada elemento (color, sonido, textura) debe emerger de forma inmediatamente reconocible.\n\nSensación cinematográfica\nAlterna el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\nUtiliza adverbios de movimiento para sugerir la idea de una cámara en movimiento.\nDivide los párrafos para simular cortes de escena.\n\nNarrador, observador y proximidad\nAdopta la tercera persona, pero mantén un tono conversacional: lenguaje natural, sin jerga literaria.\nEvita términos excesivamente académicos; Prefiero construcciones que suenen como una narración directa.\n\nContraste de Tono\nCrea pausas dramáticas donde el silencio o la inercia hablen tanto como la acción.\nAlterna sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\nReacciones y Juicio Colectivo\nDescribe las expresiones y murmullos de los transeúntes, reforzando la tensión social.\nIncluye fragmentos de líneas de personajes secundarios que muestren conmoción o desaprobación.\nLenguaje Impactante\nUtiliza términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre acompáñalos con imágenes concretas.\nEvita el sensacionalismo excesivo; mantén la autenticidad en el contexto de la conmoción.\nProximidad al Dolor\nRetrata directamente el dolor físico y emocional de los personajes.\nEvita eufemismos: describe la gravedad de las escenas sin suavizar el lenguaje.\nDestellos de Esperanza\nIntroduce breves destellos de alivio o consuelo que surjan en el contexto de la tensión.\nEstos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\nCoherencia de voz\nMantenga el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\nNo alterne estilos contradictorios; mantenga la unidad de tono a lo largo del texto.\nElección léxica\nPrefiera verbos contundentes y adjetivos incisivos; sustituya los adverbios genéricos por equivalentes más específicos.\nAdministre el vocabulario para aumentar la intensidad sin engordar la lectura.\n\nProhibiciones\nNo utilice reflexiones filosóficas ni digresiones extensas.\nNo utilice vocabulario literario elaborado.\nNo añada secciones instructivas, viñetas ni subtítulos.\nNo incluya descripciones que interrumpan la fluidez del tono."},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,260],"id":"54d63fc5-38be-4cd6-aa1d-12900e60206a","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n\"content\": \"Escribe una historia de unas 500 palabras sobre {{ $('Tradução Título').item.json.message.content['Título'] }}. Usa el siguiente contexto: {{ $json.message.content.Contexto }}. La historia debe comenzar con una afirmación impactante que rompa con las expectativas sociales. Incluye un gancho narrativo, manteniendo el conflicto abierto sin resolverlo. La historia no debe concluir, sino dejar al lector con ganas de más.\" }\nEjemplo de refrán esperanzador:\njson\nCopiar\n{\n\"Prompts\": [\n{\n\"prompt\": \"Escribe una historia de unas 500 palabras en {{ $('Tradução Título').item.json.message.content['Título'] }}. Usa el siguiente contexto: {{ $json.message.content.Contexto }}. La historia debe comenzar con una afirmación impactante que rompa con las expectativas sociales. Incluye un gancho narrativo, manteniendo el conflicto abierto sin resolverlo. La historia no debe concluir, sino dejar al lector con ganas de más.\"\n}\n]\n}"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,260],"id":"67397287-7272-4c56-b302-2a83d99e4f94","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"96d8e927-f08c-47e9-a8fe-d2c8b3a8869d","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido.\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"c266e095-207e-4d61-b16c-bc064dda5716","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"dfd49e5e-c6d8-4f61-bca3-ae862f26b6c9","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6820,260],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,260],"id":"fd6df7fb-720d-4dfc-90db-a202a39fafaa","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Una vez recibida la transcripción, elabore un resumen del contenido dividido en los temas principales, con una extensión total de entre 250 y 500 caracteres. A continuación, haz un breve resumen general, destacando las palabras clave del vídeo. Incluye 10 hashtags relacionados con las palabras clave. Sigue esta plantilla:\n\n\"Este vídeo explora [tema principal], ofreciendo un análisis profundo y crítico de [aspectos principales]. Basándose en un contexto histórico rico y relevante, el contenido aborda los aspectos controvertidos del tema, destacando las implicaciones para el público y la sociedad. El vídeo también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del tema. La conclusión ofrece una reflexión sobre los puntos tratados, destacando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: [Principales palabras clave relacionadas con el tema].\n\nHashtags: #MainTheme #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\".\n\nEvita un estilo de redacción excesivamente uniforme, sin matices personales, ni un enfoque sistemático y lógico que pueda parecer propio de una IA. Proporcione el texto sin markdown, explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales, ya que se utilizará directamente debajo del vídeo en YouTube. \n\nGuión: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6220,260],"id":"8a80a638-e716-4d28-a06f-0f80b6b1f183","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7480,260],"id":"edd32292-c456-40a9-9dcf-b33044358a5f","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7240,260],"id":"170f3cf8-c0f7-430c-82c7-5f2743bb0699","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6600,260],"id":"2c85fcd3-cfcd-4d74-a861-a9f0bb27de68","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7700,260],"id":"ea974b25-3990-42e4-91f7-90f8da900ab6","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5780,260],"id":"1570c2c6-1e04-47f4-9502-206a5c2d04a5","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,380],"id":"744433f9-5039-402d-8194-09e4c6ae335b","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,260],"id":"20914027-1e2b-44a6-b5f3-156a98d17d9a","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,260],"id":"e312c5aa-6d3c-4d09-9e7b-17289441b0a6","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"576da14d-d02d-4e44-9ff7-a41b59e04b6c","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"c9cd65b6-324a-45b3-ba91-f860a7f68871","name":"Aguardar e Reiniciar Processo","webhookId":"751f9534-39b5-4ea6-830d-d25a75a9ae4a"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@MemoriasdeAbuela","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"86a457c1-741f-47b0-a192-5f8fbfa9a6a7","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"db47173d-7083-4750-9f21-016c753f3000","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - ES(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"46a56129-51e9-4280-89e1-4f2c96903373","name":"Notificação de Erro no Telegram","webhookId":"b439dd8a-77e6-4415-9e7a-1a7192d8b8a4","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8140,260],"id":"854334e4-6447-42d5-bfe9-3b3a4a03ae4a","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelo","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}},{"id":"7eb6a459-6212-4c10-ab76-b6ebe78cc5b7","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELO","operator":{"type":"string","operation":"contains"}},{"id":"663376d5-d123-4744-87aa-2fcfac20aad1","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,380],"id":"a500b22e-a306-4a50-807e-e455ee73e58b","name":"Verificar Palavra-chave no Título"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Iniciar Criação de Roteiro":[{"json":{"título":"A HISTÓRIA REAL DESSA VOVÓ que enfrentou traições e venceu uma vingança surpreendente e emocionante!","premissa":"Consuelo Maria Gutiérrez, uma mulher de 73 anos, carrega em sua história a dor e a força de uma vida marcada por traições e superações. Nascida em uma família humilde em Comitán, Chiapas, sua vida toma um rumo dramático ao se casar com Tomás, um homem que transforma o amor em um relacionamento abusivo. Durante o difícil parto de seu primeiro filho, Miguel, Consuelo enfrenta a apatia de Tomás, que a abandona em um momento de vulnerabilidade. Essa experiência traumática é o catalisador que a leva a perceber a armadilha de seu casamento opressivo. Determinada a sair dessa situação, ela encontra apoio em sua comunidade, fazendo uma fuga corajosa com seu filho. Após um doloroso processo de separação, Consuelo reconstrói sua vida em Cuernavaca, onde se reinventa profissionalmente, trabalhando em uma loja de costura e reencontrando a força que pensou ter perdido. Sua jornada não é só pessoal, mas se transforma em uma missão: ajudar outras mulheres a escaparem da violência, promovendo solidariedade e esperança em um mundo que muitas vezes as silencia. Quando o passado de Tomás ressurge de maneira inesperada, ameaçando sua nova vida e seus princípios, Consuelo deve confrontar não apenas o homem que um dia a feriu, mas também suas próprias inseguranças e a força que, ao final, a tornará imbatível."}}]},"versionId":"01deddd6-7953-461f-9769-b775185ee7ef","triggerCount":0,"tags":[]}