04---cria-áudios---it-7rZIvCtY7jgBGBhx.json
{"createdAt":"2025-06-15T12:24:09.308Z","updatedAt":"2025-07-05T02:47:39.973Z","id":"7rZIvCtY7jgBGBhx","name":"04 - CRIA ÁUDIOS - IT","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1300,180],"id":"784dfd2f-30cc-4bfa-ae10-2d1e3683bf4e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2880,-60],"id":"0545b5a2-5830-41b6-a8ec-1850e75203fe","name":"Verificação Periódica Minuto a Minuto"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ROTEIRO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2440,-60],"id":"c655073f-01af-4315-9bfd-ec131ca06d32","name":"Buscar Cartões Trello Pendentes","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1780,-60],"id":"18404ae5-8538-4a43-9fa2-da4316472897","name":"Processar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1340,-60],"id":"25b68e03-6460-4db1-8294-947076207666","name":"Analisar Conteúdo do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1180,180],"id":"e39ae82a-41a4-4fe6-b7a1-5fae678cf494","name":"Formatar Resposta da IA"},{"parameters":{"resource":"folder","name":"Áudios Curtos","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-960,-60],"id":"62a999ee-c0b3-4ac3-82ac-b43d2ccc547e","name":"Localizar Pasta de Áudio","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $('Analisar Conteúdo do Cartão').item.json.output.roteiro }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-740,-60],"id":"7140499d-0fec-490a-a56c-d5b0dec76749","name":"Baixar Arquivo de Roteiro"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-520,-60],"id":"6e584b4c-74c7-4407-b621-05010953bcd2","name":"Extrair Texto do Roteiro"},{"parameters":{"fieldToSplitOut":"TEXTOS","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,-60],"id":"a431f34e-de2d-43a2-b691-bbcaafe8b799","name":"Separar Partes do Texto"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,-60],"id":"4b510212-586a-4e99-bff0-5c5067df3081","name":"Processar Segmentos de Texto"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[360,-440],"id":"393b2fc8-ccf2-473b-8c2a-4ae92be12846","name":"Capturar ID do Arquivo Gerado"},{"parameters":{"assignments":{"assignments":[{"id":"224d430d-8334-4617-839e-9178ccb68c3e","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-440],"id":"278a5436-2018-487d-9b81-ec85220bcf7b","name":"Preparar ID para Armazenamento"},{"parameters":{"name":"Áudio","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[580,-140],"id":"4d250957-9a75-41a6-b88c-eb67a330445a","name":"Salvar Áudio na Raiz","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"// Código para nó “Code” no n8n\n// items é um array onde cada item.json.id contém um ID\nconst result = {};\n\n// Para cada item, cria uma propriedade audio{índice+1} = id\nitems.forEach((item, index) => {\n  result[`audio${index + 1}`] = item.json.id;\n});\n\n// Retorna um único item com todas as chaves\nreturn [\n  {\n    json: result\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-600],"id":"d2f210ec-3cf1-4d05-b559-924492f3d169","name":"Consolidar IDs dos Arquivos de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,-340],"id":"832816a6-7a6a-444a-9d34-e56083d005ca","name":"Iterar Arquivos de Áudio"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Localizar Pasta de Áudio').item.json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1020,-200],"id":"b9b44226-5d51-40b9-975a-03c4aa86bdc8","name":"Mover Áudio para Pasta Final","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1240,-600],"id":"f9b9dd79-7a9e-424f-b6dc-8350c1cd2c99","name":"Carregar Detalhes do Cartão","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"audio1\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio1 }}\",\n\"audio2\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio2 }}\",\n\"audio3\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio3 }}\",\n\"audio4\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio4 }}\",\n\"audio5\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio5 }}\",\n\"audio6\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio6 }}\",\n\"audio7\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio7 }}\",\n\"audio8\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio8 }}\",\n\"audio9\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio9 }}\",\n\"audio10\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio10 }}\",\n\"audio11\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio11 }}\",\n\"audio12\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio12 }}\",\n\"audio13\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio13 }}\",\n\"audio14\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio14 }}\",\n\"audio15\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio15 }}\",\n\"audio16\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio16 }}\",\n\"audio17\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio17 }}\",\n\"audio18\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio18 }}\",\n\"audio19\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio19 }}\",\n\"audio20\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio20 }}\",\n\"audio21\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio21 }}\",\n\"audio22\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio22 }}\",\n\"audio23\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio23 }}\",\n\"audio24\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio24 }}\",\n\"audio25\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio25 }}\",\n\"audio26\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio26 }}\",\n\"audio27\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio27 }}\",\n\"audio28\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio28 }}\",\n\"audio29\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio29 }}\",\n\"audio30\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio30 }}\",\n\"audio31\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio31 }}\",\n\"audio32\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio32 }}\",\n\"audio33\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio33 }}\",\n\"audio34\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio34 }}\",\n\"audio35\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio35 }}\",\n\"audio36\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio36 }}\",\n\"audio37\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio37 }}\",\n\"audio38\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio38 }}\",\n\"audio39\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio39 }}\",\n\"audio40\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio40 }}\",\n\"audio41\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio41 }}\",\n\"audio42\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio42 }}\",\n\"audio43\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio43 }}\",\n\"audio44\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio44 }}\",\n\"audio45\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio45 }}\",\n\"audio46\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio46 }}\",\n\"audio47\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio47 }}\",\n\"audio48\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio48 }}\",\n\"audio49\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio49 }}\",\n\"audio50\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio50 }}\",\n\"audio51\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio51 }}\",\n\"audio52\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio52 }}\",\n\"audio53\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio53 }}\",\n\"audio54\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio54 }}\",\n\"audio55\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio55 }}\",\n\"audio56\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio56 }}\",\n\"audio57\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio57 }}\",\n\"audio58\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio58 }}\",\n\"audio59\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio59 }}\",\n\"audio60\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio60 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1460,-600],"id":"d40253b0-441f-4159-8b01-193ce9ea4aa6","name":"Atualizar Cartão com Links de Áudio","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ÁUDIOS CURTOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1240,-400],"id":"ecb5bd82-b745-48a8-a42d-3a1b816b071a","name":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-2880,320],"id":"35975b3d-df5c-4cca-9263-8be0b52d83bf","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=04 - CRIA ÁUDIOS - IT- (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2660,320],"id":"3d37edd0-1276-44e9-ada4-7134cb4d3607","name":"Notificação de Erro no Telegram","webhookId":"1978ff54-87ad-4160-8e2e-5af9b9f65382","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2220,-60],"id":"d42bfa2d-3d75-4321-a762-f09d34e34886","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1560,-60],"id":"d6fbba0a-9f52-40fd-ab81-a97e699f4d03","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1460,-400],"id":"ee748702-6cf2-407b-ab80-cdf2eeefe05e","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"jsCode":"// 1) Pega o texto de entrada\nconst text = $input.first().json.data || '';\n\n// 2) Separa em sentenças\nconst sentences = text.match(/[^\\.!\\?]+[\\.!\\?]+[\"']?|[^\\.!\\?]+$/g) || [];\nconst totalSentences = sentences.length;\n\n// 3) Define número de pedaços e calcula tamanho base + resto\nconst numChunks = 60;\nconst baseSize = Math.floor(totalSentences / numChunks);\nconst remainder = totalSentences % numChunks;\n\n// 4) Monta os chunks com distribuição uniforme sem cortar frases\nconst parts = [];\nlet idx = 0;\nfor (let i = 0; i < numChunks; i++) {\n  const size = baseSize + (i < remainder ? 1 : 0);\n  const chunkSentences = sentences.slice(idx, idx + size);\n  const chunk = chunkSentences.join(' ').trim();\n  parts.push(chunk);\n  idx += size;\n}\n\n// 5) Garante 60 pedaços (por segurança)\nwhile (parts.length < numChunks) {\n  parts.push('');\n}\n\n// 6) Monta o objeto de saída\nconst output = {\n  TEXTOS: parts.map(segment => ({ texto: segment }))\n};\n\n// 7) Retorna o resultado\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,-60],"id":"6abc4bcb-a34f-470b-bef1-f8700405df9b","name":"Dividir Texto em 60 Segmentos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,20],"id":"c0abae77-03ba-4ede-a5de-143eae90f517","name":"Wait","webhookId":"073bd994-9cfe-4a2d-b208-54c46a47ae72"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1020,-400],"id":"21dbe91c-2e80-49ec-aa0d-16a375b4c860","name":"Limit 2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1020,-600],"id":"18aeb4ac-920e-4854-8333-a45e23831213","name":"Limit 1"},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"ÁUDIOS CURTOS","value":"682d2fb01bbf167e01b89da1","type":"string"},{"id":"08e16cdb-0f3c-4021-86f8-21a7fa2a32f1","name":"Voz","value":"ash","type":"string"},{"id":"e20a8320-99e9-429d-acd8-0127644250f9","name":"Prompt","value":"Expression: Exaggerated and theatrical, with dramatic pauses, sudden outbursts, and gleeful laughter. Voice: Energetic, eccentric, and slightly unhinged, with a manic enthusiasm that swings unpredictably. Tone: Excited, chaotic, and grandiose, as if reveling in the brilliance of a mad experiment. Pronunciation: Harsh and expressive, with elongated vowels, sudden inflections, and emphasis on big words to sound more diabolical, using an Italian accent.\n\n","type":"string"},{"id":"11721921-4b76-4955-b89d-0a1b8ed74050","name":"Canal","value":"@Storieeracconti","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2660,-60],"id":"fd499b77-1ecd-4a1a-86c0-da369fe3860c","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9890df8a-d5a1-4219-b54c-2ef393c55c7a","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2000,-60],"id":"c2dd058d-978b-450e-93de-7bd75473a526","name":"Filtra por Nome do Canal"},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Prompt\"] }}"},{"name":"voice","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Voz\"] }}"},{"name":"generation","value":"8ee5d3fc-5ec8-4fb1-a10c-fd905e44c256"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"},{"name":"cookie","value":"_ga=GA1.1.1402226226.1745983038;_ga_NME7NXL4L0=GS1.1.1745983037.1.0.1745983043.0.0.0;"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,160],"id":"5638b99e-0e24-4170-923b-32b824141aaf","name":"Gerar Áudio com OpenAI.fm","disabled":true},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"Delivery: Exaggerated and theatrical, with dramatic pauses, sudden outbursts and joyful laughter. Voice: Energetic, eccentric and slightly unbalanced, with a manic enthusiasm that rises and falls unpredictably. |Tone: Excited, chaotic and grandiose, as if he were reveling in the brilliance of a mad experiment. Pronunciation: Sharp and expressive, with elongated vowels, sudden inflections and emphasis on big words to sound more diabolical using a Brazilian Portuguese accent.\n\n\n"},{"name":"voice","value":"ash"},{"name":"generation","value":"67129bec-03df-46d1-8de7-c1f9b7297934"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Android\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Mobile Safari/537.36"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,300],"id":"98c4460a-6b66-4212-a1d7-734c0c29b885","name":"Gerar Audio Com OpenAi.fm","disabled":true},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Prompt\"] }}"},{"name":"voice","value":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Voz\"] }}"},{"name":"generation","value":"b0d1ed4c-e5e3-453d-a48a-91d27fee22c9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,-100],"id":"b9f90283-c1e4-49e0-ad70-476330deed13","name":"HTTP Request"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_languageModel","index":0}]]},"Verificação Periódica Minuto a Minuto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar Cartões Trello Pendentes":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Processar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Analisar Conteúdo do Cartão":{"main":[[{"node":"Localizar Pasta de Áudio","type":"main","index":0}]]},"Formatar Resposta da IA":{"ai_outputParser":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_outputParser","index":0}]]},"Localizar Pasta de Áudio":{"main":[[{"node":"Baixar Arquivo de Roteiro","type":"main","index":0}]]},"Baixar Arquivo de Roteiro":{"main":[[{"node":"Extrair Texto do Roteiro","type":"main","index":0}]]},"Extrair Texto do Roteiro":{"main":[[{"node":"Dividir Texto em 60 Segmentos","type":"main","index":0}]]},"Separar Partes do Texto":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Processar Segmentos de Texto":{"main":[[{"node":"Capturar ID do Arquivo Gerado","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Capturar ID do Arquivo Gerado":{"main":[[{"node":"Preparar ID para Armazenamento","type":"main","index":0}]]},"Preparar ID para Armazenamento":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0},{"node":"Consolidar IDs dos Arquivos de Áudio","type":"main","index":0}]]},"Salvar Áudio na Raiz":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Consolidar IDs dos Arquivos de Áudio":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Iterar Arquivos de Áudio":{"main":[[{"node":"Limit 2","type":"main","index":0}],[{"node":"Mover Áudio para Pasta Final","type":"main","index":0}]]},"Mover Áudio para Pasta Final":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0}]]},"Carregar Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links de Áudio","type":"main","index":0}]]},"Mover Cartão para \"ÁUDIOS CURTOS ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Analisar Conteúdo do Cartão","type":"main","index":0}]]},"Dividir Texto em 60 Segmentos":{"main":[[{"node":"Separar Partes do Texto","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Carregar Detalhes do Cartão","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Trello Pendentes","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Processar Próximo Cartão","type":"main","index":0}]]},"Gerar Audio Com OpenAi.fm":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Salvar Áudio na Raiz","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verificação Periódica Minuto a Minuto":{"recurrenceRules":[18]}},"meta":null,"pinData":{},"versionId":"05c299b1-01f3-4636-b5f5-ddc7cb959011","triggerCount":1,"tags":[]}