10---cria-thumb-5tCqyazeyaEED4Ez.json
{"createdAt":"2025-06-06T10:34:56.600Z","updatedAt":"2025-06-07T03:12:29.773Z","id":"5tCqyazeyaEED4Ez","name":"10 - CRIA THUMB","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-7340,240],"id":"3af7b27a-26be-4a02-b509-edfd6cd6d529","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-8700,20],"id":"57b496f4-b5cc-4351-a9f8-6db73a75b0ce","name":"Verificação Periódica"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"UPLOAD\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-8260,20],"id":"0d4afd6a-0043-4152-8211-5acbbe3f7e37","name":"Buscar Cartões Prontos para Thumbnail","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-7820,20],"id":"ca6d4db2-7e01-47fd-9f53-41e7f6866a58","name":"Selecionar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-7380,20],"id":"49e325b4-47a5-4b97-9122-6df1b574b89f","name":"Extrair Metadados do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-7220,240],"id":"88b0f00a-65a7-487a-ad8c-501de5bd682c","name":"Formatador de Dados JSON"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-7000,20],"id":"d2f98e6a-1f22-4c15-b503-d5c3ba0f06e8","name":"Consolidar Dados do Cartão"},{"parameters":{"fieldToSplitOut":"output[0]['título'], output[0].pasta","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-6780,20],"id":"3d8ae9c0-95e7-4977-b803-a262b6dfbdee","name":"Extrair Título e Pasta"},{"parameters":{"assignments":{"assignments":[{"id":"20da253b-0135-4a09-a0e2-46342c2076c5","name":"título","value":"={{ $json['output[0][\\'título\\']'] }}","type":"string"},{"id":"cb5ec656-9691-450f-99f8-bb9f23a99ff8","name":"id","value":"={{ $json['output[0].pasta'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6560,20],"id":"38cf3c02-f811-4a4a-8239-b502fcb1975a","name":"Formatar Dados para Processamento"},{"parameters":{"resource":"folder","name":"Thumb","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-6340,20],"id":"1c928138-7769-4b8a-bce7-9bd33a34fdc8","name":"Criar Pasta para Miniaturas","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Create a prompt for ChatGPT to create an image like a professional photograph based on the theme: {{ $item(\"0\").$node[\"Consolidar Dados do Cartão\"].json[\"output\"][\"0\"][\"título\"] }}. Show a clear and intense emotional expression [choose one: sadness/joy/anger/surprise/fear] appropriate to the title's context. Use lighting that highlights the main subject. Keep the realistic style with vivid colors. No text in the image. High resolution. Provide only the prompt. Return the text without double quotes, with a maximum of 300 characters, clearly and objectively."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6120,20],"id":"0a916b01-b925-4007-b659-78477d96bc54","name":"Gerar Descrição para Imagem","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $item(\"0\").$node[\"Edit Fields\"].json[\"Together API Key\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": {{ JSON.stringify($json.message.content) }},\n  \"width\": 1024,\n  \"height\": 1024,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}","options":{"batching":{"batch":{"batchSize":2,"batchInterval":10000}}}},"id":"0303bae1-2396-48ee-a2e7-a188de7552a8","name":"Solicitar Imagem à Together.xyz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5520,-120]},{"parameters":{"operation":"toBinary","sourceProperty":"output.choices[0].image_base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5300,-120],"id":"a4abd1ef-19ec-4b1e-9630-f4c7518ec5d3","name":"Converter Base64 para Arquivo"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Miniaturas').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-5080,-120],"id":"dbe48997-7272-41ee-ad5e-04e7e8114509","name":"Salvar Imagem no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"4714cd10-fc0d-4b41-b302-ef5f230c3d2c","name":"Tornar Imagem Pública","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4860,-120],"credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}}},{"parameters":{"url":"=https://api.placid.app/u/{{ $item(\"0\").$node[\"Edit Fields\"].json[\"Placid ID\"] }}?&img[image]={{ $('Salvar Imagem no Google Drive').item.json.webViewLink }}&text[text]={{ $('Formatar Dados para Processamento').item.json['título'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4640,-120],"id":"e31e7166-9ce3-4267-99be-2864116413bd","name":"Adicionar Texto à Imagem"},{"parameters":{"name":"Thumbnail ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Miniaturas').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4420,-120],"id":"71c65189-8f3d-45d8-ab5d-4ed88d6593bb","name":"Armazenar Thumbnail Final","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"k5NlvHJrEhiMulWw","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-8700,380],"id":"6516fb20-ad96-4497-8d52-3f03b5737bd2","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=10 - CRIA THUMB - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-8480,380],"id":"1d7b5ad4-7403-48cc-a103-83aff44187aa","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3980,-220],"id":"b1fb154b-0c6e-40d4-82d5-0eb7c161544b","name":"Mover Cartão para \"THUMB ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"desc":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"desc\"] }}\"thumb\": \"{{ $item(\"0\").$node[\"Armazenar Thumbnail Final\"].json[\"id\"] }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-4200,-220],"id":"76b26090-cf8d-4dcf-a92b-ea0424cb0235","name":"Atualizar Detalhes do Cartão","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5520,120],"id":"3edf512a-e316-444a-b423-0f3984e74ff0","name":"Aguardar e Retentar 1","webhookId":"bfdb6791-3ed1-41ac-b174-47202fa91144"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7077994-496c-427f-a27d-a8cd607f7be8","leftValue":"={{ $json.message.content.length }}","rightValue":300,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5740,-60],"id":"b7011810-c05d-41aa-a44e-cd8606c11a8f","name":"Verificar Caracteres do Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-8040,20],"id":"41f53ef8-8756-4020-a958-70d6585fccc6","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-7600,20],"id":"5183ef17-5ed1-415f-91c2-8c42ef231794","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3760,-220],"id":"e8da2260-c107-47b4-b734-242d20c53c3d","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-4200,-20],"id":"53b09819-bc49-48cb-85e0-05c7965c728f","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"chatId":"-1002592249391","text":"=10 - CRIA THUMB -(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3980,-20],"id":"72c2bf39-922a-48e1-ae85-011a595fe15d","name":"Notificação de Erro no Telegram 2","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"UPLOAD","value":"682d2fb01bbf167e01b89d9e","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"682d2fb01bbf167e01b89d9d","type":"string"},{"id":"c7b22a26-08c8-4644-98cd-01e48b951384","name":"Together API Key","value":"c40c927bd63afd6848932f40073ff0d92f318fc44a9e9b567c96badb7dd45287","type":"string"},{"id":"5c9f7412-0fde-4d7f-83e4-99491599c0e1","name":"Placid ID","value":"0j39mdqvzhjad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8480,20],"id":"442f74e3-4304-4bcc-8511-396c865725af","name":"Edit Fields"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Metadados do Cartão","type":"ai_languageModel","index":0}]]},"Verificação Periódica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar Cartões Prontos para Thumbnail":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Extrair Metadados do Cartão":{"main":[[{"node":"Consolidar Dados do Cartão","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Metadados do Cartão","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão":{"main":[[{"node":"Extrair Título e Pasta","type":"main","index":0}]]},"Extrair Título e Pasta":{"main":[[{"node":"Formatar Dados para Processamento","type":"main","index":0}]]},"Formatar Dados para Processamento":{"main":[[{"node":"Criar Pasta para Miniaturas","type":"main","index":0}]]},"Criar Pasta para Miniaturas":{"main":[[{"node":"Gerar Descrição para Imagem","type":"main","index":0}]]},"Gerar Descrição para Imagem":{"main":[[{"node":"Verificar Caracteres do Prompt","type":"main","index":0}]]},"Solicitar Imagem à Together.xyz":{"main":[[{"node":"Converter Base64 para Arquivo","type":"main","index":0}]]},"Converter Base64 para Arquivo":{"main":[[{"node":"Salvar Imagem no Google Drive","type":"main","index":0}]]},"Salvar Imagem no Google Drive":{"main":[[{"node":"Tornar Imagem Pública","type":"main","index":0}]]},"Tornar Imagem Pública":{"main":[[{"node":"Adicionar Texto à Imagem","type":"main","index":0}]]},"Adicionar Texto à Imagem":{"main":[[{"node":"Armazenar Thumbnail Final","type":"main","index":0}]]},"Armazenar Thumbnail Final":{"main":[[{"node":"Atualizar Detalhes do Cartão","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"THUMB ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Atualizar Detalhes do Cartão":{"main":[[{"node":"Mover Cartão para \"THUMB ✅\"","type":"main","index":0}]]},"Aguardar e Retentar 1":{"main":[[{"node":"Gerar Descrição para Imagem","type":"main","index":0}]]},"Verificar Caracteres do Prompt":{"main":[[{"node":"Solicitar Imagem à Together.xyz","type":"main","index":0}],[{"node":"Aguardar e Retentar 1","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Selecionar Próximo Cartão","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Extrair Metadados do Cartão","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notificação de Erro no Telegram 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Prontos para Thumbnail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verificação Periódica":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8b7f534d-980f-441f-b473-189d2b6f2385","triggerCount":1,"tags":[]}