10-criar-thumb-ksUd7zaiisHWGvV7.json
{"createdAt":"2025-08-10T20:28:22.261Z","updatedAt":"2025-08-10T21:24:37.426Z","id":"ksUd7zaiisHWGvV7","name":"10-CRIAR THUMB","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3140,460],"id":"26e72f6c-3bde-4628-8ffa-22fc01eb13b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4500,240],"id":"d930667c-5983-42a2-9473-850c3efc9ea9","name":"Verificação Periódica"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"UPLOAD\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-4060,240],"id":"68b11540-6c4f-4202-9100-5e58042c491c","name":"Buscar Cartões Prontos para Thumbnail","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3620,240],"id":"b66b271d-ad00-4439-9a19-624da6f8cf74","name":"Selecionar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-3180,240],"id":"4040b11c-8352-4fa9-bd0a-c7971a5b6fa9","name":"Extrair Metadados do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3020,460],"id":"70219326-9a37-49a0-96c4-786a47ecc564","name":"Formatador de Dados JSON"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2800,240],"id":"8c318ca3-7bf6-4fe1-b9c4-8bbce0e1a506","name":"Consolidar Dados do Cartão"},{"parameters":{"fieldToSplitOut":"output[0]['título'], output[0].pasta","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2580,240],"id":"181f8da4-c667-44e8-9ec6-a257a0a42a2a","name":"Extrair Título e Pasta"},{"parameters":{"assignments":{"assignments":[{"id":"20da253b-0135-4a09-a0e2-46342c2076c5","name":"título","value":"={{ $json['output[0][\\'título\\']'] }}","type":"string"},{"id":"cb5ec656-9691-450f-99f8-bb9f23a99ff8","name":"id","value":"={{ $json['output[0].pasta'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2360,240],"id":"de756149-aaff-4e79-b9d8-531ff4592e78","name":"Formatar Dados para Processamento"},{"parameters":{"resource":"folder","name":"Thumb","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2140,240],"id":"eed5656c-ae8d-4188-bd87-4db91514a121","name":"Criar Pasta para Miniaturas","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={\n\"model\": \"black-forest-labs/FLUX.1-schnell\",\n\"prompt\": \"Professional portrait photograph of an 80-year-old Italian grandmother, framed in the rightmost third of the image in a medium shot from the waist up, allowing 70% of the image to be in focus, for text description. The grandmother has a serious expression, a slight frown, and determined eyes, demonstrating inner strength. She looks directly at the camera. She has short, silvery-white hair in a traditional cut, deep brown eyes with natural age lines, and Mediterranean skin with deep wrinkles. She wears a simple light blue cotton blouse with a small floral pattern. Her posture is dignified, lips pressed together with determination. The background is softly blurred with a traditional Italian home interior, with wooden shelves and family photographs. Warm natural light from the window comes in from the left, creating a bokeh effect. The style is photorealistic, high-resolution, with an authentic and dignified expression. Focus on the eyes and face, using Warm earth tones and soft lighting convey wisdom, strength, and emotional depth. No text in the image. High resolution.\",\n\"width\": 1792,\n\"height\": 1152,\n\"steps\": 4,\n\"n\": 1,\n\"response_format\": \"b64_json\"\n}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1920,240],"id":"35ac5ee7-fc50-4487-bbe5-ddf3aee54ade","name":"Gerar Descrição para Imagem","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $item(\"0\").$node[\"Edit Fields\"].json[\"Together API Key\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": \"Create a professional landscape image based on the theme: {{ $json['title'] }}. Show a powerful emotional expression of [choose one: sadness/fear/betrayal/hope] reflecting family secrets or personal transformation. Use dramatic lighting to enhance the emotion. Keep a realistic style with vivid, impactful colors. Position the main subject on the right side, leaving 70% of the image on the left for text description. No text in the image. High resolution.\",\n  \"width\": 1792,\n  \"height\": 1152,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}\n","options":{"batching":{"batch":{"batchSize":2,"batchInterval":10000}}}},"id":"3cda3969-9810-477d-b847-b7278587da6b","name":"Solicitar Imagem à Together.xyz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,100]},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1100,100],"id":"e3486c17-8ef3-43df-a829-6dcc4980c259","name":"Converter Base64 para Arquivo"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Miniaturas').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-880,100],"id":"4312ccc2-55c2-4075-9e74-1f307dbbebcb","name":"Salvar Imagem no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"c5770710-8e0e-4c4e-bb25-5d3aca1ee585","name":"Tornar Imagem Pública","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,100],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"url":"=https://api.placid.app/u/{{ $item(\"0\").$node[\"Edit Fields\"].json[\"Placid ID\"] }}?&img[image]={{ $('Salvar Imagem no Google Drive').item.json.webViewLink }}&text[text]={{ $('Formatar Dados para Processamento').item.json['título'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-440,220],"id":"a44d2a26-481b-465d-8eab-cce93227856a","name":"Adicionar Texto à Imagem","disabled":true},{"parameters":{"name":"Thumbnail ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Miniaturas').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-220,100],"id":"dac70422-290d-45ab-ac60-cfac4dc9a506","name":"Armazenar Thumbnail Final","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4500,600],"id":"5fb7461f-4591-4b77-8401-3b1b3b1100dd","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=10 - CRIA THUMB - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4280,600],"id":"58729cad-f1f0-4cc1-a94a-f34ead82a9d4","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[220,0],"id":"a77cf596-37a6-4a1f-aed7-ebff7e983e82","name":"Mover Cartão para \"THUMB ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"desc":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"desc\"] }}\"thumb\": \"{{ $item(\"0\").$node[\"Armazenar Thumbnail Final\"].json[\"id\"] }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,0],"id":"dfaf4087-80c1-42cf-982b-1cf9023b156d","name":"Atualizar Detalhes do Cartão","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1320,340],"id":"37f603d7-8438-41b2-83f1-7c924bd1083a","name":"Aguardar e Retentar 1","webhookId":"bfdb6791-3ed1-41ac-b174-47202fa91144"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7077994-496c-427f-a27d-a8cd607f7be8","leftValue":"={{ $json.message.content.length }}","rightValue":300,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1540,160],"id":"f4c43ff1-3ba7-47fb-b260-f6cc63aa93d9","name":"Verificar Caracteres do Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3840,240],"id":"f0ce812a-0bdd-435a-a708-4395f8e25b86","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3400,240],"id":"66955b0e-6482-45f7-8146-23055837b1a4","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[440,0],"id":"3d25547c-41c5-4a59-89a8-cdf68aa8aeb1","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"0a9343b0-7a6e-443d-aca4-2e5ffb917a53","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"chatId":"-1002592249391","text":"=10 - CRIA THUMB -(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,200],"id":"e7381af0-71f9-4c99-9790-c4012e330dea","name":"Notificação de Erro no Telegram 2","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"UPLOAD","value":"682d2fb01bbf167e01b89d9e","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"682d2fb01bbf167e01b89d9d","type":"string"},{"id":"c7b22a26-08c8-4644-98cd-01e48b951384","name":"Together API Key","value":"tgp_v1_nUg6KOx3DDESIE64yoSgoIZx3Hn-L5TpL0wopHdOzE8","type":"string"},{"id":"5c9f7412-0fde-4d7f-83e4-99491599c0e1","name":"Placid ID","value":"0j39mdqvzhjad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4280,240],"id":"bac4fa71-5ab0-4908-8719-4a176353bf68","name":"Edit Fields"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Metadados do Cartão","type":"ai_languageModel","index":0}]]},"Verificação Periódica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar Cartões Prontos para Thumbnail":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Extrair Metadados do Cartão":{"main":[[{"node":"Consolidar Dados do Cartão","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Metadados do Cartão","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão":{"main":[[{"node":"Extrair Título e Pasta","type":"main","index":0}]]},"Extrair Título e Pasta":{"main":[[{"node":"Formatar Dados para Processamento","type":"main","index":0}]]},"Formatar Dados para Processamento":{"main":[[{"node":"Criar Pasta para Miniaturas","type":"main","index":0}]]},"Criar Pasta para Miniaturas":{"main":[[{"node":"Gerar Descrição para Imagem","type":"main","index":0}]]},"Gerar Descrição para Imagem":{"main":[[{"node":"Verificar Caracteres do Prompt","type":"main","index":0}]]},"Solicitar Imagem à Together.xyz":{"main":[[{"node":"Converter Base64 para Arquivo","type":"main","index":0}]]},"Converter Base64 para Arquivo":{"main":[[{"node":"Salvar Imagem no Google Drive","type":"main","index":0}]]},"Salvar Imagem no Google Drive":{"main":[[{"node":"Tornar Imagem Pública","type":"main","index":0}]]},"Tornar Imagem Pública":{"main":[[{"node":"Armazenar Thumbnail Final","type":"main","index":0}]]},"Adicionar Texto à Imagem":{"main":[[]]},"Armazenar Thumbnail Final":{"main":[[{"node":"Atualizar Detalhes do Cartão","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"THUMB ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Atualizar Detalhes do Cartão":{"main":[[{"node":"Mover Cartão para \"THUMB ✅\"","type":"main","index":0}]]},"Aguardar e Retentar 1":{"main":[[{"node":"Gerar Descrição para Imagem","type":"main","index":0}]]},"Verificar Caracteres do Prompt":{"main":[[{"node":"Solicitar Imagem à Together.xyz","type":"main","index":0}],[{"node":"Aguardar e Retentar 1","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Selecionar Próximo Cartão","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Extrair Metadados do Cartão","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notificação de Erro no Telegram 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Prontos para Thumbnail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb0142fd-90a6-4558-880f-68e234d4d596","triggerCount":0,"tags":[]}