11---atualiza-thumb---it-0dmtHU5PfqI9yo2J.json
{"createdAt":"2025-06-15T12:24:53.469Z","updatedAt":"2025-07-01T12:26:45.774Z","id":"0dmtHU5PfqI9yo2J","name":"11 - ATUALIZA THUMB - IT","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2840,380],"id":"704b328a-58b1-4d68-9407-99bf1618d93d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4420,160],"id":"fc550657-3a2d-4aee-9ea8-54dd5102a409","name":"Verifica칞칚o Peri칩dica"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3980,160],"id":"8679310f-985c-4660-99f5-b6bde16c7898","name":"Buscar V칤deos Prontos para Miniatura","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3320,160],"id":"3ebc5d67-dec3-4a1b-a376-cf0b50c37c51","name":"Selecionar Pr칩ximo V칤deo"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2880,160],"id":"0d5d2a16-0449-4af2-b3d7-2fe4832e7823","name":"Extrair Dados do V칤deo"},{"parameters":{"jsonSchemaExample":"{\n\"t칤tulo\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"thumb\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2720,380],"id":"1f2d5042-55f3-476d-a99e-b08e6e79a03d","name":"Formatador de Dados JSON"},{"parameters":{"command":"=npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/"},"id":"129169cc-1860-4c3d-8a72-d593699690e0","name":"Exportar Credenciais do YouTube","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-2060,160]},{"parameters":{"fileSelector":"=/home/node/n8n/backups/credentials/*.json"},"id":"f4cf36aa-dcc1-4372-85a5-d985eb1a8469","name":"Ler Arquivos de Credenciais","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-1840,160]},{"parameters":{"options":{}},"id":"1809ffa1-a28b-4cdb-a4c5-beb4ebd67d68","name":"Converter JSON para Bin치rio","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1620,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ba115bc-f294-421f-b1ca-1388605a23e7","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1400,160],"id":"5acc8aec-8de2-4058-8599-3b2b7921ccc3","name":"Filtrar Credencial do Canal"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"thumb\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1180,160],"id":"65bb2142-d63d-4a71-915b-f4de7967384e","name":"Baixar Imagem de Miniatura"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/thumbnails/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"id\"] }}"},{"name":"uploadType","value":"media"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data.oauthTokenData.access_token }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,160],"id":"47ad97fa-c29f-4171-bab8-c938a3b0a45f","name":"Enviar Miniatura para YouTube","onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('Selecionar Pr칩ximo V칤deo').item.json.id }}","mode":"id"},"updateFields":{"desc":"={{ $('Extrair Dados do V칤deo').item.json.output[\"t칤tulo\"] }}\n---\n\n游늰 V칤deo programado para **{{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"data\"] }}** 맙 **20h**\n\n游늬 [Pasta no Google Drive](https://drive.google.com/drive/folders/{{ $('Extrair Dados do V칤deo').item.json.output.pasta }}?hl=pt-br)\n\n郊윒잺 [Assista ao v칤deo]( {{ $('Extrair Dados do V칤deo').item.json.output.url }} )\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-740,60],"id":"e03c5929-ad75-4abb-a618-40ccf8f83ef9","name":"Atualizar Detalhes do Cart칚o","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"FINALIZADOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-520,60],"id":"65f54cd5-d02b-4222-b224-4204248e349f","name":"Mover Cart칚o para \"FINALIZADOS 九\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4420,520],"id":"eb6fcc90-0164-444e-9111-4869276acd1c","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=11 - ATUALIZA THUMB - IT- (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4200,520],"id":"48e5e10a-5d2c-4f05-a0c2-00ddb8c52a45","name":"Notifica칞칚o de Erro no Telegram","webhookId":"3481e34e-9e7d-4c74-9048-2a21401af443","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3760,160],"id":"336d2a99-8de2-44e9-81eb-b69a48907e5c","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3100,160],"id":"a19b8ba4-bb62-473a-adeb-4a0c59c00d0f","name":"Atualizar Cart칚o com \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-300,60],"id":"00f85bf4-02aa-4cda-9c45-52371b4e5c55","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-740,260],"id":"449eb5a9-1653-450b-a4d6-1e738627b37b","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"chatId":"-1002592249391","text":"=11 - ATUALIZA THUMB - IT - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-520,260],"id":"83a48d22-ec82-48d0-8b95-a55939eff6c0","name":"Notifica칞칚o de Erro no Telegram 2","webhookId":"0a941dcd-fa51-4cea-8f01-a12cb097e0f9","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"V2KuZGLHwhhaoAUH","mode":"list","cachedResultName":"13 - ATUALIZA CREDENCIAL DO YOUTUBE - IT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2500,160],"id":"128111b8-c5b4-48ff-a0d5-96d6be8b5863","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"682d2fb01bbf167e01b89d9d","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"FINALIZADOS","value":"682d2fb01bbf167e01b89da4","type":"string"},{"id":"8ae9c544-1471-41fb-aaa2-22ca9c379bb0","name":"Canal","value":"@Storieeracconti","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4200,160],"id":"2375619c-128a-4d8d-b2b3-042b48cde9cc","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3540,160],"id":"56dbcbd5-bb4f-46a6-b39b-9aaf63167530","name":"Filtra por Nome do Canal"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2280,160],"id":"79e2e6e9-1df4-4eb6-9128-ffb9c5782a5f","name":"Wait","webhookId":"e12e2335-9cdc-47c1-8db8-776c881ccc7d"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do V칤deo","type":"ai_languageModel","index":0}]]},"Verifica칞칚o Peri칩dica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar V칤deos Prontos para Miniatura":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Pr칩ximo V칤deo":{"main":[[{"node":"Atualizar Cart칚o com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do V칤deo":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Dados do V칤deo","type":"ai_outputParser","index":0}]]},"Exportar Credenciais do YouTube":{"main":[[{"node":"Ler Arquivos de Credenciais","type":"main","index":0}]]},"Ler Arquivos de Credenciais":{"main":[[{"node":"Converter JSON para Bin치rio","type":"main","index":0}]]},"Converter JSON para Bin치rio":{"main":[[{"node":"Filtrar Credencial do Canal","type":"main","index":0}]]},"Filtrar Credencial do Canal":{"main":[[{"node":"Baixar Imagem de Miniatura","type":"main","index":0}]]},"Baixar Imagem de Miniatura":{"main":[[{"node":"Enviar Miniatura para YouTube","type":"main","index":0}]]},"Enviar Miniatura para YouTube":{"main":[[{"node":"Atualizar Detalhes do Cart칚o","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Atualizar Detalhes do Cart칚o":{"main":[[{"node":"Mover Cart칚o para \"FINALIZADOS 九\"","type":"main","index":0}]]},"Mover Cart칚o para \"FINALIZADOS 九\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cart칚o com \"STOP\"":{"main":[[{"node":"Extrair Dados do V칤deo","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram 2","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar V칤deos Prontos para Miniatura","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Pr칩ximo V칤deo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Exportar Credenciais do YouTube","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verifica칞칚o Peri칩dica":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"5a9ca29b-53c6-4cc2-845b-434b78ab9e77","triggerCount":1,"tags":[]}