11---atualiza-thumb---pt-8vAXlUZRbMrkSIEi.json
{"createdAt":"2025-06-06T10:48:21.110Z","updatedAt":"2025-07-22T11:22:50.467Z","id":"8vAXlUZRbMrkSIEi","name":"11 - ATUALIZA THUMB - PT","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2840,380],"id":"9aff12c1-a17b-453d-b4cc-41879baf3fa6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4420,160],"id":"eb57dc0e-f5e2-4152-acd6-836e05b4677c","name":"Verifica칞칚o Peri칩dica"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3980,160],"id":"64769f1a-f449-47dd-a371-f81ad88d8186","name":"Buscar V칤deos Prontos para Miniatura","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3320,160],"id":"652caa84-c341-4728-b9ba-81a7e835751f","name":"Selecionar Pr칩ximo V칤deo"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2880,160],"id":"844ea722-28a7-4533-9556-8af9dc6ab04d","name":"Extrair Dados do V칤deo"},{"parameters":{"jsonSchemaExample":"{\n\"t칤tulo\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"thumb\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2720,380],"id":"548ed867-4b0e-443c-87a1-8bf6224f0b16","name":"Formatador de Dados JSON"},{"parameters":{"command":"=npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/"},"id":"a952cb40-63d4-469e-b80a-ec086c9f6c57","name":"Exportar Credenciais do YouTube","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-2060,160]},{"parameters":{"fileSelector":"=/home/node/n8n/backups/credentials/*.json"},"id":"0df781d5-8bb2-440c-a93e-e7190dfda886","name":"Ler Arquivos de Credenciais","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-1840,160]},{"parameters":{"options":{}},"id":"a5ef7ab4-187f-4c3d-aafc-3ce842a65fc1","name":"Converter JSON para Bin치rio","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1620,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ba115bc-f294-421f-b1ca-1388605a23e7","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1400,160],"id":"fb02a33d-00a7-4f2f-b22f-c3abba74df58","name":"Filtrar Credencial do Canal"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"thumb\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1180,160],"id":"c2238d5d-6826-48a9-8281-8a7419f6f072","name":"Baixar Imagem de Miniatura"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/thumbnails/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"id\"] }}"},{"name":"uploadType","value":"media"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data.oauthTokenData.access_token }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,160],"id":"ab132e28-0c6f-4cbd-9edd-7f447961f1f1","name":"Enviar Miniatura para YouTube","onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('Selecionar Pr칩ximo V칤deo').item.json.id }}","mode":"id"},"updateFields":{"desc":"={{ $('Extrair Dados do V칤deo').item.json.output[\"t칤tulo\"] }}\n---\n\n游늰 V칤deo programado para **{{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"data\"] }}** 맙 **20h**\n\n游늬 [Pasta no Google Drive](https://drive.google.com/drive/folders/{{ $('Extrair Dados do V칤deo').item.json.output.pasta }}?hl=pt-br)\n\n郊윒잺 [Assista ao v칤deo]( {{ $('Extrair Dados do V칤deo').item.json.output.url }} )\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-740,60],"id":"d11fba14-f196-47d3-8f69-31cb0c269397","name":"Atualizar Detalhes do Cart칚o","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"FINALIZADOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-520,60],"id":"8b3ecd09-bb8c-4cb9-a0ba-535b94d7d735","name":"Mover Cart칚o para \"FINALIZADOS 九\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4420,520],"id":"93081422-32d4-4aeb-bf42-dc0b9fe340d4","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=11 - ATUALIZA THUMB - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4200,520],"id":"846f973d-20a9-4e95-a138-9ddc1e675a26","name":"Notifica칞칚o de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3760,160],"id":"2a8bb2ef-ac19-45d2-8bfb-b3ba5dc56928","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3100,160],"id":"ff07419b-4fd3-400c-abac-eb2cb710133b","name":"Atualizar Cart칚o com \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-300,60],"id":"4ba1affc-18d0-40fe-90a0-28ea3c5d95de","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-740,260],"id":"f0a5e427-c30b-4502-9fd1-edc60085f819","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"chatId":"-1002592249391","text":"=11 - ATUALIZA THUMB - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-520,260],"id":"46bb0167-524b-44b1-8a72-1f95f9b1ce21","name":"Notifica칞칚o de Erro no Telegram 2","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"YDlns5cnfI7L0u2j","mode":"list","cachedResultName":"13 - ATUALIZA CREDENCIAL DO YOUTUBE"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2500,160],"id":"1c5fd6bf-82e2-48be-b101-bc684cda2da1","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"682d2fb01bbf167e01b89d9d","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"FINALIZADOS","value":"682d2fb01bbf167e01b89da4","type":"string"},{"id":"8ae9c544-1471-41fb-aaa2-22ca9c379bb0","name":"Canal","value":"@historiasecontos01","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4200,160],"id":"89b146cd-7292-45fc-94af-2ca51ff0324e","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3540,160],"id":"d7c93fa3-7468-4e18-a73d-9833b1a051cc","name":"Filtra por Nome do Canal"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2280,160],"id":"f3301dd4-7181-4d7f-ada0-5c54911ac49c","name":"Wait","webhookId":"4ba7b318-5fd9-41f8-af79-9b4626b2fe4c"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do V칤deo","type":"ai_languageModel","index":0}]]},"Verifica칞칚o Peri칩dica":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Buscar V칤deos Prontos para Miniatura":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Pr칩ximo V칤deo":{"main":[[{"node":"Atualizar Cart칚o com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do V칤deo":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Dados do V칤deo","type":"ai_outputParser","index":0}]]},"Exportar Credenciais do YouTube":{"main":[[{"node":"Ler Arquivos de Credenciais","type":"main","index":0}]]},"Ler Arquivos de Credenciais":{"main":[[{"node":"Converter JSON para Bin치rio","type":"main","index":0}]]},"Converter JSON para Bin치rio":{"main":[[{"node":"Filtrar Credencial do Canal","type":"main","index":0}]]},"Filtrar Credencial do Canal":{"main":[[{"node":"Baixar Imagem de Miniatura","type":"main","index":0}]]},"Baixar Imagem de Miniatura":{"main":[[{"node":"Enviar Miniatura para YouTube","type":"main","index":0}]]},"Enviar Miniatura para YouTube":{"main":[[{"node":"Atualizar Detalhes do Cart칚o","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Atualizar Detalhes do Cart칚o":{"main":[[{"node":"Mover Cart칚o para \"FINALIZADOS 九\"","type":"main","index":0}]]},"Mover Cart칚o para \"FINALIZADOS 九\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cart칚o com \"STOP\"":{"main":[[{"node":"Extrair Dados do V칤deo","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram 2","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar V칤deos Prontos para Miniatura","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Pr칩ximo V칤deo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Exportar Credenciais do YouTube","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Verifica칞칚o Peri칩dica":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8b7f534d-980f-441f-b473-189d2b6f2385","triggerCount":1,"tags":[]}