backup-n8nfila2-SbHQWk6mqv1S4Icq.json
{"createdAt":"2025-06-05T23:52:43.463Z","updatedAt":"2025-06-06T10:02:01.010Z","id":"SbHQWk6mqv1S4Icq","name":"BACKUP N8NFILA2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1980,280],"id":"3b640ab2-4f7e-4148-a333-a6ad9340d3be","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"93add3ef-73f3-4a4d-a261-9323839ddd52","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1760,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6fcb1fcb-8400-41f8-ad07-0200e585c3a4","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1540,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"602a99af-82ea-43d1-81e0-54c39fcb4468","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1100,280],"alwaysOutputData":true,"webhookId":"5d7587dd-3c64-477b-9750-74ab33236ee1","credentials":{"githubOAuth2Api":{"id":"g7RgFTjl3HIYSKkF","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d05238fc-288a-46b2-ad7c-bfaa34b7d959","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-880,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"90a0ebe0-fe5e-420a-8292-547c0842aed9","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-660,280],"credentials":{"n8nApi":{"id":"cHSpxHUE2RN6pBei","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"87554925-b390-4ad4-941c-58e7db2263c8","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-440,280]},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"Rogeriodias1142","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n-fila2","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,280],"id":"8a7df904-a056-478f-aa3c-da188fd2a449","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,280],"id":"71fa8e91-6db0-4ba6-9183-693f4d7d6aef","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"2dd958eb-8de7-4fdf-af9a-a9221275eb64","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ef9dfcd2-3859-481a-8f5a-4067c46c78fc","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"1251a16a-b92c-4228-a78a-d6be9c76befb","name":"Atualizador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,280],"webhookId":"8034a566-73cf-4916-8707-7b586012db94","credentials":{"githubOAuth2Api":{"id":"g7RgFTjl3HIYSKkF","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"a1f352ab-fef3-4d5d-84ef-b3412d1c5c1f","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,480],"webhookId":"66361169-6b22-4ee3-a358-c8cf500ff2d4","credentials":{"githubOAuth2Api":{"id":"g7RgFTjl3HIYSKkF","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Atualizador de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gatilho Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"306e9571-c071-49a1-a314-eb8a7fc26118","triggerCount":1,"tags":[]}