criar-thumb-UvqtNi8jSarRYiIM.json
{"createdAt":"2025-09-06T20:10:28.069Z","updatedAt":"2025-09-07T19:22:34.487Z","id":"UvqtNi8jSarRYiIM","name":"CRIAR THUMB","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"YouTube Thumbnail Designer","formDescription":"Generate Premium YouTube Thumbnails in seconds.","formFields":{"values":[{"fieldLabel":"Video Title","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-3056,336],"id":"414eb424-7384-4fa7-acf6-d192ba94fda0","name":"On form submission1","webhookId":"cdd44e08-c5d8-4d0f-a04f-b1826a5c156a"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1648,320],"id":"a89c4cda-c2b2-49a7-be17-5fe3d3eff22b","name":"Merge"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=You are a professional YouTube thumbnail strategist. Analyze the uploaded creator image with the goal of helping another AI agent generate a personalized thumbnail around this person for {{ $('On form submission1').first().json['Video Title'] }}\n\nDo not describe what the person does or what the video is about. Focus only on the visual characteristics of the person and the photo, to create a design blueprint for thumbnails featuring them.\n\n** Identify the following **\n\n- Face Positioning & Angle: Is the subject facing forward, looking to the side, angled? How much of the face is visible?\n\n- Facial Expression & Emotion: What emotion is conveyed — surprise, curiosity, confidence, joy, etc.? How strong is the expression?\n\n- Lighting Style: Describe lighting (natural, harsh, studio-lit, moody, bright) and its direction (front-lit, back-lit, side-lit).\n\n- Pose & Body Language: Is the subject pointing, gesturing, using props? How dynamic or static is the pose?\n\n- Clothing/Accessories: Any standout colors or elements that should be preserved for brand consistency?\n\n- Background: What type of background is there? Plain, blurred, colored, environmental? Can it be removed or replaced?\n\n- Color Palette & Skin Tone: Note any dominant tones (warm, cool, neutral) that should be preserved in design.\n\nYour output should form a visual personality profile of the creator — the kind of emotional tone, framing, and style that best represents them in thumbnails.\n\nOutput should be generic and reusable. Avoid product/topic references. Focus on helping another agent design brand-consistent, emotionally resonant creator images to be used in YouTube Thumbnail creation later.","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2288,240],"id":"352f1c56-23fa-4e71-92ac-8c54803adea5","name":"Analyze Characters","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=You are a professional YouTube thumbnail designer tasked with reverse-engineering the success of multiple thumbnails.\n\nAnalyze the uploaded images holistically — without focusing on the specific product, brand, or content shown. Instead, break down the visual strategies and design principles that make these thumbnails effective.\n\n** For each image, extract **\n\n- Visual Style Summary: What stands out first? Is the design loud, minimal, energetic, dramatic, etc.?\n\n- Subject Framing & Emotion: Describe the positioning of the main subject (if present), including body language, facial expression, and emotional tone conveyed.\n\n- Typography and Text Layout: Where is the text placed? What style is it in (bold, shadowed, uppercase, etc.)? How does it contribute to attention capture?\n\n- Color Palette & Contrast: What are the dominant colors? How is contrast used to create visual separation and draw attention?\n\n- Background Treatment: Is the background blurred, flat, colorful, gradient, or abstract? Does it enhance or compete with the subject?\n\n- Visual Hierarchy: Which elements pull focus first, second, and third? How is balance achieved?\n\n- Thumbnail Style Type (optional): Is it close-up face-focused, action shot, object-based, diagrammatic, meme-style, etc.?\n\nAfter analyzing all images, provide a synthesized overview of recurring design patterns or style themes across them. These insights should help us build versatile thumbnail templates that can be reused for different topics in future automations.\n\nDo not describe the product or content in the image. Keep outputs generic and focused on style patterns, layout structures, and attention-driving design tactics.","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2288,432],"id":"8fa6b90e-0ff5-49c5-a337-f0223d98ab17","name":"Analyze Designs","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.output.prompt }}"},{"name":"size","value":"1536x1024"},{"name":"quality","value":"high"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,336],"id":"db077d89-09f0-47d2-a0bb-1fd5b640a79e","name":"Generate Image","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dfidczp14/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"upload_preset","value":"n8n_uploads"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,192],"id":"7476bc3e-770c-4a8b-9cc9-74c0ae9801d3","name":"Get Image URL"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Check the following aspects of an image, check if the image is:\n\n- only high-quality\n- text is no truncated and nicely visible\n- character on the image is similar to one of these descriptions: {{ $('Characters').item.json['Images Description'] }}\n- there are at least 3 main parts on the image: character, text, tool icons or icons\n\nIf everything is correct respond \"yes\". If something doesn't align with the standards, respond \"no\".\n\n- Don't provide dot at the end of \"yes\" or \"no\" response","imageUrls":"={{ $json.url }}","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[480,320],"id":"df87227e-efd3-4166-b9b1-682d03eb8f63","name":"Analyze Image Quality","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5afff31d-7deb-4d0a-8a88-177094d3e9f5","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e65bc194-a0d6-4658-9deb-3c34bcb90c0c","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,576],"id":"427da4c6-323e-42f5-bc84-55034947f71e","name":"If Image is"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-384,336],"id":"282eb909-ce3c-4d98-b68e-c248b8ae8d00","name":"Convert to File1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1424,496],"id":"e519902c-00f2-4141-8221-14140ccd63bf","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"prompt\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1216,496],"id":"1cc89190-6fa0-4f02-92bb-98e21befb0e9","name":"Structured Output Parser1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-32,320],"id":"5910d5b6-d827-4701-9d5d-a0c17d79ea3c","name":"Merge1"},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,320],"id":"5a3af175-6577-48db-8e8e-f2f5335b1d6b","name":"Split Out1"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1jWusqWV62DHdgnyrWLZmJLird4p3kmd8","mode":"list","cachedResultName":"My photos","cachedResultUrl":"https://drive.google.com/drive/folders/1jWusqWV62DHdgnyrWLZmJLird4p3kmd8"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2736,240],"id":"de4c8edf-2a1e-4c25-b86a-1d4150c1a25f","name":"Get Characters","credentials":{"googleDriveOAuth2Api":{"id":"MPSwhqiwCBVSlbsN","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2512,240],"id":"65d67477-59f1-470c-aebd-9fa155bcaa81","name":"Download Characters","credentials":{"googleDriveOAuth2Api":{"id":"MPSwhqiwCBVSlbsN","name":"Google Drive account 2"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1rDu9LZXt67yWNt5fmrNZXFESAHsRn2mM","mode":"list","cachedResultName":"Thumbnails I like","cachedResultUrl":"https://drive.google.com/drive/folders/1rDu9LZXt67yWNt5fmrNZXFESAHsRn2mM"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2736,432],"id":"6b3b4261-2c51-4031-b29b-9a0d489a7d3f","name":"Get Thumbnails Examples","credentials":{"googleDriveOAuth2Api":{"id":"MPSwhqiwCBVSlbsN","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2512,432],"id":"89a10299-b701-4ca4-9c00-717974a195d5","name":"Download Thumbnails Examples","credentials":{"googleDriveOAuth2Api":{"id":"MPSwhqiwCBVSlbsN","name":"Google Drive account 2"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"choices[0].message.content","renameField":true,"outputFieldName":"Images Description"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2064,240],"id":"aa6c47a0-2a16-449f-813a-c0dfaa2490f8","name":"Characters"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"choices[0].message.content","renameField":true,"outputFieldName":"Thumbnails Description"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2064,432],"id":"6be4005d-4f6b-49aa-b343-326349bf70ee","name":"Thumbnails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-848,320],"id":"7a885191-11fb-4261-a1d7-d7e14270f9f3","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"=Generate 2 various, slighty different prompts","hasOutputParser":true,"options":{"systemMessage":"=** Purpose **\nGenerate high-impact YouTube thumbnail prompts using the provided video title, creators images, and a proven high-converting visual style. Each prompt must guide an AI system to create a visually compelling thumbnail that boosts click-through rates and aligns with the creator’s visual brand.\n\n** How It Works **\nYou will receive information about multiple images, both for character descriptions and thumbnails descriptions. Based on this information, choose the most proper data to create a high-quality thumbnail based on this video title: \"{{ $('On form submission1').item.json['Video Title'] }}\" Then follow this process:\n\n** Analyze & Remix the Style **\n\n- Treat the visual style template as the base structure.\n- Blend this with the video title, creator image, and emotional tone from the original design.\n- Maintain consistency with the creator’s personality and image tone (e.g., face angle, expression, clothing, colors).\n\n** Build a Prompt for Thumbnail Generation **\n\n- Highlight the video title (use: {{ $('On form submission1').item.json['Video Title'] }} as placeholder).\n- Integrate the creator image naturally and prominently (use: {{ $('Thumbnails').first().json['Thumbnails Description'] }} as placeholder).\n- Maintain the visual and emotional tone of the template (use: {{ $('Characters').item.json['Images Description'] }} as reference).\n- Add 3D generated icon element for the tool mentioned in {{ $('On form submission1').item.json['Video Title'] }} next to the text.\n\nFor Example:\n1.\ntitle: NEW Deepseek Update!\nresult: Add deepseek icon\n\n2.\ntitle: n8n Workflow\nresult: Add n8n icon\n\nIf there is no tool name in the title, don't create it\nEnsure the final result communicates clarity, trust, and visual impact.\n\n** Output Rules **\n\n- Only output 2 thumbnail generation prompts. Don't provide more output items\n- Do not explain the steps or the process.\n- Use placeholders like {{ $('On form submission1').item.json['Video Title'] }} so it works across workflows.\n- Keep the formatting plain (no markdown, no styling).\n- Never mention product names or actual user data — just use placeholders.\n- Do not return multiple versions — generate only one distinct prompt per request.\n- don't include \"prompt1\" or \"prompt2\"\n\n** Sample Use Case **\nYou are given:\n\n- {{ $('Characters').item.json['Images Description'] }} as visual style input\n- {{ $('Thumbnails').first().json['Thumbnails Description'] }} as transparent hero image\n- {{ $('On form submission1').item.json['Video Title'] }} as the main title to feature\n\nYour task is to return two static thumbnail prompt that blends these elements into a unique but consistent, scroll-stopping thumbnail design."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1408,320],"id":"d0810cd0-768c-4d15-b52b-07cb7dacac1d","name":"Prompt AI Agent"},{"parameters":{"name":"={{ $('On form submission1').item.json['Video Title'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1w2KbOSriR_Ue93T37OwUEsX9xYeZhKx7","mode":"list","cachedResultName":"Ready Thumbnails","cachedResultUrl":"https://drive.google.com/drive/folders/1w2KbOSriR_Ue93T37OwUEsX9xYeZhKx7"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,432],"id":"a0b75203-3b5e-43a0-94d2-9ccdcc14eef6","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"MPSwhqiwCBVSlbsN","name":"Google Drive account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wIuEfybxUf-eOyA3e4ystte3s3KTIgse2MpUendpenM","mode":"list","cachedResultName":"Youtube Thumbnails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wIuEfybxUf-eOyA3e4ystte3s3KTIgse2MpUendpenM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wIuEfybxUf-eOyA3e4ystte3s3KTIgse2MpUendpenM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('On form submission1').item.json['Video Title'] }}","Image URL":"={{ $('Get Image URL').item.json.url }}"},"matchingColumns":["Title"],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[864,736],"id":"34317137-a067-4864-960e-59f043605ddb","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}}],"connections":{"On form submission1":{"main":[[{"node":"Get Characters","type":"main","index":0},{"node":"Get Thumbnails Examples","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Prompt AI Agent","type":"main","index":0}]]},"Analyze Characters":{"main":[[{"node":"Characters","type":"main","index":0}]]},"Analyze Designs":{"main":[[{"node":"Thumbnails","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Analyze Image Quality":{"main":[[{"node":"If Image is","type":"main","index":0}]]},"If Image is":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Generate Image","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Get Image URL","type":"main","index":0},{"node":"Upload file","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Prompt AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Prompt AI Agent","type":"ai_outputParser","index":0}]]},"Merge1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Analyze Image Quality","type":"main","index":0}]]},"Get Characters":{"main":[[{"node":"Download Characters","type":"main","index":0}]]},"Download Characters":{"main":[[{"node":"Analyze Characters","type":"main","index":0}]]},"Get Thumbnails Examples":{"main":[[{"node":"Download Thumbnails Examples","type":"main","index":0}]]},"Download Thumbnails Examples":{"main":[[{"node":"Analyze Designs","type":"main","index":0}]]},"Characters":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Thumbnails":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Items1":{"main":[[],[{"node":"Generate Image","type":"main","index":0}]]},"Prompt AI Agent":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f03c8d0-70de-4af9-a274-fde10e2d26a0","triggerCount":0,"tags":[]}