historia-terror-PQ5k5IPFxZCOjqiY.json
{"createdAt":"2025-09-06T11:28:24.621Z","updatedAt":"2025-09-06T13:07:56.452Z","id":"PQ5k5IPFxZCOjqiY","name":"HISTORIA TERROR","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,160],"id":"68b061a8-df3d-4948-b1ef-05f701dbfc67","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"meta-llama/llama-4-maverick:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2592,768],"id":"88b875be-b9b6-4c30-bbe7-4a70e485937f","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"LIWZHNnmx1atUz3H","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/2EiwWnXFnvU5JabPnv8n/with-timestamps?output_format=mp3_44100_128","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $('Configuracao').item.json.Api_elevenlabs }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.HistoriacoMPLETA }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,192],"id":"1b0e365e-7d2a-48ae-8933-531ee8104dee","name":"NarracaoElevenlabs"},{"parameters":{"jsCode":"// Get the input items\nconst scriptGeneratorData = $('NarracaoElevenlabs').item; // Access Script Generator node\n// Get the base64 data from the Script Generator node\nconst audioBase64 = scriptGeneratorData.json.audio_base64;\n// Check if we found the audio data\nif (!audioBase64) {\n  items[0].json.error = \"Audio data not found in Script Generator\";\n  return items;\n}\n// Remove any potential data URL prefix\nconst base64Data = audioBase64.replace(/^data:audio\\/\\w+;base64,/, '');\n// Convert to binary buffer\nconst binaryData = Buffer.from(base64Data, 'base64');\n// Add to the output\nitems[0].binary = items[0].binary || {};\nitems[0].binary.data = {  // Changed from \"audio\" to \"data\"\n  data: binaryData.toString('base64'),\n  mimeType: 'audio/mp3', // Adjust mime type if needed\n  fileName: 'audio_file.mp3', // Set appropriate filename\n  fileExtension: 'mp3' // Adjust extension if needed\n};\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,192],"id":"a3f49a0c-f90c-4633-80c1-4790098da9bf","name":"AudioParaBinario1"},{"parameters":{"url":"={{ $('Configuracao').item.json.Audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,528],"id":"a29e0692-e6df-4fd7-99a9-f9f81ccb92e8","name":"Download Audio"},{"parameters":{"operation":"write","fileName":"./audioterror.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3792,528],"id":"6d0a441d-3463-45de-ad07-464942b251fd","name":"SalvaAudio"},{"parameters":{"operation":"write","fileName":"./narracaoterror.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2464,528],"id":"99b7c9f1-83bc-418f-92ce-64a5e1dc32d2","name":"SalvaNarracao"},{"parameters":{"promptType":"define","text":"={{ $('Cria_roteiro').item.json.text }}","messages":{"messageValues":[{"message":"You are an AI that turns horror story transcripts into a single cinematic image prompt suitable for use with an AI image generator like Flux.\n\nInstructions:\n1. Read the full horror story transcript provided by the user.\n2. Identify the most visually intense or climactic scene — the one that best represents the horror atmosphere.\n3. Write one descriptive image prompt that captures the scene’s horror atmosphere.\n4. Focus on mood, setting, lighting, and eerie visual elements.\n5. Do not include transcript text, quotes, or explanations.\n6. Return only the prompt string. No JSON. No labels. No extra words. Just the prompt.\n7. Never use \"\n\nExample Output: A crumbling Victorian mansion bathed in moonlight, its shattered windows glowing faintly as a ghostly figure looms in the fog-covered garden."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2640,528],"id":"caf07c51-173b-4ff0-a9c1-febce4808af7","name":"Prompt_Imagem"},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Configuracao').item.json.Api_together }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n  \"steps\": 4,\n  \"n\": 1,\n  \"height\": 1440,\n  \"width\": 1440,\n  \"guidance\": 3.5,\n  \"output_format\": \"jpeg\",\n  \"prompt\": \"{{ $json.text }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2992,528],"id":"078aa7b5-31ca-4f68-9ee4-36a39e60281b","name":"Gera_Imagem"},{"parameters":{"url":"={{ $json.data[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3152,528],"id":"b15bc97e-a2a0-4289-bbf5-1ac9df17efae","name":"Baixa_Imagem"},{"parameters":{"operation":"write","fileName":"./horror_image.jpeg","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3344,528],"id":"3461ff7b-8d40-401f-a482-c8f22e163f3c","name":"Salva_Imagem"},{"parameters":{"command":"=ffmpeg -loop 1 -i ./horror_image.jpeg \\\n-i ./narracaoterror.mp3 -i ./audioterror.mp3 \\\n-filter_complex \"[2:a]volume=0.05[bgm]; [1:a][bgm]amix=inputs=2:duration=first[aout]\" \\\n-map 0:v -map \"[aout]\" \\\n-vf \"scale=1920:1920:force_original_aspect_ratio=increase,crop=1920:1080\" \\\n-shortest -pix_fmt yuv420p output.mp4 -y"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[4000,528],"id":"cd697ed3-9e4a-4042-ab0b-322f442065ca","name":"Cria_Video","disabled":true},{"parameters":{"fileSelector":"./output.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[4240,528],"id":"44d4c835-ec2b-493e-aca9-a129a8780339","name":"Salva_video"},{"parameters":{"content":"## Configuração de variáveis","height":440},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"152c457d-b8e1-49b0-9227-235116f0d2a2","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Create a 3 minutes horror story about Video title: {{ $json.output.title }}\n\nHere a structure of an video with goof performance: {{ $('DadosCanalRemodelado').item.json['Estrutura Video'] }}\n\nLanguage: {{ $('Configuracao').item.json.Idioma }}","messages":{"messageValues":[{"message":"You are a horror story writing AI.  Your task is to write a complete horror story transcript based on a requested duration in minutes. The transcript should match the time by assuming an average speaking speed of 130 words per minute.\n\nRules:\n- Do not include a title, word count, or any formatting.\n- Only return the full story transcript as plain text.\n- Match the requested duration using approximate word count (duration_in_minutes * 130).\n- The story should be atmospheric, suspenseful, and unsettling, ending with a twist or open-ended fear.\n- Avoid excessive gore — focus on psychological horror and eerie description.\n\nWhen the user provides a topic or theme, use it to guide the setting or threat. If no theme is given, choose a classic horror setting (e.g., foggy woods, abandoned hospital, eerie mirror).\n\nOutput: Return only the story transcript. No quotes, labels, or explanations.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1200,192],"id":"1ba033d6-f566-4f8b-9241-3e76043076df","name":"Cria_roteiro"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1248,592],"id":"d5fbc583-d3e7-40dc-8d6f-616184fad5ff","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c3785d4-b3de-404b-b06f-a284c93377ef","name":"Api_together","value":"c40c927bd63afd6848932f40073ff0d92f318fc44a9e9b567c96badb7dd45287","type":"string"},{"id":"28f4e7a7-0310-43e8-baea-f6f93d53b43c","name":"Audio","value":"","type":"string"},{"id":"38ff02c0-ce73-4dd5-9cca-bdd8193697fa","name":"Api_elevenlabs","value":"sk_37c5409e8f6837e8a4c37f3cf99d7a0e17bee978f60947c7","type":"string"},{"id":"747e515c-00ce-4f90-ba60-1cada47af5bc","name":"IdCanal","value":"UCnM02drQP-dF7WMgtJHR4Xw","type":"string"},{"id":"49d06716-0a82-49ee-bd64-f78267f2064a","name":"Idioma","value":"Inglês","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,160],"id":"a5e3d799-a36f-4e2e-bde9-a3b304012e9e","name":"Configuracao"},{"parameters":{"documentId":{"__rl":true,"value":"1kGnJIT4Xcr9VRTSkjyA0VWJGR3cCt9x5nq9OJJnGVjg","mode":"list","cachedResultName":"[ProducaoAula][Scrap Youtube]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kGnJIT4Xcr9VRTSkjyA0VWJGR3cCt9x5nq9OJJnGVjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":680933368,"mode":"list","cachedResultName":"CanaisEscolhidos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kGnJIT4Xcr9VRTSkjyA0VWJGR3cCt9x5nq9OJJnGVjg/edit#gid=680933368"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[368,160],"id":"e4a12c0a-9644-4c92-8aec-a3201a122ee9","name":"DadosCanalRemodelado","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[624,512],"id":"54694dea-6459-40e0-ae67-ac68740fd1d8","name":"Deepseek","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[912,720],"id":"0516f23a-2069-499d-ae4c-a42101049e54","name":"Auto-fixing Output Parser1"},{"parameters":{"jsonSchemaExample":"{\n      \"title\": \"title\"\n  \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1088,848],"id":"d44e5e45-cb67-4e62-a23b-a6ad508fb4b4","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=Crie o título para um vídeo baseado nessa estrutura de título: {{ $json['Prompt Título'] }}\n\nO s exemplos são apenas uma base, sempre crie de forma diferente para não ter o mesmo título, faça de uma forma que nunca existirá outra geração de combinação igual. \n-- \nNever use () and []","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert at creating compelling, SEO-optimized titles for technical content focused on AI, automation, and n8n. Your titles drive clicks while maintaining technical credibility and accuracy. Key Requirements:  Maximum 60 characters to prevent truncation Front-load important keywords Balance creativity with clarity Target technical professionals Maintain credibility  Emotional Triggers & Power Words:  Time savings: \"Quick\", \"Rapid\", \"Instant\" Efficiency: \"Streamline\", \"Optimize\", \"Automate\" Achievement: \"Master\", \"Transform\", \"Unlock\" Technical value: \"Scalable\", \"Robust\", \"Enterprise-grade\" Urgency: \"Essential\", \"Critical\", \"Must-have\" Innovation: \"Revolutionary\", \"Game-changing\", \"Next-gen\"  High-Performing Title Structures:  Problem-Solution Format  \"Why Your [X] Isn't [Desired Outcome]\" \"How to Fix [Common Problem] with [Solution]\" \"Stop [Pain Point]: Use [Solution] Instead\"   Specific Value Format  \"[X] Ways to [Achieve Goal] in [Timeframe]\" \"Build [Solution] That Handles [X] Tasks Daily\" \"Automate [X] Hours of Work in [Y] Minutes\"   Technical Tutorial Format  \"How to Integrate [Tool] with [Tool] [Implementation Time]\" \"[X]-Step [Tool] Setup for [Specific Use Case]\" \"Building [Solution] with [Tools] [Tutorial Type]\". Ensure to include relevant keywords naturally, they will be passed in the inputs.\n\nHere are some examples of high performing titles:\n\nTechnical Tutorial Style\n1. \"Top AI Agents in n8n: A Comprehensive Guide to Automating with AI\"\n2. \"Create 100% Local No Code AI Agents with N8N and Ollama in 10...\"\n3. \"n8n Masterclass: Build AI Agents & Automate Workflows\"\n\nProblem-Solution Style\n1. \"Build your first AI AGENT as A Total BEGINNER! (NO CODE)\"\n2. \"10 n8n Tips in 10 Minutes to 10x Your AI Automations\"\n3. \"How to Build a Personal Assistant AI Agent in n8n\""}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[720,192],"id":"d36b244e-3e55-4b10-801b-6404b18039f3","name":"CriaTitulo"},{"parameters":{"promptType":"define","text":"=Continue the horror story below, preserving its tone, pacing, and narrative style. Do not repeat or summarize any part of the story. Only provide the continuation, leading to a complete and chilling ending that fits the context already established.\n\nStory fragment:\n{{ $json.text }}\n\nStory title:\n{{ $('CriaTitulo').item.json.output.title }}\n\nLanguage: {{ $('Configuracao').item.json.Idioma }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1600,192],"id":"39e1c01a-d335-4b80-a593-ef7a1d7beab8","name":"Cria_roteiro2"},{"parameters":{"assignments":{"assignments":[{"id":"c30f0355-f65e-4c28-a227-f87c72ebc877","name":"HistoriacoMPLETA","value":"={{ $('Cria_roteiro').item.json.text }}{{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,192],"id":"c90e9142-73b0-45f6-b94f-845c58085a2d","name":"HitoriaFinal"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $('CriaPromptThumb').item.json.message.content }}","options":{"quality":"low","size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6448,528],"id":"54cc49f8-164d-401b-9926-f8c1eff99af9","name":"OpenAI1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Baseado nesse estitilo de thumbnail: {{ $('DadosCanalRemodelado').item.json['Estrutura Thumb'] }}  Crie um prompt para gerar a thumbnail desse conteúdo: {{ $('CriaTitulo').item.json.output.title }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5648,528],"id":"d01d0acd-5db6-43d3-9da1-7c9a15c1744e","name":"CriaPromptThumb","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Upload-Content-Type","value":"video/webm"}]},"sendBody":true,"contentType":"raw","rawContentType":"RAW/JSON","body":"={\n  \"snippet\": {\n    \"title\": \"{{ $('CriaTitulo').item.json.output.title }}\",\n    \"description\": \"{{ $json.message.content }}\",\n    \"categoryId\": \"24\",\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"d364fc4d-b0a1-4722-adc1-01ba2d76598f","name":"CriaURL","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4928,528],"credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"method":"PUT","url":"={{ $node[\"CriaURL\"].json.headers.location }} ","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"video/webm"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"d6ccf5c1-e253-42a1-b9fe-e208caa9fde8","name":"FinalizaUpload","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5408,528],"credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"fileSelector":"./output.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[5168,528],"id":"1975bbc2-1f41-43c8-8cc1-1bcd4599e36f","name":"Salva_video1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Crie uma descrição para esse vídeo: {{ $('CriaTitulo').item.json.output.title }} Com esse idioma: {{ $('Configuracao').item.json.Idioma }}, utilize hashtags, e palavras de SEO\n\n- Retorne apenas a descrição sem mais nenhum outro tipo de conteúdo\n\n- Não pode conter \"\" nunca pode ter \"\n\n- Nunca utilize \" no texto"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4528,528],"id":"1ad54d02-f5d4-4108-a926-99e25f677646","name":"Cria Descrição","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId={{ $('FinalizaUpload').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7312,528],"id":"c9c7624e-011c-42d3-a208-f4849640c823","name":"SobeThumb1","credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"method":"POST","url":"https://api.tinify.com/shrink","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Code').item.json.authorization }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6768,528],"id":"5831c032-14cb-4af4-ab36-811aa15ef769","name":"ComprimeArquivo"},{"parameters":{"jsCode":"const username = 'api';\nconst password = '\nCopiado para a área de transferência\nwG6s5KbQkw3fcKJ718yFRXPMTDL3tDgl'; // sua chave da API\n\nconst token = Buffer.from(`${username}:${password}`).toString('base64');\n\nreturn [\n  {\n    json: {\n      authorization: `Basic ${token}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6080,528],"id":"12989b72-8597-4469-a0e3-683603e0ba94","name":"Code"},{"parameters":{"url":"={{ $json.output.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7040,528],"id":"7ab88858-7c8b-43d0-b702-83771463910c","name":"Baixa_Comprimido"},{"parameters":{"content":"## Cria história","height":80,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[704,64],"typeVersion":1,"id":"fb971594-904a-4929-a628-1b25e6f1a072","name":"Sticky Note1"},{"parameters":{"content":"## Cria narração","height":80,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,64],"typeVersion":1,"id":"49c00fd2-a6ac-48c6-84b8-bc126672103a","name":"Sticky Note2"},{"parameters":{"content":"## Cria vídeo","height":80,"width":5100,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2464,432],"typeVersion":1,"id":"ef4e0fca-0e7d-43eb-9daa-ef651527b9c4","name":"Sticky Note3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Configuracao","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Prompt_Imagem","type":"ai_languageModel","index":0}]]},"NarracaoElevenlabs":{"main":[[{"node":"AudioParaBinario1","type":"main","index":0}]]},"AudioParaBinario1":{"main":[[{"node":"SalvaNarracao","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"SalvaAudio","type":"main","index":0}]]},"SalvaAudio":{"main":[[{"node":"Cria_Video","type":"main","index":0}]]},"SalvaNarracao":{"main":[[{"node":"Prompt_Imagem","type":"main","index":0}]]},"Prompt_Imagem":{"main":[[{"node":"Gera_Imagem","type":"main","index":0}]]},"Gera_Imagem":{"main":[[{"node":"Baixa_Imagem","type":"main","index":0}]]},"Baixa_Imagem":{"main":[[{"node":"Salva_Imagem","type":"main","index":0}]]},"Salva_Imagem":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Cria_Video":{"main":[[{"node":"Salva_video","type":"main","index":0}]]},"Salva_video":{"main":[[{"node":"Cria Descrição","type":"main","index":0}]]},"Cria_roteiro":{"main":[[{"node":"Cria_roteiro2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Cria_roteiro","type":"ai_languageModel","index":0},{"node":"Cria_roteiro2","type":"ai_languageModel","index":0}]]},"Configuracao":{"main":[[{"node":"DadosCanalRemodelado","type":"main","index":0}]]},"DadosCanalRemodelado":{"main":[[{"node":"CriaTitulo","type":"main","index":0}]]},"Deepseek":{"ai_languageModel":[[{"node":"CriaTitulo","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"CriaTitulo","type":"ai_outputParser","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"CriaTitulo":{"main":[[{"node":"Cria_roteiro","type":"main","index":0}]]},"Cria_roteiro2":{"main":[[{"node":"HitoriaFinal","type":"main","index":0}]]},"HitoriaFinal":{"main":[[{"node":"NarracaoElevenlabs","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"ComprimeArquivo","type":"main","index":0}]]},"CriaPromptThumb":{"main":[[{"node":"Code","type":"main","index":0}]]},"CriaURL":{"main":[[{"node":"Salva_video1","type":"main","index":0}]]},"FinalizaUpload":{"main":[[{"node":"CriaPromptThumb","type":"main","index":0}]]},"Salva_video1":{"main":[[{"node":"FinalizaUpload","type":"main","index":0}]]},"Cria Descrição":{"main":[[{"node":"CriaURL","type":"main","index":0}]]},"ComprimeArquivo":{"main":[[{"node":"Baixa_Comprimido","type":"main","index":0}]]},"Code":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Baixa_Comprimido":{"main":[[{"node":"SobeThumb1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f767d5c-077d-46f7-aec1-7076afd43dc7","triggerCount":0,"tags":[]}