mineração-de-conteudo-bqo6meNpgfk8mujb.json
{"createdAt":"2025-09-05T01:32:50.676Z","updatedAt":"2025-09-05T01:59:38.568Z","id":"bqo6meNpgfk8mujb","name":"MINERAÇÃO DE CONTEUDO","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const url = item.json[\"Url\"].trim(); // pega o campo \"Url\"\n  const handle = '@' + url.split('@')[1].toLowerCase(); // extrai o handle do canal\n\n  return {\n    json: {\n      channelNames: [handle],\n      ...item.json // mantém os outros dados (como row_number etc.)\n    }\n  };\n});\n\nreturn updatedItems;\n"},"id":"b55e8570-e9e0-48b9-bb1b-025a165f4a4f","name":"Get Channel Handle","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,192]},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"c819142d-87b4-496c-bb55-01ef0c393330","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,528]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"id":"1aed6da6-a029-4de5-b2f3-6855e89bd4ea","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,848]},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"a9d427a8-b726-47d8-b7d2-dfcd9f36495e","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1232,848]},{"parameters":{"content":"## Adicionando novos canais ao banco de dados\n","height":370,"width":1883},"id":"77573436-461d-41dc-89e8-18e507c95030","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Buscar vídeos de canais","height":270,"width":1683,"color":2},"id":"13c87830-ed1c-458c-a068-101236602bbb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,432]},{"parameters":{"content":"## Obter estatísticas de vídeo do Youtube","height":270,"width":4302,"color":3},"id":"4037d25a-5ffa-47c9-bc06-ab01c21953bb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,752]},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/search?part=snippet&channelId={{ $json.IdCanal }}&maxResults=50&order=date&type=video","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"475c1c84-aab0-4e52-bd34-b9b0ab06457e","name":"Fetch Videos From API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,528],"credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"jsCode":"function mapYouTubeToSupabase(youtubeDataItems) {\n  return youtubeDataItems.map(item => ({\n    id: item.id.videoId,\n    kind: item.kind,\n    etag: item.etag,\n    published_at: item.snippet.publishedAt,\n    channel_id: item.snippet.channelId,\n    channel_title: item.snippet.channelTitle,\n    title: item.snippet.title,\n    description: item.snippet.description,\n    thumbnail: item.snippet.thumbnails.default.url,\n    category_id: item.snippet.categoryId,\n    tags: item.snippet.tags || [],\n    live_broadcast_content: item.snippet.liveBroadcastContent\n  }));\n}\n\nreturn $input.all().map(i => ({ json: { items: mapYouTubeToSupabase(i.json.items) } }))\n"},"id":"bb515cb4-5f6c-415c-9dbf-38cadb9d1ad4","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,528]},{"parameters":{"jsCode":"const items = $input.all().map((item) => item.json)[0].id;\n\nconst result = [];\nfor (let i = 0; i < items.length; i += 10) {\n  result.push({ json: { ids: items.slice(i, i + 10) } });\n}\n\nreturn result;\n"},"id":"9db9d8a9-e46f-418a-8236-72b7e6c24a2f","name":"Split Out IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,848]},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/videos?part=statistics,snippet&id={{ $json.ids }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"17fff500-515e-438d-b7cc-da89fc52c5cc","name":"Fetch Video Stat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,848],"credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e90af2ca-cc43-41ef-8af2-3e8d44bc6ca1","leftValue":"={{ $json['Nome do canal'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8a7045a1-fa12-4ada-9210-9ecb1283b12f","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,192],"id":"e8a60bae-203c-4810-bf54-18d27dc698c2","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"CanalJaExistente","typeVersion":1,"position":[1248,48],"id":"59991029-232e-423e-a992-ed30d0c39764"},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/channels?part=snippet&forHandle={{ $('Get Channel Handle').item.json.channelNames[0] }}&key=Kj8dL9mN4pQ7vR2xT6wY9hB3fC5nM1aS8gU4bE3kL7pH","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"7e51b55a-bee2-4f34-80fe-f7bb38376439","name":"BuscaInformaçõesDaApi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,224],"credentials":{"youTubeOAuth2Api":{"id":"kjnti1FjNerdM4iz","name":"@Storieeracconti"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Nome do canal":"={{ $json.items[0].snippet.title }}","Url":"={{ $('Loop Over Items').item.json.Url }}","IdCanal":"={{ $json.items[0].id }}","ThumbCanal":"={{ $json.items[0].snippet.thumbnails.high.url }}","Descrição":"={{ $json.items[0].snippet.localized.description }}","Status":"Em execução"},"matchingColumns":["Url"],"schema":[{"id":"Nome do canal","displayName":"Nome do canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IdCanal","displayName":"IdCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ThumbCanal","displayName":"ThumbCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1552,224],"id":"2357732d-5ffd-4c7b-8a9c-4710b22ee63c","name":"InsereBase","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Em execução"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,528],"id":"7de1182b-c512-4c9f-b567-fabda0e6c9a0","name":"BuscaCanais","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","tipo":"={{ $json.kind }}","etag":"={{ $json.etag }}","publicado_em":"={{ $json.published_at }}","id_canal":"={{ $json.channel_id }}","titulo_canal":"={{ $json.channel_title }}","titulo_video":"={{ $json.title }}","descrição":"={{ $json.description }}","thumb":"={{ $json.thumbnail }}","tag":"={{ $json.live_broadcast_content }}","Nome_Canal":"={{ $json.channel_title }}","Status":"Em execução"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publicado_em","displayName":"publicado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo_canal","displayName":"titulo_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo_video","displayName":"titulo_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrição","displayName":"descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb","displayName":"thumb","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_Canal","displayName":"Nome_Canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visualizações","displayName":"Visualizações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1152,528],"id":"471ba2c3-167a-4a42-b1e7-08199f426bc2","name":"InsereBaseVideos","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Em execução"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,848],"id":"fb1d066c-f301-4aad-9d41-c56ee18f2e67","name":"BuscaVideos","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Visualizações":"={{ $json.statistics.viewCount }}","Likes":"={{ $json.statistics.likeCount }}","Comentarios":"={{ $json.statistics.commentCount }}","id_canal":"={{ $json.snippet.channelId }}","Status":"Minerado","descrição":"={{ $json.snippet.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"publicado_em","displayName":"publicado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titulo_canal","displayName":"titulo_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titulo_video","displayName":"titulo_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descrição","displayName":"descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb","displayName":"thumb","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_Canal","displayName":"Nome_Canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visualizações","displayName":"Visualizações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,848],"id":"c4bd27bf-22c6-4e1a-9178-934b35ea38c1","name":"AtualizaEstatisticas","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b582f089-b6e2-4e41-a358-1e901494030d","name":"IdSheets","value":"1YiMtXi-a-NzAb78U3Sq4jx89axYtg8_DuPBrYAbN_Jw","type":"string"},{"id":"e15a0c51-3cd3-4e5f-ab78-12e89919e9a9","name":"IdAbaCanais","value":"0","type":"string"},{"id":"dabbf026-4923-4ab6-b3d3-a44e953aa033","name":"IdAbaVideos","value":"1031761347","type":"string"},{"id":"a90295f2-e55a-4d74-9795-a4818cab60ba","name":"IdAbaEscolhidos","value":"680933368","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,192],"id":"70851cf0-910b-4c5b-bb08-39a39324ad17","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,1008],"id":"f05c0c65-fb38-4274-b777-4f738a83d50a","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1408,528],"id":"ab7e40c9-0a82-4e1d-a4f6-250508722d32","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1760,848],"id":"bda3c1b9-4d58-48b7-af94-4e95ce53a376","name":"Limit1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Nome do canal":"=","Status":"Minerado","IdCanal":"={{ $('BuscaVideos').first().json.id_canal }}"},"matchingColumns":["IdCanal"],"schema":[{"id":"Nome do canal","displayName":"Nome do canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"IdCanal","displayName":"IdCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ThumbCanal","displayName":"ThumbCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,848],"id":"741c8574-a1e0-4d92-8517-ed725b797fac","name":"AtualizaCanal","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-656,192],"id":"a620c542-58f0-4fb2-8a9a-d1f59afd5489","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,160],"id":"20081a9b-7a80-4f97-8f56-39937a56abc8","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"9be9cae6-6a53-43da-bd97-bd3d849a6d3b","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2640,848]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"id_canal","lookupValue":"={{ $('BuscaInformaçõesDaApi').item.json.items[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2272,848],"id":"8ae64486-2233-41d9-a975-2e3373b1a87a","name":"BuscaVideos1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em análise de canais do YouTube. Analise os vídeos com base nos critérios objetivos abaixo, SEM exceções:\n\nCritérios de Qualificação (todos devem ser atendidos por um vídeo individualmente):\nO vídeo deve ter mais de 20.000 visualizações\n\nO vídeo deve ter mais de 100 curtidas\n\nIgnore os vídeos que não atendem esses dois critérios ao mesmo tempo.\n\nClassificação Final:\nQualificado: mais de 80% dos vídeos atendem os dois critérios\n\nMediano: entre 50% e 80%\n\nDesqualificado: menos de 50%\n\nNão considere o crescimento por data ou comentários como critério obrigatório, apenas como observação complementar.\n\nDados dos vídeos:\n{{ $json.data.toJsonString() }}\n\n\nRetorne apenas uma das opções abaixo, sem adicionar nenhuma explicação:\n\nQualificado\nMediano\nDesqualificado\n\nAtenção: analise rigorosamente os critérios de visualizações e curtidas. Apenas vídeos que atendem ambos os critérios contam como válidos na contagem.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2944,832],"id":"5bf510fe-2864-4c30-b1b1-15f36725aecf","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2848,1152],"id":"2299794c-35c4-46b5-972c-214f06468936","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210f7c57-9605-472e-8107-2971116d216f","leftValue":"={{ $json.output }}","rightValue":"Qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d92cd44a-eb97-464a-8ab5-db6c68f78eeb","leftValue":"={{ $json.output }}","rightValue":"Mediano","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3344,832],"id":"a1183ae5-05a5-432e-b0cc-b091c3d6c69d","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaEscolhidos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('InsereBase').item.json.IdCanal }}","Nome":"={{ $('InsereBase').item.json[\"Nome do canal\"] }}","Descrição":"={{ $('InsereBase').item.json[\"Descrição\"] }}","Nível engajamento":"={{ $('AI Agent').item.json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nível engajamento","displayName":"Nível engajamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3808,800],"id":"0a835485-323c-4b19-accd-d061753a487b","name":"AtualizaCanalEscolhido","credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[576,912],"typeVersion":1,"id":"d366993f-bd5f-49e3-bd4f-43b92c284ddb","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[592,320],"typeVersion":1,"id":"d6c66a81-311f-464c-80f0-7aece48f5ee5","name":"Sticky Note4"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-160,192],"id":"c1cef44e-0724-420c-8fb3-56883f184945","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"INOhnb2BR48unNPB","name":"Google Sheets account"}}}],"connections":{"Get Channel Handle":{"main":[[{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"InsereBaseVideos","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out IDs","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"AtualizaEstatisticas","type":"main","index":0}]]},"Fetch Videos From API":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out IDs":{"main":[[{"node":"Fetch Video Stat","type":"main","index":0}]]},"Fetch Video Stat":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"If":{"main":[[{"node":"BuscaInformaçõesDaApi","type":"main","index":0}],[{"node":"CanalJaExistente","type":"main","index":0}]]},"BuscaInformaçõesDaApi":{"main":[[{"node":"InsereBase","type":"main","index":0}]]},"InsereBase":{"main":[[{"node":"BuscaCanais","type":"main","index":0}]]},"BuscaCanais":{"main":[[{"node":"Fetch Videos From API","type":"main","index":0}]]},"InsereBaseVideos":{"main":[[{"node":"Limit","type":"main","index":0}]]},"BuscaVideos":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AtualizaEstatisticas":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit":{"main":[[{"node":"BuscaVideos","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"AtualizaCanal","type":"main","index":0}]]},"AtualizaCanal":{"main":[[{"node":"BuscaVideos1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Channel Handle","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"BuscaVideos1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"AtualizaCanalEscolhido","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"AtualizaCanalEscolhido":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"386217ff-d10b-4400-b058-e5999857f3b9","triggerCount":0,"tags":[]}