my-workflow-2-ZpQahRwnvn3qwt9r.json
{"createdAt":"2025-07-05T00:54:58.080Z","updatedAt":"2025-07-22T11:23:03.588Z","id":"ZpQahRwnvn3qwt9r","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"name, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,160],"id":"2f4dc2cf-5785-4f06-9c70-399d0ce6795c","name":"Extrair Nome e ID dos Cartões"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,160],"id":"b4cedf2e-a56b-4b4f-a927-181bfc06592f","name":"Eliminar Cartões Duplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,160],"id":"913bd80e-f647-4b99-ada8-d9a5e132bfd1","name":"Processar Cartões Individualmente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"56ba2b22-a331-420e-bb99-ecfba5066964","name":"Finalizar Processamento"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,460],"id":"b4efa67b-f742-47d1-81a5-8752cbded248","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=08 - VÍDEOS DO DIA - (MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,460],"id":"56f0db1f-df2b-4496-8ec1-d9ff83d17372","name":"Notificação de Erro no Telegram","webhookId":"69e81cf7-6366-4150-8ea9-0179f2447587","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EM FILA\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"9bb0d6d4-4254-46ab-9d07-194279d64019","name":"Mover Cartão para \"EM FILA ⌛\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1100,160],"id":"62ecd913-ddbe-4912-b86b-5ee192116abf","name":"Buscar Cartões em \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,160],"id":"e7ab3680-0c60-40ba-9607-2f8db1c0265a","name":"Exclui Cards em \"STOP\""},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,160],"id":"b7a1aa3e-13f2-4d72-a8c1-e8be9e4b7bf8","name":"Verificação Diária às 4h"},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"682d2fb01bbf167e01b89da2","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"682d2fb01bbf167e01b89da5","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,160],"id":"a14fab35-7866-492b-a2b7-df4bef961036","name":"Edit Fields"}],"connections":{"Extrair Nome e ID dos Cartões":{"main":[[{"node":"Eliminar Cartões Duplicados","type":"main","index":0}]]},"Eliminar Cartões Duplicados":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Processar Cartões Individualmente":{"main":[[{"node":"Finalizar Processamento","type":"main","index":0}],[{"node":"Mover Cartão para \"EM FILA ⌛\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"EM FILA ⌛\"":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Buscar Cartões em \"EDITANDO ⌛\"":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Extrair Nome e ID dos Cartões","type":"main","index":0}]]},"Verificação Diária às 4h":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões em \"EDITANDO ⌛\"","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"97105302-8956-4eb8-9d96-dd329001d82e","triggerCount":0,"tags":[]}