teste-wf--03-espanha-63jbT1sbFrfCXTWs.json
{"createdAt":"2025-08-29T15:16:44.093Z","updatedAt":"2025-08-30T23:08:06.069Z","id":"63jbT1sbFrfCXTWs","name":"teste WF -03-espanha","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 0\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audie\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2160,224],"id":"02560b49-60ee-430f-9f03-0923e0f84c17","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 1\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2512,224],"id":"74628e32-68d4-47b9-939c-9dce537472aa","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 2\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2864,224],"id":"6aa8dec4-5b51-4ed7-a796-c0b87b3059b2","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 3\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3216,224],"id":"1fab5976-5147-4292-9058-c2cc9e392953","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 4\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3568,224],"id":"76c87091-edb6-445f-9504-1e3ef59bf5db","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 5\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3920,224],"id":"0b04e92f-d371-435e-a5c4-84638073aa77","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 6\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4272,224],"id":"902131f0-995e-4b16-b6cd-ff3c1d5899ad","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 7\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe un nuevo capítulo (~500 palabras) que continúe EXACTAMENTE donde terminó el anterior e introduzca un giro impactante que cambie el rumbo de la historia. Mantén estilo/ritmo, no cierres la trama. Termina con microcliffhanger.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni \\\"mensaje al público\\\").\\nPROHIBIDO: \\\"PARTE 2\\\", \\\"comenta\\\", \\\"dale like\\\", \\\"suscríbete\\\", corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación; cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“No añadas encabezados como “CAPÍTULO X”.”.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4624,224],"id":"a746ce25-9b07-4dd4-a755-9b794639a4be","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{ $item(\\\"0\\\").$node[\\\"Gerar Capítulo 8\\\"].json[\\\"message\\\"][\\\"content\\\"] }}\\n\\nEscribe el CAPÍTULO FINAL (450–600 palabras) en primera persona. Cierra los conflictos principales con sentido de justicia y dignidad, pero DEJA UNA PUERTA ENTREABIERTA (promesa de verdad, mirada al futuro o duda final). Termina con un microcliffhanger SUAVE (pregunta corta o imagen ambigua), sin cerrar del todo.\\n\\nPROHIBIDO en el final: CTAs, lenguaje de plataforma, corchetes o emojis.\\n\\nMantén estilo/ritmo coherente con los capítulos anteriores; no repitas escenas ya narradas ni reinicies la ubicación.\"\n  }\n]\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.\n“Sin emojis. Narración en primera persona. No añadas encabezados como ‘CAPÍTULO X’.”","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4976,224],"id":"9d23ff2f-118d-4262-a360-8cb6172ce24a","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Español neutro. Narración en primera persona (yo). Sin emojis. Termina con un microcliffhanger. No añadas encabezados como \\\"CAPÍTULO X\\\".\"\n  },\n  {\n    \"role\": \"system\",\n    \"content\": \"Proporciona el texto en español usando nombres y expresiones comunes en distintos países; adapta referencias culturales para que suenen naturales y reconocibles.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Escribe el CAPÍTULO 0 (apertura devastadora) en primera persona (abuela), 450–600 palabras. Arranca con una declaración chocante ligada al gancho del título y al contexto.\\n\\nCTA diegético (obligatorio):\\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\\nDeben sonar diegéticas (no parecen instrucciones ni “mensaje al público”).\\nPROHIBIDO: “PARTE 2”, “comenta”, “dale like”, “suscríbete”, corchetes, emojis o lenguaje de plataforma.\\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\\n\\nNO repitas escenas ya narradas ni reinicies la ubicación. Cada capítulo debe avanzar en tiempo y consecuencias.\"\n  }\n]\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1808,224],"id":"0e26863d-24a4-4440-bccf-5b68645809c1","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={\n  \"values\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Responde siempre en español neutro (sin regionalismos), sin emojis. Devuelve JSON válido, sin comentarios ni markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Devuelve EXACTAMENTE este JSON (sin markdown): {\\\"Prompts\\\":[{\\\"prompt\\\":\\\"Escribe una historia de unas 500 palabras sobre {{ $('Tradução Título').item.json.message.content['Título'] }}. Usa el siguiente contexto: {{ $('Tradução Contexto').item.json.message.content['Contexto'] }}. La historia debe comenzar con una afirmación impactante que rompa con las expectativas sociales. Incluye un gancho narrativo, manteniendo el conflicto abierto sin resolverlo. La historia NO debe concluir, sino dejar al lector con ganas de más.\\\"}]}\nCTA diegético (obligatorio):\nInserta HASTA DOS frases de CTA nativo integradas como pensamiento o diálogo de la narradora, una alrededor del 40–60% del capítulo y otra entre el 70–85%.\nDeben sonar diegéticas (no parecen instrucciones ni “mensaje al público”).\nPROHIBIDO: “PARTE 2”, “comenta”, “dale like”, “suscríbete”, corchetes, emojis o lenguaje de plataforma.\nNO pongas CTA en la última línea; el microcliffhanger final debe quedar limpio.\n\nNO repitas escenas ya narradas ni reinicies la ubicación (no vuelvas a “sentarme”, “cerrar la puerta” o “entrar a la oficina” si ya pasó). Cada capítulo debe avanzar en tiempo y consecuencias, sin reciclar el mismo set.\n\"\n    }\n  ]\n}\n"},{"content":"=Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1456,224],"id":"cffb046c-fefc-4bd5-a5ac-95e73f8aaf08","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"={\n  \"values\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un titulador experto de YouTube en español neutro. Objetivo: títulos cortos (≤100 caracteres) con alto CTR, estilo canal campeón: (1) bloque de choque en MAYÚSCULAS (2–5 palabras), (2) escena concreta con verbo fuerte, (3) antagonista con poder/estatus, (4) lugar/tiempo específico, (5) curiosidad final. Reglas duras: incluir ABUELA/ABUELITA/ABUELO; sin emojis; sin comillas; máximo un signo de puntuación fuerte; evitar clichés tipo 'no creerás'. Devuelve JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Contexto (ES): {{ $json.contexto_es }}\\nGancho/Cap.0 (opcional): {{ $json.cap0 }}\\nTítulo semilla (si existe): {{ $json['titulo_seed'] }}\\n\\nGenera 10 variantes de título (candidatos), cada una ≤100 caracteres, español neutro, con bloque de choque en MAYÚSCULAS (2–5 palabras), mención de ABUELA/ABUELITA/ABUELO, verbo fuerte, detalle de lugar/tiempo y cierre con curiosidad sutil. Varía la estructura.\\n\\nElige el mejor «Título» priorizando: (1) 68–88 caracteres; (2) claridad + conflicto; (3) contiene ABUELA/ABUELO; (4) acción concreta; (5) curiosidad sin sensacionalismo barato.\\n\\nResponde SOLO este JSON:\\n{\\n  \\\"Título\\\": \\\"...\\\",\\n  \\\"candidatos\\\": [\\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\", \\\"...\\\"]\\n}\\n\"\n    }\n  ]\n}\n"}]},"jsonOutput":"={{ true }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[304,352],"id":"07d87e1e-ab3c-4540-aa67-d66695b8eac8","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={\n  \"values\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Devuelve JSON EXACTO (sin markdown): {\\\"Contexto\\\":\\\"<texto en español neutro>\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n    }\n  ]\n}\n"}]},"jsonOutput":"={{ true }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1104,224],"id":"01cfb473-e06c-4321-8284-7786dd1c8f55","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"d9defccf-25c7-4138-a40a-a1eb790d2667","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6576,224],"credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6800,224],"id":"c7bfb826-7312-405b-a104-85388c9f0bce","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"messages\": {\n  \"values\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Responde en español neutro. Sin markdown, sin emojis, sin conteos.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"A partir del guion, crea: (1) resumen 250–500 caracteres, (2) breve resumen general con palabras clave, (3) 10 hashtags. Usa la plantilla dada, sin markdown ni comillas extra.\\n\\nGuion: \\\"{{ $node[\\\"Post-processar Guion\\\"].json[\\\"text\\\"] }}\\\"\"\n    }\n  ]\n}\n"},{"content":"Proporcione el texto en español, utilizando nombres y expresiones comunes entre los hispanohablantes de distintos países, adaptados para reflejar la cultura compartida por los diversos pueblos que hablan la lengua. Adapte los nombres, lugares y referencias culturales para que resulten naturales y reconocibles en español, asegurándose de que siguen siendo relevantes y resuenan en la audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5904,224],"id":"d18ad196-453d-4bd8-b691-82f791d1198c","name":"Gerar SEO","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7248,224],"id":"df7658ca-31bd-435a-9572-a1ce47234809","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $node[\"Post-processar Guion\"].json.text }}\n\n","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7024,224],"id":"af37d821-8274-476d-978f-6894e8f96198","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6352,224],"id":"7f8ec30d-fe0a-4a30-88c1-fa572b6dfcc6","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7472,224],"id":"e5402c40-136d-44a2-9a14-fa2f10bc0181","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"MSZRoiDNJgTmkPcW","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content,\n];\n\nfunction cleanChapter(s) {\n  if (!s) return \"\";\n  return s\n    // remove \"Capítulo 0/1/...\" no início (variações de maiúscula/minúscula; com/sem dois-pontos)\n    .replace(/^\\s*cap[ií]tulo\\s*\\d+\\s*:?\\s*/gmi, \"\")\n    // limpa espaços à direita e normaliza quebras\n    .replace(/[ \\t]+$/gm, \"\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nconst cleaned = texts.map(t => cleanChapter(t || \"\"));\n// separador mínimo entre capítulos\nconst sep = \"\\n\\n\";\nconst finalText = cleaned.join(sep);\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5328,224],"id":"b1ea00fa-590e-4f2f-bfbe-e0fbfce79a0e","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-144,416],"id":"8dde7912-cde5-408b-ae19-80dd7ba92d6c","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7696,224],"id":"eab81b8a-fb00-4a52-a181-dcef59cf64ce","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5680,224],"id":"7b50a7c6-a24d-474e-90d4-4b767f39e548","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,272],"id":"0bf999b5-c19d-4a1a-a39a-7fd44ca1b1ee","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1168,464],"id":"b4b24409-f243-4338-90c3-89d7acca6fc3","name":"Aguardar e Reiniciar Processo","webhookId":"751f9534-39b5-4ea6-830d-d25a75a9ae4a"},{"parameters":{"assignments":{"assignments":[{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"ROTEIRO","value":"682d2fb01bbf167e01b89d9c","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"Canal","value":"@MemoriasdeAbuela","type":"string"},{"id":"bd738b3b-5a13-42bc-8ab3-226f05adbe0a","name":"titulo","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"7f61ee6a-cbe4-46f7-b430-e7925e3f0556","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,416],"id":"50d7f270-6596-4cf5-b679-e2f83ddcd472","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-144,0],"id":"dc07545a-05f3-4ef4-a112-f194d87f6f49","name":"Detector de Falhas"},{"parameters":{"chatId":"-1002592249391","text":"=03 - CRIA ROTEIROS - ES(MILIONARIO)","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,0],"id":"de83c5d0-f9a1-4af9-86c5-1fd6d7f6df6f","name":"Notificação de Erro no Telegram","webhookId":"b439dd8a-77e6-4415-9e7a-1a7192d8b8a4","credentials":{"telegramApi":{"id":"Yzfja37I19IMlPgq","name":"Telegram account"}}},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",\n\"ctas\": \"integradas en el guion (mismo archivo del guion)\"\n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[7920,224],"id":"cb6ad4ed-552d-4d22-8f4b-7bd76cd0fb85","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"rpm3uMep21rqpid6","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelo","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuela","operator":{"type":"string","operation":"contains"}},{"id":"7eb6a459-6212-4c10-ab76-b6ebe78cc5b7","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELO","operator":{"type":"string","operation":"contains"}},{"id":"663376d5-d123-4744-87aa-2fcfac20aad1","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELA","operator":{"type":"string","operation":"contains"}},{"id":"a38468f7-6dfa-4e51-93c1-a23f118a265a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"ABUELITA","operator":{"type":"string","operation":"contains"}},{"id":"2736be45-df9d-44b1-9c3e-a5d703281b7a","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"abuelita","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,352],"id":"667ee77a-d722-4b21-afb1-4ba74054ec89","name":"Verificar Palavra-chave no Título"},{"parameters":{"jsCode":"let t = $node[\"Concatenar Capítulos\"].json.text || \"\";\n\n// (A) Unificar canon: \"Cristina\" NÃO é mãe da narradora (trocas conservadoras)\nt = t.replace(/\\bvoz\\s+joven\\s+de\\s+mi\\s+madre\\b/gi, \"voz joven de Cristina\");\nt = t.replace(/\\bmi\\s+madre\\b/gi, \"Cristina\");\n\n// (A.1) Remover cabeçalhos tipo \"CAPÍTULO X\"\nt = t.replace(/^\\s*cap[ií]tulo\\s+\\d+\\s*:?.*$/gim, \"\");\n\n// (B) Garantia anti-ruído: remove marcas [CTA] se vierem\nt = t.replace(/\\[CTA\\][^\\n]*\\n?/gi, \"\");\n\n// (C) Sanitização final: colapsa múltiplas linhas vazias\nt = t.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n\n// (D) Injeção de CTAs diegéticos se o bloco NÃO traz nenhum\nconst ctaPool = [\n  \"Si alguien me oye, cuéntenme desde dónde para no sentirme tan sola esta noche.\",\n  \"Guarden este pedacito por si mañana me hacen callar; quiero saber que sigue vivo.\",\n  \"Si de verdad quieren que siga, díganmelo bajito; junto fuerzas para contarlo.\",\n  \"Déjenme una seña —un país, una calle— para no perderme en esta oscuridad.\",\n  \"Si estoy diciendo lo correcto, háganmelo saber con una palabra; yo entenderé.\",\n  \"Guarden esto como prueba; por si me cierran la puerta, alguien lo tendrá.\"\n];\n\nfunction injectCTAs(text) {\n  const parts = text.split(/\\n{2,}/); // aproxima capítulos por blocos\n  const rebuilt = [];\n  let ctaIdx = 0;\n\n  for (let block of parts) {\n    const hasCTA = /(\\bcuéntenme\\b|\\bguarden\\b|\\bdíganmelo\\b|déjenme una seña|háganmelo saber)/i.test(block);\n\n    if (!hasCTA) {\n      const lines = block.split(\"\\n\");\n      const pos = Math.max(1, Math.floor(lines.length * 0.6));\n      const cta1 = ctaPool[ctaIdx % ctaPool.length]; ctaIdx++;\n      lines.splice(pos, 0, cta1);\n\n      if (lines.length > 16) {\n        const pos2 = Math.min(lines.length - 2, Math.floor(lines.length * 0.8));\n        const cta2 = ctaPool[ctaIdx % ctaPool.length]; ctaIdx++;\n        lines.splice(pos2, 0, cta2);\n      }\n      block = lines.join(\"\\n\");\n    }\n\n    // Não deixar CTA como última linha (remove a linha inteira se for CTA)\n    block = block.replace(/\\n(?:Si alguien|Guarden|Si de verdad|Déjenme una seña|Si estoy diciendo|Guarden esto)[^\\n]*\\s*$/i, \"\");\n\n    rebuilt.push(block.trim());\n  }\n\n  return rebuilt.join(\"\\n\\n\").trim();\n}\n\nconst AUTO_INJECT = true;\nif (AUTO_INJECT) t = injectCTAs(t);\n\nreturn [{ json: { text: t } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5504,224],"id":"f5ca90af-ceb7-4063-8020-b37b4d4331f0","name":"Post-processar Guion"}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Post-processar Guion","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Cartão em \"ROTEIRO ✅\"":{"main":[[]]},"Post-processar Guion":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Detector de Falhas":[{"json":{"execution":{"id":"68947","url":"https://darkdollar-n8n-webhook.hze78h.easypanel.host/workflow/IYYE88WlE44gcKLy/executions/68947","error":{"level":"warning","tags":{},"context":{"itemIndex":0},"functionality":"regular","name":"NodeApiError","timestamp":1755361627205,"node":{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=\"{{ $json.titulo }}\"\n\nPor favor, forneça o texto acima em Espanhol, utilizando nomes e expressões comuns entre os falantes de Espanhol em diferentes países, adaptado de forma a refletir a cultura compartilhada pelos diversos povos que falam a língua. Adapte nomes, locais e referências culturais de forma a serem naturais e reconhecíveis no idioma Espanhol, garantindo que mantenham relevância e ressoem com o público.\n\n#observação:Fazer alterações pontuais no Titulo sem mudar o sentido para nunca exceder o montante de 100 carateres,isso so deve ocorrer quando necessario.\n\nA saída deve ter o seguinte formato:\n\n{\n    \"Título\": \"{{ $json.titulo }}\"\n  }\n}\n\nCertifique-se de que a chave gerada siga o padrão exigido. NUNCA ultrapasse o limite de 100 caracteres para impacto ideal.\n\n\n","role":"user"}]},"simplify":true,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"96d8e927-f08c-47e9-a8fe-d2c8b3a8869d","name":"Tradução Título","credentials":{"openAiApi":{"id":"n4WalwSU2foIXybD","name":"OpenAi account"}}},"messages":["503 - \"upstream connect error or disconnect/reset before headers. reset reason: connection termination\""],"httpCode":"503","description":"upstream connect error or disconnect/reset before headers. reset reason: connection termination","message":"Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)","stack":"NodeApiError: Service unavailable - try again later or consider setting this node to retry automatically (in the node settings)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1476:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1762:11)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/transport/index.ts:44:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts:258:18)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/actions/router.ts:54:25)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_90fd06b925ebd5b6cf3e2451e17cc4b6/node_modules/@n8n/n8n-nodes-langchain/nodes/vendors/OpenAi/OpenAi.node.ts:16:10)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1187:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1536:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2100:11"},"lastNodeExecuted":"Tradução Título","mode":"integrated"},"workflow":{"id":"IYYE88WlE44gcKLy","name":"03-CRIA ROTEIROS - ESPANHA"}}}],"Iniciar Criação de Roteiro":[{"json":{"título":"A HISTÓRIA REAL DESSA VOVÓ Desmascara CRIME Na Mansão Do Chefe E Revela Diário SOMBRIO...","premissa":"Em Polanco, Regina, empregada doméstica de 62 anos que todos chamam de vovó, percebe que Amanda, 14, filha do celebrado advogado Eduardo, mudou: silêncio súbito, medos noturnos, retração. Ao arrumar a biblioteca, Regina encontra um diário escondido num fundo falso — caderno iniciado por uma antiga empregada desaparecida e continuado por diferentes mãos ao longo de décadas — que denuncia um ciclo de violência mantido sob a fachada perfeita da família. O segredo implode o mundo de Regina: denunciar significa pôr em risco o emprego, a moradia do filho e a bolsa do neto financiada pela fundação de Eduardo; calar é ser cúmplice do que corrói Amanda e a irmã Júlia. Dividida entre a necessidade de sobreviver e a urgência de proteger as meninas, ela se alia a Sônia, tia delas, que já fora silenciada pelo poder do cunhado.\n\nQuando o plano para tirar as garotas da casa ganha forma, surge a reviravolta que conecta passado e presente: entre as páginas, há cartas de Cristina, a mãe, escritas na adolescência, revelando que também tentou pedir ajuda e foi chantageada para proteger o império do marido. Hoje, Cristina finge não ver para sobreviver, mas tem deixado pistas a quem tiver coragem de agir. Percebendo o cerco, Eduardo aciona sua rede de influência, fabrica uma acusação de furto contra Regina e transforma a investigação em caça às bruxas. Com a segurança das meninas, sua própria liberdade e a chance de romper um legado de silêncio em jogo, Regina precisa apostar tudo numa denúncia pública capaz de derrubar um homem intocável. Na noite do resgate, porém, o diário desaparece — e a única pista é uma frase recém-escrita na última página: “Desta vez, alguém vai acreditar.”"}}]},"versionId":"af9573be-569b-4a7d-ab70-643064b1e941","triggerCount":0,"tags":[]}